[2020-05-21 12:54] 255kb opened #302 "Show Changelog modal when loading new version for the first time"
**Is your feature request related to a problem? Please describe.**
Discovering new features is not easy.

**Describe the solution you'd like**
App could automatically open the changelog modal when opening a new version for the first time.

What is needed:
- store in settings which version has been shown
- allow external links in release content
- write slightly more verbose Github releases

[2020-05-26 10:47] iron66 commented on #62
Also would be awesome to release it as npm package.
Imaging, mockoon in devDependencies, `start` script includes mockoon run, configuration and routes are stored in repo and shared with all developers. What an opportunity for development and testing

[2020-05-26 11:42] 255kb commented on #62
@iron66 I can imagine :) I already started some necessary refactoring in order to add a CLI. It's definitely on the roadmap now.

[2020-05-27 09:19] ksuedile opened #303 "Easy Mock Same route but diff query string val"
Hello,
it is difficult to make two mocks for the same route, i.e : /route?toto=1 & /route?toto=2

i would like to be able to mock easily two responses from the history even if the route is the same

[2020-05-27 09:27] 255kb commented on #303
Hi @ksuedile, it is not possible to declare a route with query parameters as they are not part of the route definition (but route params are: `/route/:id`). You can only declare one route `/route` and call it with different query params at runtime. That's why the auto mocking feature does not add them to the route declaration

[2020-05-27 09:27] #303 closed

[2020-05-27 09:32] ksuedile commented on #303
hi @255kb , i understand, but would it be possible to add a condition in the mock ?
i guess the gui is writing a nginx conf file.
So something like 'the query string path' (gui) => $args ~ "{the query string path}" (nginx)

[2020-05-27 09:36] 255kb commented on #303
It's not using nginx, but Node.js' [Express.js library](https://expressjs.com/en/guide/routing.html) where it is expressly indicated: "Query strings are not part of the route path."

However, if you want to serve different content depending on the query param you could set up two responses in the route with two different rules.
You can have a look at [this tutorial](https://mockoon.com/tutorial/mu

[2020-05-27 09:41] ksuedile commented on #303
Ok thanks for your quick reply.
I have seen the tutorial for the Rule, but it cannot make two active mocks at the same time, so it does not help me, unless i misunderstand

[2020-05-27 09:48] 255kb commented on #303
What do you mean by two active mocks?
If I understand what you want to achieve (maybe not :) ), you could:
- create a route `/route`
- create two status 200 responses in this route
- in each response, go to the rules tab, and set up a different query string rule, like this:
![Screenshot_1](https://user-images.githubusercontent.com/7489814/83004364-debb6c80-a00f-11ea-8628-32f553d22255.png)
![Screen

[2020-05-27 09:53] ksuedile commented on #303
ooohhh, i did not realize that IS the way to achieve what i want !
What a wonderful and complete tool you made.

Yes, i need two 200 responses with different body responses according to the query string.
Now, thanks to your example, i know how to do it.

Thank you a lot for the precisions :)

[2020-05-27 09:58] ksuedile commented on #303
another question not relative to the original title of this FR :
would it be possible to have a server version of mockoon ?
I mean a version without GUI or with a remote GUI.
The use would be to be able to use (and if possible create) mocks on a server application hosted on a test server

[2020-05-27 10:03] 255kb commented on #303
No problem, your question obviously indicates that some things are not clear enough and that I need to improve the documentation and write more tutorials 👍

Concerning your last question, a CLI is one of the most requested feature #62
So, it's on the roadmap, definitely, I just cannot give an ETA. I want to do it right and take the time to deliver something great. I already started refactoring som

[2020-05-27 21:02] #293 closed

[2020-05-29 06:29] 255kb commented on #302
Need to test how the latest release content is displayed

[2020-05-31 16:10] izerozlu commented on #250
Hey @255kb, I've began working on this issue. Mostly finished actually. Btw sorry for starting so late on the issue.

I'm curious about where to add testing for the functionality. Can you point me to some testing scenarios I could inspire from?

[2020-05-31 17:59] 255kb commented on #250
No problem, there is no deadline :)
For now there are only UI functional tests done with Spectron (Electron testing framework based on Webdriver).
You can have a look in the [test folder](https://github.com/mockoon/mockoon/tree/master/test/suites). A good example would be https://github.com/mockoon/mockoon/blob/master/test/suites/responses-rules.spec.ts which is focused on routes response rules bu

[2020-06-02 15:33] kriefsacha commented on #201
This is a very big issue.. I actually don't understand when you will need a OR condition on URL parameters ..

Need it as soon as possible please

[2020-06-04 18:56] T-e-j-k-u-m-a-r opened #304 "need the template or documentation"
**Describe the bug**
Unfortunaley changed the body for delete API call,
Kindly share the default value (json) present for the delete API call.

**To Reproduce**
Steps to reproduce the behavior.
The response body of the delete API call post installation was changed while exploring the app, But now can't revert back to the old settings. Need help

**Expected behavior**
A clear and concise descriptio

[2020-06-04 18:57] T-e-j-k-u-m-a-r commented on #304
Please share the documentation for sample code for DELETE, PUT request so that when made any changes to the default values(like response body, resource name
![mockoon](https://user-images.githubusercontent.com/54025065/83799378-54d06b00-a6c3-11ea-9eeb-709de9ac4044.PNG)
) we can revert back the changes by referring to the documentation.

[2020-06-04 19:09] T-e-j-k-u-m-a-r commented on #304
Tried to uninstall and re-install the the same version v1.8.0 hoping all the API request would be pre-loaded but unfortunately having the same old data. Need assistance in getting back only those api's which were present when installed mockoon for the first time.

[2020-06-04 19:50] #295 closed

[2020-06-04 19:51] #296 closed

[2020-06-04 19:58] JihanGao opened #305 "Cannot scroll in response drop down list"
I cannot scroll down the response drop down list if I add more than 14 mocked responses. How can I fix this problem
![image (1)](https://user-images.githubusercontent.com/12092464/83804509-41e67800-a67c-11ea-96a4-9e46138c303e.png)

[2020-06-04 19:59] #276 closed

[2020-06-04 19:59] #265 closed

[2020-06-04 20:17] 255kb commented on #304
Unfortunately, you cannot get back the demo environment from the interface.
One easy thing you can do is to wipe the storage (if you are not afraid to lose your data) by opening the application data folder (Help menu -> Show app data folder), navigating to `./storage` and deleting the `environments.json` file.

Or you can copy this JSON and import it with **Import/export -> Mockoon's format -> Imp

[2020-06-04 20:17] #304 closed

[2020-06-04 20:18] 255kb commented on #305
Apparently you cannot! You just found a bug.
This will be fixed for the next version.

[2020-06-04 20:30] 255kb commented on #122
After doing several tests it appears that the more helpers you add in the body the more memory is consumed during the call. This is apparently linked to the way Handlebars handle helpers. As I decided to stick with Handlebars for the templating (#253) I won't be able to solve this issue directly.

So, as you suggested I will add an option to disable templating on each route response #129

[2020-06-04 20:30] #122 closed

[2020-06-04 20:58] JihanGao commented on #305
Thanks for the reply. I am wondering how soon your team will give a new release.

[2020-06-04 21:00] 255kb commented on #305
Not before several weeks. There are still some things that are not ready for the next release.

[2020-06-04 21:05] JihanGao commented on #305
Okay. Thanks

[2020-06-07 09:28] #302 closed

[2020-06-07 20:32] 255kb commented on #278
After investigating a little bit I have the following feeling. It does not feel natural as route responses are selected based on rules, **after** a route has been matched. If your route response n° 1 is returned, it's because you are already under a matched route. Reverting back to the proxy needs to "go up" a level (going out of the matched route) and call the catch-all endpoint. This could add s

[2020-06-07 20:32] #278 closed

[2020-06-07 20:33] #305 closed

[2020-06-08 19:38] #230 closed

[2020-06-08 19:44] 255kb commented on #225
After thinking about it a little bit more I won't add scrolling through routes with arrow keys as many things could be scrollable at the same time: environments menu, routes menu, body, headers, rules, etc.
Route column resize (#104) will be available in v1.9.0 and the is a option in the settings that allows users to choose between truncation or word wraping for the route menu.
This should solve y

[2020-06-08 19:44] #225 closed

[2020-06-08 19:58] #287 closed

[2020-06-08 20:14] 255kb commented on #284
If I understand correctly, it seems you are trying to assess if a parameter is not present or empty. If present but empty you should be able to use the following regex for simple cases `^$|\s+`. However, there is currently no way to test if a parameter is completely missing. This will be done in issue #255 .
I am closing this one as a duplicate.

[2020-06-08 20:14] #284 closed

[2020-06-08 20:17] #254 closed

[2020-06-09 03:44] xiongxiong opened #308 "Support for moving an api from one environment to another environment"
**Is your feature request related to a problem? Please describe.**
I can't drag or move an api from one environment to another environment.

**Describe the solution you'd like**
Support for dragging api item.

**Describe alternatives you've considered**
Add a menu to api item for moving api item to another environment.

**Additional context**
Best API mock util I've ever used, good work.

[2020-06-11 08:19] 255kb opened #309 "Body editor undo history (ctrl+z) takes other route's bodies"
**Describe the bug**
When switching routes, the body editor keeps other route's body in the undo history. When ctrl-z are pressed you can have another route's body.

**To Reproduce**
Just switch between routes with different bodies, and press ctrl-z in one of the editor

**Expected behavior**
Editor should have different history for each route, or at least reset history on route switch (probably e

[2020-06-11 14:47] AleksejDix commented on #288
to make it work ref support is needed

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#referenceObject

[2020-06-12 06:58] 255kb commented on #288
@AleksejDix Ref support is already enable. The parser is already set to resolve all the refs. I have a working version for OpenAPIv2 I just need to find time to finish this for the v3 among all the other things 😄

[2020-06-12 07:03] Liero commented on #62
You might also consider more lightweight alternative: Just reference the CLI projekt in GUI prokjekt. All the common logic will be in CLI projekt. It does not mean that GUI must invoke CLI interface, you can directly reuse the code from CLI.

Anyway, I'm willing to contribute if you setup [Codespaces ](https://github.com/features/codespaces/) in this repository. It will be super helpful for those

[2020-06-12 07:07] 255kb commented on #62
@Liero this is true. But a library shouldn't be that complicated to create, and would maybe be cleaner.
I am already on it, and after I finish this iteration it will be my main focus

Concerning Codespaces, indeed it would be a good thing, but for now it's in closed beta and I cannot activate it for this organization/repository.

[2020-06-15 01:52] ramkumarkb opened #310 "Running Mockoon on "Headless" mode"
**Is your feature request related to a problem? Please describe.**
Mockoon is pretty awesome! One idea would be to be the ability to run just the Mockoon Server w/o the UI.

**Describe the solution you'd like**
It would be awesome to be able to develop locally using Mockoon and then do an export / import to a server environment to just run the Mockoon Server. The access to the server is usually vi

[2020-06-15 01:56] ramkumarkb commented on #310
Oops! I just realised that an issue - https://github.com/mockoon/mockoon/issues/62 is already open for the above feature.
I am therefore closing this a duplicate of that.

[2020-06-15 01:56] #310 closed

[2020-06-16 07:50] izerozlu commented on #308
@255kb do you think this would be a good addition? If so I would want to look into this.

[2020-06-16 08:09] AleksejDix commented on #288
@255kb this is great i tried it out and had several ref errors. ping me once you have a working demo. Will be happy to test.

[2020-06-16 12:50] monobasic commented on #257
Would be great! This is the only feature I am missing currently.

[2020-06-16 20:35] 255kb commented on #308
@izerozlu Sure that would be great. Would you mind joining the chat so we can discuss the implementation before you start?
https://spectrum.chat/mockoon

[2020-06-16 20:37] 255kb opened #311 "Environment logs request/response tabs are scrolling with the content"
**Describe the bug**
Environment logs request/response tabs are scrolling with the content but should stay fixed.

**To Reproduce**
Receive a long body and scroll

**Expected behavior**
Tabs should stay at the top

**Mockoon version:**

**OS / OS version:**
All

[2020-06-17 19:50] #311 closed

[2020-06-19 21:43] #129 closed

[2020-06-25 07:33] #250 closed

[2020-06-25 15:21] izerozlu commented on #308
Highlights with my conversation with @255kb are:
- A new context menu entry will be used instead of drag & drop.
- Route will be "duplicated" not "moved".
- A dialog will help user to select desired environment for the duplication.

[2020-06-28 20:04] 255kb opened #312 "Fix editor tab size inconsistency"
**Describe the bug**
Most tab size are set to 2 (example API, auto indent button, etc) but the editor is set to 4 spaces by default.

**Expected behavior**
Tab size should be two spaces

[2020-06-28 20:06] #312 closed

[2020-07-04 02:52] andy-ta commented on #292
I built a docker container with this! Of course not perfect nor production ready either, but seems to be working.

There's a few steps that has to be taken though considering that a person has to provide their own export.json, so they will have to build an image around my base image.

https://github.com/andy-ta/mockoon-cli for more details. I also created a pull request to yours :).

[2020-07-04 13:50] #300 closed

[2020-07-04 13:52] 255kb opened #313 "Improve data storage"
Data storage must be improved:
- extract storage code into a separated service
- wait for storage to complete before triggering another save
- wait for storage to load data before starting saving store's updates
- improve global error handler reporting
- delay application close event if saving is in progress (inform the user) --> need extra testing on mac

[2020-07-06 13:17] SebastianPfliegel opened #314 "Check for property existence in Rules"
**Is your feature request related to a problem? Please describe.**
The requests which I want to mock sometimes include certain properties and in some cases different properties (same route though). I need different rules when this property exists. Haven't found a solution for this, hope I'm not just stupid.

**Describe the solution you'd like**
Solution could be to leave value empty to only check

[2020-07-06 13:30] 255kb commented on #314
This issue is already tracking the problem of checking if a property simply exists or not, is empty or not: https://github.com/mockoon/mockoon/issues/255
For now, it seems that checking your `cancel` property against the following regex does the trick: `^$|\s+` (Do not forget to check the "regex" checkbox).

[2020-07-06 13:30] #314 closed

[2020-07-06 13:35] SebastianPfliegel commented on #314
Hah! Thought there might be a workaround (which did the trick!). Also searched for existing issues, but havent found them.

[2020-07-06 13:37] 255kb commented on #314
Actually, it's a weird side effect of the code 😄
Checking for emptiness on an object shouldn't be true IMO... But this is among the other things that need to be improved for responses rules!
At least it works for you in the meantime.

[2020-07-07 14:49] muya opened #316 "Allow List of Mocked Services to be Expanded Beyond 1st 2 Letters"
**Is your feature request related to a problem? Please describe.**
With the new UI having a collapsed list of mocked services, it's not always clear which service you're working with, given that one can only see the first 2 letters of the service Name

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It would be great if there was an option to keep t

[2020-07-14 08:58] devedist opened #318 "Setting multiple cookies does not work"
**Describe the bug**
When multiple Set-Cookie Headers are defined for a response, only the last defined is send to the client.

**To Reproduce**
Add multiple Set-Cookie headers with different payload to a route.

_route:_ `/login`
_response type:_ `200 - OK`
_headers:_
[code]
_body:_
`{"access_token":"{{guid}}","scope":"","token_type":"bearer","expires_in":299}`

The generated response contains on

[2020-07-14 19:29] TheDartCode commented on #299
Hey there!
I find Mockoon really awesome and helpful and would like to offer a hand whenever I am able to😄
May I start with this one?

[2020-07-15 09:53] 255kb commented on #299
Thank you for the kind words 😃 Sure you can help! I will assign the task to you and put it in progress in the roadmap.
Concerning the implementation, you will see that all the data comes from the store and leverage Observables as much as possible.
Go for the simplest and most straightforward implementation :)
However, as simple this improvement is, me must try to cover everything with UI automated

[2020-07-15 11:02] TheDartCode commented on #299
Great!
Thanks for the thorough guidelines. Talk to you in spectrum :)

[2020-07-19 20:54] 255kb opened #320 "v1.9.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows binary
- [x] Build Linux binaries (deb, rpm, snap, AppImage)
- [x] Build OSX binary (dmg)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2020-07-20 07:06] 255kb opened #321 "Rules values checked against other types than string are not triggered"
**Describe the bug**
When setting up a rule with a value, if the target is of different type (number, etc) the rule does not get trigger

**To Reproduce**
Create a rule (Body -> test = 1) with a value that target another type of primitive than string `{"test": 1}`

**Expected behavior**
The correct rule should be triggered

**Mockoon version:**
All

**OS / OS version:**
All

[2020-07-20 07:06] 255kb commented on #321
Maybe this will be solved when rule engine will be partly rewritten for #255

[2020-07-21 18:25] #313 closed

[2020-07-23 12:25] AleksejDix commented on #288
<img width="265" alt="Bildschirmfoto 2020-07-23 um 14 23 48" src="https://user-images.githubusercontent.com/8349161/88285950-416b7480-ccf0-11ea-98ed-e993e846d71e.png">

[2020-07-23 15:32] 255kb opened #322 "Some refs are not correctly resolved when importing OpenApi files"
**Describe the bug**
Some refs are not correctly resolved when importing OpenApi files, resulting in an error message (see screenshot).

**To Reproduce**
[Would need an example of the problematic file]

**Expected behavior**
OpenApi file should be imported successfully

**Screenshots**
<img width="265" alt="Bildschirmfoto 2020-07-23 um 14 23 48" src="https://user-images.githubusercontent.com/83491

[2020-07-23 15:33] 255kb commented on #288
@AleksejDix I created a new issue for this specific problem.

[2020-07-23 18:16] RyuSLunK commented on #175
I'm currently getting around this by adding https://github.com/mockoon/mockoon/blob/master/src/app/ssl.ts to my keychain access on mac. Just create a mockoon-cert.pem, add the .cert part of the ssl.ts to the file. Add the file to keychain access. Get Info and expand trust, trust always. Not ideal for me though because I already have a key-cert I'm using on my client that is trusted. And I also pro

[2020-07-23 21:09] #320 closed

[2020-07-24 06:49] 255kb commented on #280
@super-yolin version 1.9.0 is out, with new templates helpers based on Faker.js. Faker offers a Chinese locale which has at least names and addresses in Chinese.

[2020-07-24 06:53] super-yolin commented on #280
👌👍👍👍

[2020-07-24 06:54] 255kb commented on #280
There are not a lot of them I am afraid, but Maybe there will be more contribution to Faker.js in the future.
(To change the local just go to the app settings)

[2020-07-24 06:57] super-yolin commented on #280
better than nothing

[2020-07-29 14:06] muya commented on #316
Something similar to the resizing feature introduced here (#104 ) could also alleviate this

[2020-07-29 19:05] 255kb opened #323 "Backslashes in filepath are not playing well with templating helpers"
**Describe the bug**
When browsing for a file, path will use backslashes under Windows. This causes an error when using templating helpers.

`Error while serving the file content: ENOENT: no such file or directory, open 'C:\Users\username\Desktop{{ urlParam 'id' }}.json'`

**To Reproduce**
Try to use backslashes and a templating helper in the file path: `C:\Users\username\Desktop\{{ urlParam 'id'

[2020-07-29 19:39] 255kb commented on #322
After investigation, it's a case where some refs are missing from the file.
The behavior of the application cannot be changed, at least for now, as the library used by Mockoon to parse and dereference swagger/openapi files cannot ignore missing refs.

[2020-07-29 19:39] #322 closed

[2020-07-31 09:34] mikedevel opened #324 "File binary content is served as string"
Hi everyone, I'm trying to deliver an image through a mockoon endpoint.
I created the route and selected the image, but when I run the route the image is not displayed.
Up to a month ago this route worked perfectly.
Some idea?
Thank you

For clarity I have tried with different images and different formats (jpg, png, etc.) changing the Content-Type from time to time but no change to the result.
Wit

[2020-07-31 21:33] 255kb commented on #324
Hi @mikedevel, thank you for reporting this bug. After investigating, it seems that binary files serving is broken since 1.9.0
The fix is quite simple. This will be done for the next version (no ETA yet).

[2020-07-31 23:14] #321 closed

[2020-07-31 23:14] #201 closed

[2020-08-03 13:59] mufiio opened #325 "queryParam inside switch not working"
**Describe the bug**
Since mockoon version 1.9.0 there seems to be problem with using queryParam inside switch. For header and for example urlParam everything seems to be working fine, but for queryParam no matter of the query value provided in call, it always returns default json response. Outside switch queryParam is working as expected.

**To Reproduce**
Call for example: **GET /test?number=1**

[2020-08-05 03:23] ChenCyl opened #326 "Error when importing swagger v2 file"
**Describe the bug**
When importing following swagger v2 file JS throw an error "cannot read property 'split' of undefined"

**To Reproduce**

[code]

**Expected behavior**

cannot read property 'split' of undefined

**Screenshots**

<img width="267" alt="截屏2020-08-05 上午11 21 38" src="https://user-images.githubusercontent.com/27288153/89368460-2fd19600-d70e-11ea-848b-09f3c508f902.png">

**Mockoon

[2020-08-05 19:39] 255kb commented on #325
Apparently this is also the case for `queryParam` and `body` helpers. This will be solved. Also, it will be possible to request with either strings or numbers in a `case`: `{{# case '1'}}` or `{{# case 1}}`.

[2020-08-05 20:43] #325 closed

[2020-08-07 05:58] veN1337 commented on #318
This is not only the case for the "Set-Cookie" header but for all headers.
Even if [RFC-2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) says:

there a still many servers and clients which do not send them as a list but as single key-value pairs.

"Set-Cookie" even has a special treatment. See [RFC-7230](https://tools.ietf.org/html/rfc7230#section-3.2.2):

      appears multiple

[2020-08-17 19:48] #326 closed

[2020-08-17 20:11] maillouxc commented on #324
@255kb You said the fix is quite simple. Can you share the details? We need to to implement this in a local fork.

[2020-08-17 20:17] 255kb commented on #43
This won't be implemented for now. While it would be an interesting addition it didn't gather enough attention. Also, I don't want to mess up with users system files or configs.
If this gather more attention in the future (through votes) I will reconsider.

[2020-08-17 20:17] #43 closed

[2020-08-17 22:35] 255kb commented on #324
@maillouxc This has been fixed on this branch: https://github.com/mockoon/mockoon/tree/fix/binary-files
Let me know if something still doesn't work.

[2020-08-18 10:55] feraguiba commented on #324
This is a stopper for us too. In our case, the problem is with PDFs. Please, release the bugfix as soon as possible.

[2020-08-18 11:01] deepesh-vasthimal-cko opened #329 "Save json responses in separate file structure or folders to help in PR reviews of mockoon json"
**Is your feature request related to a problem? Please describe.**
we are currently storing the entire mockoon json in a git hub repo and when we change something and create a PR its difficult to review the exact change especially if this related to a json response as it all shows in in one line and difficult / impossible to review the PR.

**Describe the solution you'd like**
Is there a way to fo

[2020-08-18 19:35] maillouxc commented on #324
@255kb I appreciate the timely response, you saved the day. However, I have another problem. I'm trying to compile and run that branch, when I run `npm run serve` I get the error:

[0] ERROR in ../node_modules/@types/express-serve-static-core/index.d.ts:31:10 - error TS2305: Module '"C:/Code/CallMiner.Integrations/Mockoon/node_modules/@types/qs"' has no exported member 'ParsedQs'.
[0]
[0] 31 impor

[2020-08-18 19:39] maillouxc commented on #324
Nevermind, I cleaned and built again and it worked. Sorry!

[2020-08-18 19:40] 255kb commented on #324
@maillouxc This is strange I never encountered this error and cannot reproduce. Stupid question, did you run `npm install` recently?  Which version of node are you using?

Branch will be soon merged on master.
I heard you, I will shorten the delay before the next release :)

[2020-08-18 19:44] maillouxc commented on #324
Thanks for the responsiveness and timely support man. Once I get my project figured out and the feature I need implemented, I'll try to buy you a coffee.

[2020-08-18 19:48] 255kb commented on #324
@maillouxc You're welcome 😄
That would be rad! Buts seeing people using this app and enjoying it is already a tremendous reward.
Also: spread the word ❤️

[2020-08-18 19:52] #324 closed

[2020-08-19 15:14] yaruna-chan opened #330 "Can't select all routes"
**Describe the bug**
When clicking around in mockoon, I cannot select all routes for all environments. The first environment's routes works fine,but for all the others, I can only select the very first route unless I press "add route" and then I can click on all routes, until I delete the new route or select a new environment

**To Reproduce**
Steps to reproduce the behavior.
Not sure
I have 9 env

[2020-08-19 18:43] 255kb commented on #330
This is quite odd. Did you create the routes normally, or did you modify the data file?
Also, if you could share the data file here (or anonymously support@mockoon.com) it would help a lot.
You can find it by clicking the Help menu -> Show app data folder. Navigate to ./storage/environments.json

[2020-08-19 18:57] #323 closed

[2020-08-20 06:23] yaruna-chan commented on #330
All routes have been added via the UI, though I don't know in which version I started adding them. I've been using mockoon for about a year I think.
Attaching enviroments file:
[environments.json.txt](https://github.com/mockoon/mockoon/files/5101039/environments.json.txt)

I also noticed now that when I move between some of the environments with only one route, it still displays the route that I p

[2020-08-20 06:43] 255kb commented on #330
It seems that some routes does not have an uuid, this is a bug I never encountered. Maybe something went wrong during a migration, but I cannot see what.
I fixed the file:
[environments_fixed.json.txt](https://github.com/mockoon/mockoon/files/5101130/environments_fixed.json.txt)
You need to copy paste the content or replace the environments.json file in your storage folder (first close the app) an

[2020-08-20 06:43] #330 closed

[2020-08-20 14:24] deepesh-vasthimal-cko commented on #329
file path supports this in v1.9.0.

[2020-08-20 14:24] #329 closed

[2020-08-20 14:41] 255kb commented on #329
Indeed the file serving is a good candidate for this 👍

[2020-08-20 15:29] maillouxc opened #331 "Handlebars helper to convert to base64"
It would be useful to have a handlebars function to convert the output to a base64 string.

I have discussed with you via email, and I will be opening a pull request for this change shortly.

[2020-08-20 21:09] #331 closed

[2020-08-21 05:41] yaruna-chan commented on #330
You've saved me so much pain. Thank you, it helped :)

[2020-08-21 11:08] 255kb opened #333 "Remove API prefix when auto-mocking"
**Is your feature request related to a problem? Please describe.**
When auto mocking, the newly created route contains the API prefix.
If a call is made to `/api/non-existing-route`, the route will be created with `/api/non-existing-route` as path, even if `/api` is already defined as the prefix.

**Describe the solution you'd like**
Detect that a prefix is already set and create the route without

[2020-08-21 11:09] 255kb opened #334 "Auto focus path input when a new route is created"
**Is your feature request related to a problem? Please describe.**
When a new route is create the first thing to be done is to enter a path. Without auto focusing the path input it's quite cumbersome.

**Describe the solution you'd like**
Auto focus the path input when a new route is created.

[2020-08-23 12:26] 255kb opened #335 "Environment logs layout broken when displaying long binary body"
**Describe the bug**
When displaying a long binary body in the env logs the whole layout is broken due to wrong CSS word-break

**To Reproduce**
Send long binary body and open env logs

**Expected behavior**
Layout should not be broken

[2020-08-23 19:26] #335 closed

[2020-08-26 20:35] 255kb opened #336 "Disable export when no environment is present"
**Describe the bug**
When no environment is present, export menu entries are still "active"

**To Reproduce**
Remove all envs, open the menu

**Expected behavior**
Menu should be disabled

[2020-08-26 21:08] 255kb opened #337 "Fix JS crash when Mockoon's format export dialog is cancelled"
**Describe the bug**
When export dialog is cancelled JS crash due to the absence of path

**To Reproduce**
Open the dialog and cancel

**Expected behavior**
Crash should not happen

**Mockoon version:**
All

**OS / OS version:**
All

[2020-08-27 18:44] #337 closed

[2020-08-27 18:44] #336 closed

[2020-08-27 19:03] #288 closed

[2020-09-03 18:23] amjd commented on #16
@255kb I'm also very interested in this feature. I know it's in the roadmap, but is there any chance that you have planned any timelines around it?

[2020-09-03 19:04] 255kb commented on #16
Sorry, no ETA for now. I am currently working on the CLI, and some changes may be required that directly impact this ticket or even solve it.

But I would said end of the year or early next year is reasonable.

[2020-09-04 11:55] sergheev opened #338 "Add support for properties containing dots in rules"
**Describe the bug**
In my application I have route related.role=owner, but when I want to create a rule with query string in mockoon with name: related.role and value: owner
It is not work because I use a dot between related and role, in case of comma it is work as expected.
Please review.

A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-imag

[2020-09-12 20:02] 255kb opened #339 "v1.10.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2020-09-12 20:13] #334 closed

[2020-09-16 07:58] sleepypikachu commented on #333
Can I pick this up @255kb?

[2020-09-16 08:03] sleepypikachu commented on #318
Should we support this for all keys or just `Set-Cookie` (or some defined set of similar headers)?

[2020-09-16 08:08] 255kb commented on #333
@sleepypikachu Sure you can! Be sure to add the corresponding tests :)

[2020-09-16 08:12] 255kb commented on #318
@sleepypikachu I/we need to investigate how Express/Node.js handle headers. I think only "Set-Cookie" can be an array, other would need to be sent as semicolon separated list.

[2020-09-16 08:13] #339 closed

[2020-09-17 09:03] JanithaR commented on #201
[Here](https://mockoon.com/docs/latest/multiple-responses/) in the documentation, it is mentioned that there's a button to the left of the rules but I do not see it on my installation. I'm using Mockoon v1.9.0 on Mac.

[2020-09-17 09:04] 255kb commented on #201
@JanithaR It has been added 2 days ago in v1.10.0! You should do an update :)

[2020-09-17 09:14] JanithaR commented on #201
Excellent! Thanks.

[2020-09-30 00:59] gabrielperes97 commented on #209
Hi again @255kb . Can we add the auto restart feature to any restart require case?  Should we add a config parameter to enable the auto restart?

[2020-09-30 01:04] gabrielperes97 commented on #209
I can work on this feature. Can you assign it to me?

[2020-09-30 06:11] 255kb commented on #209
Hi @gabrielperes97 Sure you can work on it, I will assign it to you.
Regarding the implementation here is what I have in mind:
- like you said, a new setting to enable the auto-restart. Off by default. (do not forget to add a small settings "migration" in the settings.service)
- once the reducer mark the API with `needRestart` we should react to it, so probably by subscribing to this part of the s

[2020-09-30 06:19] 255kb commented on #292
Marked this issue as blocked, we need to wait for #62 to be done, so we can actually wrap it in a docker file.

[2020-09-30 06:51] 255kb commented on #251
Regarding the implementation, idea would be to add a new menu entry "Export current environment". This would be equivalent to right clicking on the environment menu entry and select copy to clipboard. It would export only the current environment.

[2020-10-01 13:28] sleepypikachu commented on #333
Sorry for delay, picking this up now. What is auto mock mode/How do I enable it? Cannot see a mention of it in the docs or UI 🙈

[2020-10-01 13:34] 255kb commented on #333
No problem 😄
Yes it may not be obvious. In the environment logs page https://mockoon.com/docs/latest/requests-logging/ there is a small "+" icon which automatically creates a route. When a global prefix is here, it will create the route with the prefix.
The fix should be quite "easy", checking if an env prefix is present, and removing it from the newly created route's path.
Don't forget to add an

[2020-10-03 22:30] gVirtu commented on #251
Ah, I started using Mockoon recently and was looking for this feature.
If it's okay, I'd be down to implementing it. :)

[2020-10-05 06:35] 255kb commented on #251
hi @gVirtu you're welcome to contribute :) I assigned the task to you.

Concerning the naming I think it's good like you did, it's clear enough. Do not forget then to update the test helper `sendWebContentsAction`.

[2020-10-05 18:30] #333 closed, assigned to sleepypikachu

[2020-10-05 18:43] 255kb opened #341 "Fix issue with tests not running locally due to the new splashscreen"
**Describe the bug**
Tests are not running properly locally due to the splashscreen.

**To Reproduce**
Run the tests locally, it may be erratic, launching the main window but failing getting access to it.

**Expected behavior**
Tests suites should run properly, opening and closing the app without any issue

**Mockoon version:**
v1.10.0

**OS / OS version:**
macOS and Windows at least

[2020-10-05 19:36] #341 closed

[2020-10-06 06:54] lukefx opened #342 "MongoDB's ObjectId support on templating"
When using MongoDB, ObjectIds are used as Id, I use them in an API and this templating feature will save me a lot of time.

**Describe the solution you'd like**
I added a template function to generate random [ObjectId](https://docs.mongodb.com/manual/reference/method/ObjectId/#description), they look like: 507f1f77bcf86cd799439011

https://github.com/mockoon/mockoon/compare/master...lukefx:templat

[2020-10-06 07:33] 255kb commented on #342
Thank you for opening this issue @lukefx
Feel free to open a PR so I can review this properly.
Concerning the tests I can add them if you want, it will probably take way less time for me as I wrote them 😃 .

[2020-10-06 07:37] lukefx commented on #342
Thank you @255kb, I would love to understand a bit how you test the app to maybe contribute more in the future but the templating tests are based on some json, how do you test functions that return random values?

[2020-10-06 07:38] 255kb commented on #342
Would you mind joining the chat? https://spectrum.chat/mockoon?tab=posts
It will be easier :)

[2020-10-08 19:08] #342 closed

[2020-10-09 11:11] feraguiba opened #345 "Response colors"
When you add a response to a route, the content-type is not set and therefore the response is not colored according to the content-type.

[2020-10-09 11:25] 255kb commented on #345
Hi @feraguiba, could you please elaborate a bit, I am not sure I understand what the issue is?
Also, it would be great if you could modify your issue to follow the issue template. Thank you

[2020-10-09 12:20] feraguiba commented on #345
I was capturing screenshots and I realized I hadn't set the response content-type.
When I set the content-type the response was correctly syntax highlighted, so I close the bug. I had in mind that in previous versions the response was being automatically syntax highlighted???

[2020-10-09 12:20] #345 closed

[2020-10-09 12:46] 255kb commented on #345
There is no default content-type on routes. However, you can set global environments headers (click on the "cog" icon in the upper right corner). The route content-type (and thus the syntax highlighting) is either taken from the global content-type header, or the route's content-type header if provided.

[2020-10-12 20:26] #251 closed

[2020-10-13 07:21] travishao commented on #208
Can XPath  be introduced to solve this problem?

[2020-10-13 08:16] paulsavoie opened #347 "Support multipart/form-data values in targets in rules"
**Is your feature request related to a problem? Please describe.**
I cannot return different responses depending on values in the request body if the request is in a multipart/form-data encoding.

**Describe the solution you'd like**
Support selecting values from multipart/form-data request bodies when defining rules for response selection.

Describe alternatives you've considered
Haven't found an

[2020-10-13 08:21] 255kb commented on #347
Hi @paulsavoie it's true that Mockoon does no support yet `multipart/form-data`, only `application/json` and `application/x-www-form-urlencoded`.
Could you please edit your issue and follow the feature template? Thank you

[2020-10-14 08:14] codingcircus commented on #90
I created a PR for this: https://github.com/mockoon/mockoon/pull/348

[2020-10-14 08:18] 255kb opened #349 "Electron 12/14 migration"
**Is your feature request related to a problem? Please describe.**
Since Electron 10 `enableRemoteModule` is set to `false` by default. It will be completely deprecated with Electron 12 or 14: https://github.com/electron/electron/issues/21408
This breaks the following features:
- `electron-json-storage` which needs to access the user data path.
- various uses of `electron.remote.dialog` to open fi

[2020-10-14 12:46] 255kb opened #350 "Electron 10 / Spectron 12 migration"
**Is your feature request related to a problem? Please describe.**
We are still stuck to Spectron 6 due to migration from WebdriverIO from v4 to v5 (selectors are not anymore first param of most functions)

**Describe the solution you'd like**
Do the code migration to support Electron 10 and Spectron 12

[2020-10-15 23:13] guilhermecgs opened #351 "Question: Repeat up to X minute"
Hi folks,

Is there a way to repeat an array x times, where X is the number of minutes in current timestamp?

Example: now = 18h 25m -> repeat 25 times

What I want is to simulate an array increasing its size over time.

[2020-10-15 23:13] guilhermecgs commented on #351
`{{# repeat {{now 'mm'}}) }}`

did not work

[2020-10-16 06:00] 255kb commented on #351
hi @guilhermecgs
It should work like this:

[code]

You cannot have multiple nested `{{ }}` but you can use multiple helpers inside, and use the parenthesis to define the precedence.

[2020-10-16 06:00] #351 closed

[2020-10-16 08:48] 255kb commented on #350
Waiting to update Electron to include this fixe(s)
https://github.com/electron/electron/issues/22119
https://github.com/electron/electron/pull/25869

[2020-10-16 10:52] sayjeyhi opened #352 "exporting to OpenAPI v3 makes empty content"
**Describe the bug**
I have an environment with about 50 routes and every route has a success and failure response.
When I try to export the environment to an OpenAPI v3 version, the generated file does not contain the
routes responses and just have `"content":{"application/json":{}}` like below:

[code]

**To Reproduce**
It exists even in the sample testing environment.

**Expected behavior**
I t

[2020-10-16 14:37] #90 closed

[2020-10-17 07:52] sayjeyhi commented on #352
for now, I applied a few changes to `convertToOpenAPIV3` method and fixed my export.
the detail could be accessible here:
https://github.com/sayjeyhi/mockoon/commit/d489ff19a953cf0af27bca4390ff5e9daa19403c

[2020-10-19 19:41] 255kb commented on #352
Hi @sayjeyhi thank you for opening this issue. It's in fact not a bug but a missing feature.
It seems that we can easily use the `examples` property to add this. I expected having to deal with schemas and definitions but it may be easier.

[2020-10-20 18:37] hmalatini commented on #48
Same here. Few days ago started to response with delay of avg 1 second. OS is Widnows 10

[2020-10-20 18:41] hmalatini commented on #48
I fixed it disabling CORS feature. Now it works well. Probably there is something with the performance related with CORS

[2020-10-21 12:08] 255kb commented on #48
Hi @hmalatini
It is strange that disabling CORS feature solved the problem as it basically answers 200 to all OPTIONS calls. Nothing really fancy here.
Also, I was never able to reproduce this or get any setup that allows me to do so. Do you use any third party software that could interfere, like Fiddler?

[2020-10-21 13:07] hmalatini commented on #48
@255kb
Yes, it is really weird. But is basically what I did for get responses fast again. I don't use any third party software that can interfere. If I can help you with something, just let me know

[2020-10-21 13:10] 255kb commented on #48
Could you try to reproduce and send me the relevant data (through export menu) if possible. Also, knowing which app/browser you used to call the endpoints would be useful.
Thank you

[2020-10-21 14:10] hmalatini commented on #48
Yes, I could reproduce it. In fact, I can realized of something weird. The solution has nothing to do with CORS. I made a video for show the steps that I did for reproduce it, and how I fixed it. Can we talk via email and I can show you what I did? For security reasons, I can't pass the mocked data that I did for test because it is confidentially of my company.
My browser is: Versión 86.0.4240.75

[2020-10-21 14:36] hmalatini commented on #48
I have joined the spectrum chat! We can continue there! Thanks!

[2020-10-21 18:22] #350 closed

[2020-10-22 20:41] sayjeyhi opened #354 "Adding request examples to response"
Hi there,
If we export the environment to open API we need to have examples to the request too. Because there could be a need in which someone works with a team and that team uses postman collections. As we know we could convert open API v3 to postman collections or other formats, and in postman, we could have an example with request and response.
if there was a section in adding routes to set an

[2020-10-23 03:37] zelenovas opened #355 "Need add couple functions for getting shifted date and time"
**Is your feature request related to a problem? Please describe.**
Need add couple functions for getting shifted date and time (e.g. 1 hour before now OR yesterday date but 1 year ago).

**Describe the solution you'd like**
for time:
[code]
for date:
[code]

**Describe alternatives you've considered**
Haven't found any alternatives.

**Additional context**
No.

[2020-10-29 12:57] Thanakorn-ki commented on #269
Oh, that awesome feature.

[2020-10-29 13:09] aaashutosh opened #357 "Maximize mockoon application window."
**Is your feature request related to a problem? Please describe.**
It's frustrating when every time I open Mockoon and it takes up like weird amount of window space with no option to maximize or snap it to one side of the screen.

**Solution I'd like**
Ability to maximize the application window (the ability to snap the window to one side of the screen would be appreciated :) ).

**Alternatives con

[2020-10-29 19:54] 255kb commented on #357
Hi @hakanohi this should definitely works 😲 I will investigate!

[2020-10-29 19:57] 255kb opened #358 "Angular 11 migration"
We should update to Angular 9+ (so, 11).

First need to investigate if Angular libs will still work after Ivy:

- [x] @angular/fire
- [x] @ng-bootstrap/ng-bootstrap
- [x] ngx-markdown
- [x] ng2-ace-editor
- [x] ng2-dragula (WIP https://github.com/valor-software/ng2-dragula/pull/1023 but project seems abandoned, this could be used instead https://material.angular.io/cdk/drag-drop)

[2020-11-01 01:32] strarsis opened #359 "Pass-through"
**Is your feature request related to a problem? Please describe.**
It would be nice to allow Mockoon to pass-through all non-matching HTTP requests, e.g. to a sandbox/production API server.

**Describe the solution you'd like**
A passthrough rule (that can be also applied globally) for a HTTP API server to which all non-matching requests should be passed to.
Alternatively, a feature to "clone"/rec

[2020-11-02 07:15] 255kb commented on #359
You can already achieve this with the [proxy mode](https://mockoon.com/tutorials/partial-mocking-proxy/) 😃
Do not hesitate to join us on the [chat ](https://spectrum.chat/mockoon) if you have any question!

[2020-11-02 07:15] #359 closed

[2020-11-02 16:18] #269 closed

[2020-11-05 20:01] 255kb opened #360 "Migrate from TSlint to ESlint"
**Is your feature request related to a problem? Please describe.**
TSlint is deprecated, we could/should migrate + we need eslint config for commons and CLI

**Describe the solution you'd like**
migrate from tslint to eslint

[2020-11-05 22:44] #360 closed

[2020-11-09 21:09] 255kb opened #361 "v1.11.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2020-11-10 12:13] sateeshd7 opened #363 "Proxy per route based on Rule"
**Is your feature request related to a problem? Please describe.**
We use Mockoon especially to handle the Negative scenarios for the external API Integrations and with the help of mockoon would like handle both positive and negative scenarios based on Rules to forward the request to Proxy or not.

**Describe the solution you'd like**
The same way Status, Headers and Responses are provided per Res

[2020-11-10 20:54] 255kb opened #364 "Fix splash screen transparency issues on Linux"
**Describe the bug**
Splashscreen is not transparent on Linux. This was temporarily solved by commit 22611e513af422e321d2d345981e89454bb77044 but doesn't work anymore

**To Reproduce**
Launch the app

**Expected behavior**
Splashscreen should be transparent, or if cannot be solved, image should have a *beautiful* background.

**Mockoon version:**
1.10.0+

**OS / OS version:**
Linux, Windows 7

[2020-11-11 19:51] 255kb opened #365 "Fix breaking layout when resizing the window"
**Describe the bug**
When resizing menus and window content layout can break due to usage of responsive `row` and `col` classes.
We need to get rid of these once and for all.

**To Reproduce**
Resize

**Expected behavior**
Shouldn't break

[2020-11-12 19:47] #365 closed

[2020-11-12 21:19] #361 closed

[2020-11-16 14:54] SubZane opened #366 "Templating added on import?"
It seems to be somewhat implemented. {{faker 'random.number'}} is added on numbers, but so many values are empty it would be really nice to get some dummy data on all of them. Adding it manually on every endpoints really takes alot of time.

Is this possible now, and I just missed it?

[2020-11-16 14:58] #366 closed

[2020-11-17 05:53] avifatal opened #368 "In the logs, the jsons are not prettyfied"
continuing from: https://github.com/mockoon/mockoon/discussions/367
Hi,
When I'm looking at the logs. I try to view the JSON body.
The colors are working, but it appears to be in one row, which is impossible to read.
Is this a bug?
Images attached below.
![image](https://user-images.githubusercontent.com/12430740/99351799-1235d000-28aa-11eb-88d4-0bbc887ca265.png)

![image](https://user-images.gith

[2020-11-17 07:19] 255kb commented on #368
@avifatal Thank you for opening this issue. Could you please edit it so it follows the issue template? https://github.com/mockoon/mockoon/issues/new?template=Feature_request.md
Thank you 👍

[2020-11-17 15:40] mufiio opened #371 "Displayed parsing error pop-up for valid json"
**Describe the bug**
Since new mockoon version (1.11.0) calling endpoint with header **Content-Type: application/json** results in displaying parsing error pop-up. On version 1.10.0 for exactly the same environment settings pop-up is not displayed.It seems like it's just UI issue on mockoon side, because inside application even due to error, everything is parsing correctly.

**To Reproduce**
Call

[2020-11-17 16:00] 255kb commented on #371
Since v1.11.0, error reporting has been improved a little bit and most parsing errors are not blocking anymore. Also, the popup you got is a parsing error of the **entering** request's body, not your mock body which is correct. You may want to look at what has been sent to Mockoon by looking at the environment logs ("clock" icon in the upper right corner, [more info in the docs](https://mockoon.co

[2020-11-17 16:21] #371 closed

[2020-11-17 16:21] mufiio commented on #371
Okay, good to know about it. Checked this again based on above information and indeed found the issue on my side. It was caused by the fact that some of the request even though without body had sent Content-Type that was application/json which in that case is not correct approach, hence the error on mockoon side. (Indeed improved :) )
Sorry to bother, can be closed.

[2020-11-17 16:25] 255kb commented on #371
Ah yes, this can cause an error too. It was complex to choose between too many errors and not enough. I always hope that I've found the right balance 😄

[2020-11-20 00:22] fabiobarboza7 opened #373 "Mock image/S3 forbidden access"
Right after the last uptdate to mockmoon 1.11.0 mock images are getting aa 403 HTTP code as can be seen below:

![Captura de Tela 2020-11-19 às 21 17 45](https://user-images.githubusercontent.com/39923194/99740233-51803e80-2aad-11eb-99b4-76681e2fba18.png)

[2020-11-20 07:35] #373 closed

[2020-11-27 09:49] 255kb opened #375 "Add new `setVar` helper"
**Is your feature request related to a problem? Please describe.**
Synchronizing templating helpers (`{{faker ...}}`) is not possible yet and quite complicated to achieve.

**Describe the solution you'd like**
One alternative could be to create a `var` or `setVar` helper that allows to create a local variable that can be reused later.
Like `{{setVar 'newUUID' (faker 'random.uuid')}}`.
To be used l

[2020-11-30 04:20] bruce-c-liu commented on #48
Hi, has there been any updates on this? I'm on macOS Catalina. With latency set to 0, a simple GET is taking 6-1500ms. 😭

[2020-11-30 08:22] 255kb commented on #48
hi @bruce-c-liu
Unfortunately no, we were unable to reproduce this on our setups, nor to find a pattern. We don't get many reports of this issue, and it seems that it's not always the same problem among the reports: random slowness vs 2 seconds slowness on all calls.

[2020-11-30 09:49] 255kb opened #376 "Set NODE_ENV production to increase server performances"
**Is your feature request related to a problem? Please describe.**
Performances, especially serve throughput, could be improved by setting NODE_ENV to production

**Describe the solution you'd like**
Set NODE_ENV to production

[2020-12-01 04:46] bruce-c-liu commented on #48
Hmm, that's unfortunate. FYI, restarting the environment at least fixes this issue for about 10 minutes. Then, the problem I had starts happening. Perhaps it's some kind of memory leak.

[2020-12-01 13:26] volkerrichert opened #377 "Mocks added by clicking the add mock button will be added to the end of the list"
If a new mock is added by click in env log

![image](https://user-images.githubusercontent.com/640914/100746212-b2c6dc80-33e0-11eb-89a8-1ccf42ee38a0.png)

 it will be added to the end of the mock list. After starting the mock server this mock will not be used if it's based on a mock with a route parameter.

![image](https://user-images.githubusercontent.com/640914/100746403-f0c40080-33e0-11eb-8fde

[2020-12-02 14:24] fernandofreicho commented on #288
I tried with the yaml of this post in the last version and it still doesn't work

[2020-12-02 14:51] 255kb commented on #288
@fernandofreicho Good catch, my code does not work for `default` responses. I will open a new issue to follow this.

[2020-12-02 14:53] 255kb opened #378 "Generate body example from OpenAPI default route response"
**Describe the bug**
When a route response contains only a `default` response, no body example is generated.

**To Reproduce**
Try to import this file:

[code]

**Expected behavior**
Even for default response, a body example should be generated. We should also merge this with the default 200 that is automatically created.

**Mockoon version:**
all

**OS / OS version:**
all

[2020-12-02 16:24] fernandofreicho commented on #288
I'm using this file
[Swagger_CIP.txt](https://github.com/mockoon/mockoon/files/5630626/Swagger_CIP.txt)

[2020-12-02 17:00] 255kb opened #379 "OpenAPI body example not generated when response Content-Type contains charset"
**Describe the bug**
When a response's COntent-Type contains the charset, no body example is created.

**To Reproduce**
Import a file withe the following kind of response:
[code]

**Expected behavior**
OpenAPI parser should check that the Content-Type contains 'application/json' and not expect an equality,

[2020-12-02 17:01] 255kb commented on #288
@fernandofreicho Thanks for sharing, I see, I didn't expect the charset in the content-type 😄 . I created another issue: https://github.com/mockoon/mockoon/issues/379

[2020-12-04 07:44] 255kb commented on #48
While the app may not have the best performances I didn't notice any big memory leak under a normal usage (i.e. connected to a front-end app that perform requests like a normal front-end app 😄 ). Maybe under heavy load? What is you typical usage?

[2020-12-11 15:43] 255kb opened #664 "Add `logs` command"
**Is your feature request related to a problem? Please describe.**
Opening the user folder to see the logs is not the most practical option.

**Describe the solution you'd like**
A `logs` command could be added. It could behave like `docker logs`

[2020-12-12 20:40] #376 closed

[2020-12-14 10:15] mariantirlea commented on #255
+1

[2020-12-15 19:35] #299 closed

[2020-12-16 20:22] bhagatparwinder commented on #83
This will be a game changer!

[2020-12-16 20:24] bhagatparwinder opened #386 "Allow a setting option to keep environment panel expanded at all times"
**Is your feature request related to a problem? Please describe.**
Currently, the environment panel stays collapsed by default. There is no option to keep it expanded.

![image](https://user-images.githubusercontent.com/6809087/102402429-59e37080-3faa-11eb-8f85-30dad445ed7d.png)

**Describe the solution you'd like**
A settings option will be great

[2020-12-16 20:31] 255kb commented on #83
@bhagatparwinder I am curious, what type of behavior do you expect when mocking websockets? What would be the most useful for you?
Depending on the answer the implementation may be more or less complex.
It could be the same message (body) sent on each request, different messages depending on rules, etc
As a first step I would go for the simplest implementation, but it also needs to be useful.

[2020-12-18 05:45] bhagatparwinder commented on #83
I do agree with the simple approach first and build upon it later. A local socket that can provide the same body, to begin with. This would allow an application to load and a developer could work on part of the sites like UI and UX.

Eventually, if it could randomize the output each time using faker or chance that would be awesome!

[2020-12-18 13:50] 255kb commented on #83
@bhagatparwinder Thank you for your feedback 👍
Templating would be supported of course, so we could even be able to conditionally change the response message depending on the `{{body}}` helper using `{{if}}` or `{{switch}}`.

[2020-12-23 14:41] suvhsmnt opened #391 "Add concat templating helper"
`**Is your feature request related to a problem? Please describe.**

my request body is
[code]

and i want my response body to be

[code]
I have done

[code]

**Describe the solution you'd like**
Create a `concat` Handlebars helper to be able to use `@index` inside any other helper parameters

[2020-12-23 15:18] 255kb commented on #391
The syntax you are using is invalid. You cannot have imbricated `{{ }}`. And `faker` is actually for using helpers from [Faker.js](https://github.com/Marak/faker.js).
Also, I am afraid you cannot get "any" index you want in the array. You need to actually provide it to the `body` helper:
`body 'A.0.test'`
The only way to achieve what you want to do would be to concatenate the `@index` variable ava

[2020-12-24 02:14] suvhsmnt commented on #391
thanks for replying can you please tell me till when should i expect the **helper concat**  ?? thanks in advance

[2020-12-24 07:06] 255kb commented on #391
Don't expect something before end of January at least.

[2020-12-24 16:03] didien opened #392 "Faker date formatting not as expected"
**Describe the bug**
When using the `{{faker 'date.recent'}}` helper, the expected result is something like `"2020-12-24T03:06:43.847Z"` (as explained in Faker.js' doc) but I'm getting something like `Thu Dec 24 2020 14:22:55 GMT+0100 (Central European Standard Time)`.

**To Reproduce**
Use a template like this one :
[code]

**Expected behavior**
I'm expecting an ISO formatted date as vanilla Fake

[2020-12-26 20:02] izerozlu commented on #308
@255kb I know that it's been quiet a while since I've picked up this issue. Just wanted to inform that I'm still interested in implementing it.

[2020-12-27 02:20] sotcha commented on #257
Hi guys, I have been developed this feature for personal usage since I found this useful. But unfortunately, I didn't manage to create a pull request.

The solution is similar to @255kb proposal.

#### The functionality is:

1. A button opens filtering input filed
2. The filtering is applied while typing in the routes paths
3. Close button or _escape_ key will reset and close the filter

![recordi

[2020-12-28 13:13] 255kb commented on #308
@izerozlu No problem, take your time! 😃

[2020-12-28 13:15] 255kb commented on #257
hi @sotcha Thank you for the suggestion and proposal. But I already have something working on a branch. Same behavior, but different UI. I am glad we are aligned on this 😄
I just didn't have time to finish it since we were really busy on the mockoon/cli.

It will be in the next release.

[2020-12-29 23:07] #391 closed

[2021-01-01 20:27] #378 closed

[2021-01-01 20:27] #379 closed

[2021-01-03 17:46] 255kb commented on #392
Mockoon is not reformatting Faker's output, I am curious where you saw the `date.recent` format, I don't see it in [the docs](http://marak.github.io/faker.js/faker.date.html#-static-recent__anchor). In fact, when looking at the [code](https://github.com/Marak/faker.js/blob/master/lib/date.js#L80) it seems that this is the expected output.

Currently, using Mockoon's own `date` or `now` helpers is

[2021-01-03 17:46] #392 closed

[2021-01-03 18:32] izerozlu commented on #386
@255kb is this a valid request by your side? If so where would the option to pin the environments be?

[2021-01-03 21:27] 255kb commented on #386
@izerozlu Yes definitely. I can imagine that the UI I chose for the collapsed menu may not be good for everyone, so there is room for improvements.
I would keep it collapsed by default and add a new checkbox in the settings modal.
It will require a lot of testing to see if everything plays well, especially when resizing the routes and logs columns, the main window, etc
We could also make it resiza

[2021-01-08 00:55] sotcha commented on #355
This is a really nice feature but I don't get why should be a **timeShift** and a **dateShift** and not a **dateTimeShift**.

I mean the **dateTimeShift** covers the case where I want to shift 1 day and 2 hours.

[2021-01-11 13:44] meinto commented on #48
Same problem here. I have an environment with a single `POST` route. The response time is between 40ms and 1.5 seconds. But response times below 100ms are extremly rare. Mostly they are in a rage between 300ms & 1.5s.

I'm on MacOS Catalina.

[2021-01-11 14:53] filipebraida opened #397 "Resending text with characters such as quotation marks and newlines"
I created a template that resends a parameter received via POST to the client. However, the text has quotation marks and line breaks. In my client who gets this message, it seems that he interpreted and in this way resent without escaping.

**Example**:
<img width="1592" alt="Screen Shot 2021-01-11 at 11 52 18" src="https://user-images.githubusercontent.com/2746730/104197185-7769f580-5403-11eb-83f

[2021-01-13 09:01] 255kb commented on #48
@meinto This issue is very strange. We investigate this from time to time and are unable to find a root cause.
However, I found some discussions regarding slowness with NodeJS and DNS resolving on localhost. Have you tried calling the mock API with `http://127.0.0.1:port`, instead of `localhost`?

[2021-01-13 12:32] eliseubamaral opened #400 "When I use faker random.alphaNumeric, mockoon cannot response anymore"
**Describe the bug**
When I use {{faker 'random.alphaNumeric' 999999999}} on body, the app start loading and not return any response. I think the app is crashing because I need to shutdown the app to use again.

**To Reproduce**
Just use use that expression on body {{faker 'random.alphaNumeric' 999999999}}

**Expected behavior**
I expected an alpha numeric return on response

**Screenshots**

**Mo

[2021-01-13 12:46] 255kb commented on #400
This is not related to this helper specifically. By doing this you are generating a massive amount of data (1 billion random characters). It's currently taking a lot of time and in the meanwhile, blocking the main thread. Eventually, if you wait long enough you should get the result you expect.
I will track the fact that the UI is blocked/unresponsive in a separated issue. But concerning the time

[2021-01-13 12:46] #400 closed

[2021-01-13 12:49] 255kb opened #401 "Intensive tasks are freezing the UI (templating helpers)"
**Describe the bug**
When using a helper generating massive amount of data `{{faker 'random.alphaNumeric' 999999999}}` it takes a lot of time and the UI is frozen during this time.

**Expected behavior**
While we can't drastically reduce the time taken by the helpers, we can avoid blocking the main thread/UI by running the server from the main thread by using the IPC.

**Mockoon version:**
all

**

[2021-01-13 13:35] 255kb commented on #401
Opened issue on mockoon/commons#13

[2021-01-14 05:42] 973782523 commented on #347
![image](https://user-images.githubusercontent.com/34543652/104549553-15f98f00-566e-11eb-93b2-1be4604b669d.png)
I found that the form-data is available, but I can't manipulate it

[2021-01-14 07:49] 255kb commented on #347
@973782523 as stated above, `multipart/form-data` is not yet supported.
If implemented it should work like this `{{body 'A'}}`. The `body` helper without parameter returns the full body "as is".

[2021-01-14 19:05] PeterSt78 opened #402 "Rule not working"
**Describe the bug**
Hi
I am a newbie in mockoon.
I wanted to make multiple responses with rules. if status ok then send the 2nd response, otherwise (nok or default) the 1st one

**To Reproduce**
{
    "source": "mockoon:1.11.0",
    "data": [
        {
            "type": "environment",
            "item": {
                "uuid": "",
                "lastMigration": 13,
                "name":

[2021-01-14 19:42] 255kb commented on #402
I see where the problem is coming from. The entering request has a `application/x-www-form-urlencoded` Content-Type. You need to send an explicit `application/json` Content-Type for Mockoon to parse the body as JSON (you can also "query" `x-www-form-urlencoded` content, but here it's JSON being sent with the wrong Content-Type).
Hope this help!

[2021-01-14 19:43] #402 closed

[2021-01-14 20:07] 255kb commented on #357
@aaashutosh I cannot reproduce the issue on the Ubuntu installs I have 😞
I am definitely not a Linux power user, but have you tried to run this command?
`gsettings set org.gnome.desktop.wm.preferences button-layout ":minimize,maximize,close"`

[2021-01-14 20:13] PeterSt78 commented on #402
GREAT - It works
Thank you very much

[2021-01-14 20:16] 255kb commented on #402
You're welcome 🎉

[2021-01-15 03:33] aaashutosh commented on #357
The maximize button is there but it does not seem to work (using the appimage on a Debian system running XFCE 4.16).

[2021-01-16 15:51] bykof commented on #271
I created a pull request regarding this issue: https://github.com/mockoon/commons/pull/14

[2021-01-17 20:08] 255kb commented on #357
I just tested on Debian with XFCE (in a VM) and everything was working fine. I may not have tested with the exact same settings though. I will change a bit the options passed to the Electron window. I saw some issues resolved with this, we will see. It will be in the next update.

[2021-01-17 20:19] #357 closed

[2021-01-19 02:04] 973782523 commented on #347
Can I support this function in the later stage?I think that would be perfect
![image](https://user-images.githubusercontent.com/34543652/104978793-a7d21500-5a3d-11eb-9c1d-d9009900ae7d.png)

[2021-01-21 20:35] #271 closed

[2021-01-26 14:38] 255kb commented on #355
I agree with @sotcha
We should have one helper doing all the shifts we wants (from years to ms).

[2021-01-26 15:42] SimonPStevens commented on #355
@zelenovas I'm happy to take what you've done and combine it into a single datetimeshift, unless you want to do it?

[2021-01-26 16:09] zelenovas commented on #355
@SimonPStevens
Awesome! Thanks!
I agree, one combined function is better.

[2021-01-27 10:21] mtzfactory commented on #143
Would be amazing to have this feature!

[2021-01-27 14:39] thiagofloriano opened #410 "Can't scroll pane"
**Describe the bug**
Can't access some content because there's no way to to scroll the panes.

**To Reproduce**
Just use the app with Ubuntu.

**Expected behavior**
I've expected a single scroll bar or scrolling with arrow keys.

**Mockoon version:**
1.11.0

**OS / OS version:**
Linux Ubuntu 20.04 lts

[2021-01-28 19:30] #358 closed

[2021-01-29 13:25] 255kb commented on #410
@thiagofloriano I tested with both Ubuntu 18 and 20 and noticed nothing odd. I am able to scroll in all the lists (envs, routes, logs, etc) Could you please provide screenshots, and/or a way to reproduce this?

[2021-02-01 21:04] #364 closed

[2021-02-02 11:42] evjwm commented on #255
+1

[2021-02-02 11:42] jwmxyz commented on #255
+1

[2021-02-04 16:48] SimonPStevens opened #413 "Some helpers for simple string manipulation would be really useful"
**Is your feature request related to a problem? Please describe.**
Not a problem as such, just something I've been trying to achieve. I'm doing some responses that are dynamic based on the query string parameters, but they aren't just exactly returning the values directly, or a simple switch. It would be nice to be able to use parts of the values from the query parameters with some light manipulat

[2021-02-05 15:17] samiransaha opened #414 "Configure default response to serve by proxy url for specific route if route matched but rules does not matched"
**Is your feature request related to a problem? Please describe.**
For a mock server, it would be good to have a configuraion where the default response can be configured to if no rules get matched redirect to a proxy server instead of a static mocked response.

**Describe the solution you'd like**
Instead of the static default mocked response, it would be good to have a default response coming fr

[2021-02-05 15:39] #355 closed

[2021-02-08 06:51] StarNeit commented on #143
Would be great to have graphql too!

[2021-02-08 10:33] TillThomas opened #415 "Importing environment breaks environment settings"
**Describe the bug**
The environment settings are shared/ are being overwritten between different environments in the app.
**To Reproduce**
WHEN: multiple environments are open
AND: a new environment is imported (mockoon.json or swagger.json)
THEN: changes to port/proxy etc. apply to all environments

imported json:
[code]

This environment import works as expected:
[code]

After deleting the impo

[2021-02-08 11:06] TillThomas commented on #415
When importing a swagger definition and exporting a mockoon environment the property `"endpointPrefix"` is missing from the exported myMockoonEnv.json, importing the file with the missing property seems to lead to the bug.

[2021-02-08 12:04] 255kb commented on #415
Hi @TillThomas Thanks for reporting this.
I tested your import data and there is indeed a bug, but it does not seem related to the endpointPrefix, but rather the fact that there is no route in the `routes` array. Surprisingly, I never accounted for that case 😱
Could you please check in your logs to see if you had the same error and copy past it here? (Help menu --> "Show app data folder", then nav

[2021-02-08 13:30] TillThomas commented on #415
Sorry I removed the routes. I should have said.
I will give you the log.

[2021-02-08 13:52] TillThomas commented on #415
[renderer.log](https://github.com/mockoon/mockoon/files/5944061/renderer.log)
[swaggerDefinition.zip](https://github.com/mockoon/mockoon/files/5944062/swaggerDefinition.zip)

This is the error log and the swaggerDefinition that leads to the error. I also attached the export of the environment in the mockoon format.

[2021-02-08 13:54] 255kb commented on #415
Thank you, I will investigate and fix for the next release. It's indeed different from the empty route array bug. I will open a second issue.

[2021-02-08 13:57] TillThomas commented on #415
Thank you so much.
It's working with manually adding the property `"endpointPrefix": ""` to the json.

[2021-02-08 13:57] 255kb opened #416 "App crashes when importing/duplicating an environment with no route"
**Describe the bug**
When importing an env with no routes the reducer crashes when switching to the new `env.route[0]`

**To Reproduce**
Import this:

[code]

**Expected behavior**
Shouldn't crash

**Mockoon version:**
All

**OS / OS version:**
All

[2021-02-08 13:58] 255kb commented on #415
Good to know, at least there is a workaround!
Next version should be out soon, definitely this month (🤞)

[2021-02-08 21:41] 255kb opened #417 "Allow images in the changelog"
**Is your feature request related to a problem? Please describe.**
Images cannot be displayed yet in the changelog modal

**Describe the solution you'd like**
Enable it in the markdown lib

[2021-02-08 21:47] #416 closed

[2021-02-08 21:55] #415 closed

[2021-02-09 21:13] #417 closed

[2021-02-10 19:20] #308 closed

[2021-02-11 11:14] Maritims opened #418 "Rendering query parameter in JSON body results in invalid JSON if the query parameter value is a string"
**Describe the bug**
When you use `{{queryParam 'foo'}} in the response JSON body you may end up with invalid JSON if your foo parameter contains a string value.

A query parameter can occur multiple times in a query string. When it occurs multiple times it's always rendered as a collection in the JSON body, as one would expect. However, if it only occurs once it is rendered without encapsulating

[2021-02-11 12:31] Maritims opened #419 "Rules are not executed in order of priority"
**Describe the bug**
Given 3 different responses with 3 rules all operating on the same query parameter one would expect that rules are executed in order of priority. This does not appear to be the case. By order of priority I mean the order in which I sort my responses in the response dropdown when looking at a route.

**To Reproduce**

1. Decide on a query parameter to operate on. For this examp

[2021-02-28 11:48] ams-olx opened #420 "Allow changing datastore file location"
I would love to have the option to select where the datastore can be saved as this will allow us to sync the datastore file to any cloud like Google Drive or Dropbox.

Thank you very much...

[2021-03-03 09:02] 255kb opened #421 "Valid path directive is not working anymore"
**Describe the bug**
the valid path directive is not working anymore

**To Reproduce**
use it

**Expected behavior**
should work

[2021-03-03 09:37] 255kb opened #422 "Adding a trailing slash to the API prefix leads to a duplicated slash in route declaration and a 404"
**Describe the bug**
When setting up an API prefix with a trailing slash `myprefix/`, server endpoint is declared with two consecutive slashes:
`/myprefix//path`

**To Reproduce**
Add a trailing slash to the prefix

**Expected behavior**
Should not return 404.
Should deduplicate the slash in the Commons lib and prevent entering a trailing slash in the UI

[2021-03-03 10:02] 255kb commented on #420
this is on the [roadmap](https://github.com/orgs/mockoon/projects/2) and a duplicate of #16
But it would indeed be very useful :)

[2021-03-03 10:02] #420 closed

[2021-03-03 10:19] #421 closed

[2021-03-04 03:39] uday060 commented on #422
Shall I work and fix this issue?

[2021-03-04 06:53] 255kb commented on #422
Sure @uday060 you can.
Two modifications are required:
- update the mockoon/commons library so it trims the trailing slash from the `endpointPrefix`
- update the valid-path directive in this app (maybe add an `@Input` option "trailingSlash: boolean") to trim the trailing slash + add one more case to the ui-interaction test

Let me know if you are in and do not hesitate to join the [Discord server]

[2021-03-04 07:02] 255kb opened #423 "Release v1.12.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2021-03-04 14:56] #423 closed

[2021-03-04 21:13] mauriceackel commented on #419
@Maritimsn Can you check whether this is still the case in version 1.12? I'm currently trying to reproduce this behavior but for me it works fine and the order chosen in the GUI is respected. Maybe you can add a Mockoon export of your environment and the exact URL you are querying.

[2021-03-04 22:18] mauriceackel commented on #418
I can reproduce this behavior. The main problem is, that the value type of a query parameter can differ from string, namely if there are multiple parameters with the same name.

Note though that this does not seem to be in the official URI [spec](https://tools.ietf.org/html/rfc3986#section-3.4) and might differ in implementations. However for express, which is used in this project, it seems to res

[2021-03-04 22:21] mauriceackel commented on #418
@255kb If you prefer the second alternative, I could work on a PR for this :) However, there also seems to be other issues associated with having multiple parameters with the same name (i.e. #419 ), which might want to be taken into consideration before deciding on which route to go.

[2021-03-04 22:53] mauriceackel commented on #397
I can reproduce this issue. The main cause is that in the [helper](https://github.com/mockoon/commons/blob/17e069eaffd893342b34c42f8dc636e12c8c465b/src/libs/template-parser.ts#L117), the parsed string value is retuned as a safe string. Hence, there are no escaping like \" or \n left but only the ASCII/UTF-8 characters.

There are different ways to tackle this:
1. Change the helper linked above to

[2021-03-04 23:02] mauriceackel commented on #377
Hey @volkerrichert, is this issue still present with the most recent version of Mockoon? I was trying to reproduce this but were not able to. Please note that in version 1.12.0 you can definitely drag & drop routes to change their precedence. Routes that are higher up will be served first on a match.

Let me know if this solves this issue 🎉

[2021-03-04 23:18] mauriceackel commented on #352
I checked a bit on this and the relevant documentation can be found [here](https://swagger.io/docs/specification/2-0/adding-examples/?sbsearch=Examples), namely under the heading "Whole Schema Examples".

I tried it a bit in the editor and it seems that the following is valid OpenAPI (v3) syntax:

[code]

which suggests that there would be no need to also export the real schema (i.e. `foo: string`

[2021-03-04 23:45] mauriceackel commented on #338
This issue occurs due to the usage of the `object-path` library in the [rule-interpreter](https://github.com/mockoon/commons/blob/17e069eaffd893342b34c42f8dc636e12c8c465b/src/libs/response-rules-interpreter.ts#L68).

Express parses the query parameter `foo.bar=test` into `{ "foo.bar": "test" }`. However, I think the object-path library does not support dots in key names. [Here](https://github.com/

[2021-03-05 05:33] kawarimidoll opened #424 "Installation is failed using latest Homebrew in macOS"
**Describe the bug**

The command `brew cask install` in `README.md` doesn't work now because of update of Homebrew.
This is not a bug of this app, but the document needs to be fixed.

homebrew discussions: [Error: Calling brew cask install is disabled! · Discussion #340 · Homebrew/discussions](https://github.com/Homebrew/discussions/discussions/340#discussioncomment-232364)

homebrew blog: [2.6.0

[2021-03-05 07:49] volkerrichert commented on #377
This is just a usage issue. I can rearrange them, sure. But a rule like

"/test/special" should be inserted befor the general rule "/test/:param".

[2021-03-05 07:57] 255kb commented on #159
A new random response option is available since v1.11.0
![image](https://user-images.githubusercontent.com/7489814/110084814-ab70ef80-7d90-11eb-92f8-b7f2f8021e1b.png)
It's not giving you a random status code per se, but rather randomize among the different responses you create.
I will consider this issue solved for now, and reassess if there is more interest.

[2021-03-05 07:57] #159 closed

[2021-03-05 07:58] #248 closed

[2021-03-05 08:22] 255kb commented on #418
@mauriceackel Indeed Express is using [`qs`](https://www.npmjs.com/package/qs#readme) package by default to parse the query params, which allows objects and arrays.
Also, the `queryParam` helper allows getting an object path like `property.0.anotherProp`. We stringify the node when we found something more complex than a primitive, to allow user to fetch entire parts of the query params object, or

[2021-03-05 09:02] 255kb commented on #419
As @mauriceackel explained, rules are always executed in the order the responses are defined, then in the order rules are defined. First come first served.
That being said, when the rules "engine" encounters a query params arrays (either `foo[]=bar&foo[]=baz` or `foo=bar&foo=baz`), it will use `array.includes` method to find value in it.
So with two rules:
1. foo = bar
2. foo = bar AND foo = baz

[2021-03-05 09:02] #419 closed

[2021-03-05 09:04] 255kb commented on #354
Duplicate of #352

[2021-03-05 09:04] #354 closed

[2021-03-05 09:09] mauriceackel commented on #418
@255kb I think suggestion 3 would also be fix for #397.

[2021-03-05 09:09] 255kb commented on #352
You are right @mauriceackel that Mockoon is primarily a prototyping/mocking tool and should not be considered as an API design tool like Stoplight.
Still, I think that we could create a schema from a body when exporting. Only thing would be to detect when templating is used. For this we don't have a reliable way. We can only check for the presence of helpers `{{...}}` and if the JSON is valid.

[2021-03-05 09:14] 255kb commented on #424
Thanks for spotting this @kawarimidoll !

[2021-03-05 09:15] #424 closed

[2021-03-05 09:21] 255kb commented on #338
I would have the same reasoning @mauriceackel
I don't see how to distinguish between an object path and a property containing a dot without introducing some custom syntax. And it's true that I was in a team in the past where properties had dots everywhere and it created some difficulties with several libs in JS and Java (not only object-path).
So I think we won't do any change for now regarding th

[2021-03-05 09:32] 255kb commented on #377
While I understand your concern, I am wondering: how do we know that `special` in `/test/special` is a special route, and not a value for the `:param`? I don't think we can distinguish both cases reliably. Thus, implementing this would probably result in something odd most of the time.

[2021-03-05 09:49] mauriceackel commented on #418
One potential issue I see, however, is that all (single) query parameters are always interpreted as string. So if you would have a URL like this: `http://localhost?foo=1&bar=text`, `JSON.stringify(req.query.foo)` would return `"1"`.

I think it will come down to a trade-off between consistency and practicality in the end. I mean from a technical standpoint it is just right that all parameters woul

[2021-03-05 09:50] volkerrichert commented on #377
`special` was meant to be a value of `:param`. ;-) So this is a kind of rule, but hey.... To be honest, adding it as a `real` rule would be much nicer, with a simple popup "Add this as a rule to `/test/:param`? yes/no" But a bit more complicate, thats why i ask to put it above the rule.

[2021-03-05 09:55] 255kb commented on #377
Yes, this is indeed a bit more complex feature.
But in this case I don't see the value of adding the route `/path/special` above `/path/:param` if it shouldn't exists in the first place.

[2021-03-05 10:00] 255kb commented on #418
@mauriceackel I don't think it would fix #397 as it has to do with `SafeString`, but I may be mistaken.
Concerning the query params, it's true that they are always passed as string. I mixed everything with the body in my previous comment. Body is JSON that has different types of primitives. But query params are always passed as string. So to fix this issue, if we go for solution 3, everything woul

[2021-03-05 10:04] volkerrichert commented on #377
ok, no problem

[2021-03-05 10:07] 255kb commented on #377
@volkerrichert Don't get me wrong, I am genuinely asking 😃
Your idea of creating a new response + rule from a mock is a nice one, though it would require a new issue with a little more details. And maybe it wouldn't be in a high priority on the roadmap.
But then I don't see how adding a new route above the parameterized route solve your issue. I think it does quite the opposite which make me think

[2021-03-05 10:22] volkerrichert commented on #377
That's totally fine... :-)

Adding as a rule is much more elegant... I'll and an issue

[2021-03-05 10:22] #377 closed

[2021-03-05 10:33] volkerrichert opened #426 "adding a proxy request as a rule of an existing route"
Assuming you have an enviroment with e.g. on route `/mypath/:param` and proxy mode enabled

after using it and recording a few calls you wan't to add an additional response with different content and/or status to that route.

It would be nice to have a easy way to add request/response from the env log to the "matching" route as a new rule.

e.g. "/mypath/newcall" will be added to the route `/mypat

[2021-03-05 10:40] volkerrichert opened #427 "add the possibility to have the enviroment proxy as default"
I would be very useful to have the proxy to be default if none of the rules in all route matches. At the moment the first one will wacth event if the rules of the first one are not fullfilled

[2021-03-05 10:45] volkerrichert opened #428 "Enviroment name/port prefix etc. will not be updatenetg"
**Describe the bug**
If you change the env the top en data will no updated (name, port etc.) when changing env

**To Reproduce**
- start mockoon an switch between multiple env. This work fine.
- click inside the result `body` of the currently displayed route
- change env
- the env data will not be updated anymore

**Expected behavior**
Always update the env data

**Mockoon version:**
seen in 1.11.

[2021-03-05 10:47] volkerrichert commented on #427
This could be usefull to have an normal "backend" but add some special cases to it. e.g. simulate timeouts oder other stuff

[2021-03-05 10:48] 255kb commented on #426
@volkerrichert Could you please follow the issue template?

[2021-03-05 10:51] 255kb commented on #428
This is quite a serious bug that I cannot reproduce (and never had since a long time).
Could you please export and share your data so I can see if it's related to them?

[2021-03-05 10:55] 255kb commented on #426
One precision: this is not related to the proxy mode. The recording of request and mocking button are completely independent and work without having the proxy mode enabled. I will update the title

[2021-03-05 11:00] 255kb commented on #427
This is a duplicate of #414

[2021-03-05 11:00] #427 closed

[2021-03-05 11:19] MoiseScalzo opened #429 "setVar helper doesn't work in helpers creating new contexts (repeat)"
**Is your feature request related to a problem? Please describe.**
In multiple cases I needed a way to use `setVar` helper inside another helper like `#repeat`

**Describe the solution you'd like**
Allow `setVar` to works in a loop and have a new var for each item in the loop.

**Describe alternatives you've considered**
Is maybe better to post an example
[code]

**Additional context**
I already t

[2021-03-05 11:44] volkerrichert commented on #428
I try to break it down. There are some NDA related data in my setup.
maybe some screen sharing?

[2021-03-05 11:56] volkerrichert commented on #428
But it seems to be one specific collection.

i looked into my data folder and found

[code]

After that error pops up, the env UI-fields will not updated anymore

[2021-03-05 12:53] 255kb commented on #428
@volkerrichert if you could share just the beginning of your `~/{app_data_folder}/mockoon/storage/environment.json` so I can see what is in the `endpointPrefix` that would be great. You can also join me on [Discord](https://discord.com/invite/JmTBk59MTb) to share it privately.

[2021-03-05 13:29] volkerrichert commented on #428
it's simply missing in that env.

[2021-03-05 13:33] 255kb commented on #428
really? that is strange. There is currently no data validation when the app loads. This is planned in a near future.
Did you modify the data manually?

[2021-03-05 13:34] volkerrichert commented on #428
No, i haved. After adding it it works fine.

[2021-03-05 13:34] volkerrichert commented on #428
THX for that hint

[2021-03-05 13:34] #428 closed

[2021-03-05 13:34] 255kb commented on #428
ok, did you imported it from an openapi spec file?

[2021-03-05 13:35] volkerrichert commented on #428
yes, it was imported form an openAPI v3 Sepc

[2021-03-05 13:36] 255kb commented on #428
Could you share these specs? at least the beginning where `servers` and other root things are defined.

[2021-03-05 13:43] volkerrichert commented on #428
Stop... I was an mockoon export from a customer. It's missing in that mockoon.json.

[2021-03-05 13:44] volkerrichert commented on #428
[code]

[2021-03-05 13:49] 255kb commented on #428
Still, I wonder how endpointPrefix disappeared. Is it a bug somehow or a manual mistake 🤔
Please, if you encounter this again, try to come up with a reproductible example and reopen the issue. That would help a lot! 👍

[2021-03-05 13:58] volkerrichert commented on #428
ok!

[2021-03-05 15:41] volkerrichert commented on #428
The customer promives not to have manually edit the json.

[2021-03-07 17:36] jghaanstra opened #430 "Portable version Mockoon for Windows"
**Describe the solution you'd like**
A portable version of Mockoon that doesnt require an install and save any data within it's own folder.

[2021-03-08 08:07] 255kb commented on #428
@volkerrichert thanks for the feedback. If by any chance you can get your hand on the original OpenAPI spec, let me know, that would be great.

[2021-03-08 08:13] volkerrichert commented on #428
I'll try

[2021-03-08 09:06] volkerrichert commented on #428
Ok, i can share the origilan openAPI spec, but i tried to import it 3 times.. Works as expected. Sorry. I Think we can close it as "not repoducable"

[2021-03-08 09:09] 255kb commented on #428
I tried to alter some OpenAPI spec files in various ways in order to reproduce it and couldn't either...
It reminded me of something I encountered when developing this feature, so maybe it will reappear in the future. Wait and see.
Thank you again for your help!

[2021-03-08 09:12] volkerrichert commented on #428
THX for the best mock tool in universe!

[2021-03-08 09:16] 255kb commented on #428
and beyond 🚀
You're welcome😄

[2021-03-08 09:21] 255kb commented on #428
and thank you for the donation @volkerrichert, it means a lot! 😄

[2021-03-08 09:31] volkerrichert commented on #428
your welcome, too!

[2021-03-08 13:50] impe93 opened #431 "Add route folders"
**Is your feature request related to a problem? Please describe.**
When I have hundreds of routes I would like to have the ability to organize them under folders to easily find what I need later.

**Describe the solution you'd like**
- The "+" button over the routes sidebar could open a contextual menu with choices: one to create a new route and a second one to create a folder
- Multi-select the r

[2021-03-09 08:53] qiulang opened #437 "export OpenAPI v3 json file has empty body instead of the mock data"
**Describe the bug**

export OpenAPI v3 json file has empty body instead of the mock data

**To Reproduce**
I use mock sample to reproduce  this problem https://github.com/mockoon/mock-samples/blob/main/samples/open-weather.json.

When export to OpenAPI json this is the result.

[code]

**Mockoon version:**
1.12.0

**OS / OS version:**
MacOS Big Sur

[2021-03-09 09:04] 255kb commented on #437
This is a duplicate of #352 . Currently, no example schema is created from the response body.

[2021-03-09 09:04] #437 closed

[2021-03-09 09:51] #429 closed

[2021-03-12 14:38] #413 closed

[2021-03-12 14:45] pavelpipus opened #442 "Option to manage max-http-header-size"
Some applications requires large cookies to be sent to server and mockoon has no options to change standard node
--max-http-header-size option. It should be useful to add this option for a server

Now in this case server responds with http error 431 Request Header Fields Too Large

[2021-03-17 12:01] MoiseScalzo commented on #429
Hi @255kb thank you for the fix. Do you think is possibile, in some way, to have a sort of hotifx in the current version? Or, maybe, build the current version with the new @common package that has the fix?
Thanks

[2021-03-17 14:12] 255kb commented on #429
Hi @MoiseScalzo no sorry, it's a desktop app that doesn't support any type of hotfix. This fix will be in the next release v1.13.0 (no ETA but around April).
You can still build it locally by cloning the repos and following the contribution guidelines.

[2021-03-17 14:17] MoiseScalzo commented on #429
Thanks for the reply 👍 :)

[2021-03-19 12:00] 255kb commented on #83
@doug2k1 it's on the roadmap for this year, but nothing has been decided yet. So if you have ideas concerning implementation or behavior of this feature they are welcome :)

[2021-03-19 12:08] 255kb commented on #431
This should be covered by #97. I think the users' preference (according to the votes) would be for automatic grouping based on path sections rather than manual folder creation.
That being said, it's not on the roadmap, yet.

[2021-03-21 06:36] Aokoooooo opened #445 "Option to define custom handlebars helpers"
**Is your feature request related to a problem? Please describe.**
To simplify the template JSON or to enhance the ability to process the data(like header or query)

**Describe the solution you'd like**
Maybe we could add a entry to write some JS code to define the helper we want.
In this JS file, we can access the base helper function, like `faker`, and the base data, like `header` of the request

[2021-03-22 07:34] #397 closed

[2021-03-22 07:55] #418 closed

[2021-03-22 15:53] #401 closed

[2021-04-02 11:00] #410 closed

[2021-04-02 11:02] #431 closed

[2021-04-02 11:16] #349 closed

[2021-04-14 08:15] #257 closed

[2021-04-14 12:33] 255kb opened #450 "Mockoon fail to import big (exported) data files"
**Describe the bug**
See #448
When exporting and importing big data file Mockoon is silently failing, and crashes when running the mock.

**To Reproduce**
TODO

**Expected behavior**
Exporting/Importing and running big mocks should work

**Mockoon version:**
all

**OS / OS version:**
all

[2021-04-14 12:35] sotcha opened #451 "Keyboard shortcut for routes filtering"
Well, I found extremely useful the new routes filtering feature.

- What about if a shortcut exists which focuses immediately on the filter field? Something like the Teams client
When the user presses Ctrl+Shift+F focuses on the user filtering field.

- Also pressing ESC could clear the field

Relative discussion:
https://github.com/mockoon/mockoon/discussions/449

[2021-04-15 09:03] 255kb commented on #247
Closing this issue as this button will probably disappear when redesigning the top bar (env settings/params)

[2021-04-15 09:03] #247 closed

[2021-04-15 09:30] 255kb commented on #442
@pavelpipus Which size do you expect to pass in headers? Node.js lowered the max size from 80kb to 8kb in v10 I think.

[2021-04-15 11:11] 255kb commented on #442
In fact, in current Mockoon version 1.12.0, it's limited to 8kb (Node.js v12). But in our next release due next week, it will uses Node.js v14 which increase the limit to 16kb. Let me know @pavelpipus if this would be enough so we can close this issue and wait for the release.

[2021-04-16 07:19] #309 closed

[2021-04-16 14:44] jschroeter opened #452 "Decode gzip/deflate automatically when mocking a proxied request"
Maybe I'm missing something, but I didn't figure out a way how Mockoon can decode gzipped response bodies automatically when adding a proxied request as a mock. It always shows the raw content, which isn't that helpful:
<img width="588" alt="mockoon-gzip" src="https://user-images.githubusercontent.com/487046/115041214-8a90d380-9ed2-11eb-9b62-0070a18e064b.png">

I worked around it by setting a prox

[2021-04-16 15:04] Luckey-Elijah commented on #257
Is this feature in the current release(v1.12.0)? And if so how do I use it?

[2021-04-16 16:20] 255kb commented on #257
@Luckey-Elijah this has been merged and will be available in the next release (next Tuesday if everything goes right 🙂)

[2021-04-16 16:49] Luckey-Elijah commented on #257
@255kb okay, great! Thanks 😊

[2021-04-18 10:29] pavelpipus commented on #442
@255kb thanks, 16kb should be enough

[2021-04-19 06:20] 255kb commented on #442
@pavelpipus great, then it will be solved by next release, this week.

[2021-04-19 06:20] #442 closed

[2021-04-19 06:38] #452 closed

[2021-04-19 09:04] #422 closed

[2021-04-19 13:27] 255kb opened #454 "v1.13.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2021-04-20 06:45] 255kb opened #455 "Ensure that only one instance can run"
**Is your feature request related to a problem? Please describe.**
App is not designed to allow multiple running instances, it's buggy and doesn't really make sense.

**Describe the solution you'd like**
Ensure that we can only run one instance by using https://www.electronjs.org/docs/api/app#apprequestsingleinstancelock

[2021-04-21 07:50] #454 closed

[2021-04-22 08:33] mardukbp opened #456 "Ability to reorder rules"
**Is your feature request related to a problem? Please describe.**

I have noticed that rules for Route params have precedence over rules for headers. It is very frustrating to not be able to change the order of the rules. I have to delete all the rules and add them again in the desired order.

**Describe the solution you'd like**
It should be possible to drag rules to reorder them.

**Describe al

[2021-04-22 14:08] LeandroSQ opened #457 "Sync environment across multiple devices"
**Is your feature request related to a problem? Please describe.**
We use Mockoon on a lot of different projects with a lot of people,
But keeping the environments updated across everyone's computer is a hard task. Sometimes even requiring merging different json files.

**Describe the solution you'd like**
A way of sharing an environment to multiple people, therefore any changes would automaticall

[2021-04-22 14:35] #455 closed

[2021-04-24 09:01] 255kb commented on #301
Decision: app should be easy to use so it doesn't need a tour 😄

[2021-04-24 09:01] #301 closed

[2021-04-26 13:16] eloo commented on #175
Are there any updates here?
Is there any tutorial how the used certificate can be added to trusted certificates?

[2021-04-27 07:14] codeability-ab commented on #386
Good idea. Also add an option to not float the environments panel on top of the list of routes. I want to be able to click through my environments and see the environment names and routes at the same time.

Thanks for a great tool!

/johan

[2021-04-27 09:16] 255kb commented on #175
@eloo This is planned and should be available in the coming months.
Also, there is no official tutorial to add the self-signed certificate to your local trusted certificates. You can find the self signed cert [here](https://raw.githubusercontent.com/mockoon/commons-server/main/src/constants/ssl.constants.ts)

[2021-04-27 09:22] 255kb commented on #316
This will surely be covered by #386 in a way or another.

[2021-04-27 09:22] #316 closed

[2021-04-27 09:43] 255kb commented on #386
@codeability-ab thanks for your feedback! This is definitely on the roadmap. However, it's kind of a headache as many users have different opinions. After recent discussions with some members of the community I came to the conclusion that we should get rid of this left menu in favor of a dropdown at the top (and also get rid of the environment specific options at the top (prefix, port, etc) that c

[2021-04-27 10:35] davidvieiratrustly opened #459 "New type of rules that would allow serving different responses depending on the "index" of the call."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have a pooling API that changes after sequential requests. Currently, it's impossible to mock this type of API.

Example of one endpoint:

GET /device/ready
{"status": "preparing"} <- response 1
GET /device/ready
{"status": "ready_to_pair"} <- response 2
GET /device/ready
{"status": "ready_to_pair"} <-

[2021-04-27 17:50] davidvieiratrustly commented on #459
Created pull requests for this issue. Please take a look and tell me what you think.

[2021-04-29 05:55] 255kb opened #463 "Update 'invalid port' message"
**Is your feature request related to a problem? Please describe.**
If port is reserved (windows), the error message is "port is invalid", which make the cause less obvious.

**Describe the solution you'd like**
Update the message with something more generic like "Port is already in use or out of range". Or see if we can distinguish between invalid port and inaccessible port in Node.js (probably no

[2021-04-29 13:52] #199 closed

[2021-04-29 19:40] codeability-ab commented on #386
I would prefer to have a resizable panel to the left that is visible without covering the routes list. Like it was in a previous version of Mockoon.

But the dropdown menu is definitely a lot better than the collapsed panel in the current version. The selected environment name is readable!

I have an obsession with prefixing everything so my collapsed list of environments reads Ec, Ec, Ec, Ec, Ec,

[2021-04-30 07:10] amilor opened #465 "Enable pinning of the collapsible environment sidebar"
**Is your feature request related to a problem? Please describe.**
The collapsible environment sidebar is useless in its collapsed state showing only 2 letters from the environment name.

**Describe the solution you'd like**
Add ability to pin the sidebar in its expanded state.

**Describe alternatives you've considered**
Show more of the environment name in the collapsed state.

**Additional cont

[2021-04-30 07:19] 255kb commented on #465
Thanks @amilor for your change request. This is already cover by #386. Not sure how it will look but it will definitely change in a near future.

[2021-04-30 07:19] #465 closed

[2021-04-30 07:39] amilor commented on #465
Thanks! Sorry I missed that one.

[2021-04-30 07:43] 255kb commented on #465
No problem! It wasn't obvious 😃

[2021-05-03 07:10] 255kb commented on #246
This will be addressed by #386

[2021-05-03 07:10] #246 closed

[2021-05-03 07:14] 255kb commented on #386
After discussing this with more people it seems we are heading toward something like this:
![Untitled4](https://user-images.githubusercontent.com/7489814/116849865-d12f3f00-abef-11eb-8d29-0dc9f66c0944.png)
(with resizable environments menu)
I think it's a great tradeoff between not loosing too much information and having a clearer interface regarding the data hierarchy.

[2021-05-03 12:04] barefootdeveloper opened #469 "[Enhancement] Add ability to change host configuration for API hosts."
**Is your feature request related to a problem? Please describe.**
Not a problem, but being able to restrict API availability to localhost would be nice.

**Describe the solution you'd like**
It would be useful to allow the underlying host configuration for the mock APIs to be configured. This would allow a user to restrict what interfaces the mock server would respond to.

For the interface I was

[2021-05-05 08:46] codeability-ab commented on #386
Oh.. look at that! You would end up with a collapsed list reading FT, FT, FT :-)

Looks like a great way to go!

/Johan

[2021-05-05 08:53] 255kb commented on #386
@codeability-ab ahah true :)
But that was just a quick mockup, idea is to make the menu resizable, while also getting rid of the 2 characters limit, which seems to be a pain for a lot of people 😅

[2021-05-05 09:51] #459 closed

[2021-05-05 09:59] #463 closed

[2021-05-06 08:44] TillThomas opened #470 "[Enhancement] Remove trailing commas from JSON response"
I'm working with angular 9 and I was stumped when my Observables did not emit the response of the API call to Mockoon.
I finally found a trailing comma in one of my nested JSON Objects.

Mockoon json/application-responses could remove dangling commas.

Any meaningful error message or basic JSON validation would also work.

Chrome allows trailing commas, but the angular http-client seems to silentl

[2021-05-06 09:01] 255kb commented on #457
Hi @LeandroSQ thank you for opening this issue. This is a great idea that has been requested a lot of times.
To be completely transparent, this is on the roadmap (just not public), but it will be a paid option part of a commercial offer around the open-source project. However, it's not planned before the end of the year or next year for multiple reasons:
- it's definitely not the highest priority

[2021-05-06 09:01] #457 closed

[2021-05-07 12:32] barefootdeveloper commented on #469
I have the work for this largely completed on my local. There could be some more work to do on the port error warning since now that the hostname is configurable you can run two environments on the same port if their hostnames are different. This creates the possibility for some interesting scenarios where you can set up a remote environment that just proxies to your local environment but would gi

[2021-05-07 13:14] louiealmeda opened #473 "Add option to return a specific response on route response to use a specific response if file did not exist"
**Is your feature request related to a problem? Please describe.**
We have setup our mocks in our directories like this:

Users/
- GET.json
- POST.json
- Xq138f/
  - GET.JSON
- Pm5eR/
  - GET.JSON

And have a rule matcher set for that in mockoon
`GET: users/:userId`

File: `mocks/users/{{urlParam 'userId'}}/GET.json`

Now here's the issue:

`GET /users/Xq138f` -> returns 200 with the GET.JSON file

[2021-05-09 20:21] barefootdeveloper commented on #237
I'd be willing to do this if you'd like to assign it to me.

[2021-05-11 16:09] gamedevtutorials opened #475 "Rules for Cookie Values"
**Is your feature request related to a problem? Please describe.**
When checking for Cookie Values in a Rule you currently need to check for the Header Value Cookies, which needs some Regex especially when Cookies includes multiple Cookie Values.

**Describe the solution you'd like**
The Cookie Check can be a lot easier with a new Cookie Type inside the Rules section.
A first draft can be seen in

[2021-05-12 05:48] 255kb commented on #237
@barefootdeveloper sure you can :)

[2021-05-14 06:48] #318 closed

[2021-05-14 11:21] 255kb commented on #469
That would be indeed an interesting addition.
However, multiple things are coming to my mind:

- I don't think this setting is shareable between coworkers, so, I feel like it would need to be excluded from the export option. Which is a possibility that doesn't exists yet. It would also mean that you could lost this setting after an export/re-import.

- Another thing that I would like to take into

[2021-05-14 11:39] barefootdeveloper commented on #252
I was curious if this interface change might make changing the default request easier.

![Snag_749614a](https://user-images.githubusercontent.com/3580448/118264940-7ebf0f80-b486-11eb-92e5-674a5b829f93.png)

Clicking the outlined flag would change it to the default response and move it up the list.

The other thing I thought of was a checkbox on the route settings page, but this feels a little more

[2021-05-14 12:15] 255kb commented on #252
@barefootdeveloper yeah there are two issues here, and they have to play nicely together, so that's why I didn't split until now:

1. get rid of the drag and drop to define the default response. Your flag idea is interesting, maybe the flag could appear only when hovering the responses and stay visible after a click (without reordering the responses).

2. Select a response to return no matter what

[2021-05-14 12:40] barefootdeveloper commented on #252
Yeah @255kb that makes complete sense.

I plan to make another discussion that I think may help fill this need, but they seem like they could be big bodies of work, so I didn't know if there was value in solving the easy half of this. The high-level concepts are:

1) Response Stacking. The idea being you define multiple responses with the same rules and it chooses between those responses. (random,

[2021-05-14 14:03] 255kb commented on #414
Closing as a duplicate of #363

[2021-05-14 14:03] #414 closed

[2021-05-14 14:17] leolangen commented on #363
I could also use this feature, as we cannot stub successful responses easily for our testing purposes. Having the ability to either stub out a negative scenario or forward the request to the proxied server for the positive scenario based on rules would be ideal.

[2021-05-15 04:34] barefootdeveloper commented on #252
How does this work for you? It's not quite what you described as it closes the drop-down and moves the item, but I think it's the minimal change. Close enough? To do the other approach we'd have to either alter the way the default path is identified or give the dropdown its own state so the underlying application could be re-ordered without changing the dropdown order.

![19C60530-AB1C-43BA-8D92-9

[2021-05-15 09:19] #237 closed

[2021-05-16 17:20] barefootdeveloper commented on #469
Yeah, I think this is really a niche status feature as far as setting specific hostnames, more than anything I'd like the ability to set Mockoon servers to "Localhost Only" from the default of all adapters.

When I was hacking and testing my changes I realized you could do interesting things like change the behavior based upon the hostname with proxies.

I'm okay waiting for a bigger vision. The l

[2021-05-17 08:33] 255kb opened #478 "v1.14.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2021-05-17 09:32] #478 closed

[2021-05-17 12:16] jschroeter opened #479 "Decode gzip/deflate automatically when mocking a proxied request"
**Is your feature request related to a problem? Please describe.**
When the origin server that I'm proxying responses with gzip/deflate encoded body, mockoon just shows the raw content when mocking the request. This is annoying since it's impossible to quickly adjust the response in the mock. See https://github.com/mockoon/mockoon/discussions/453

**Describe the solution you'd like**

- mockoon sh

[2021-05-17 14:03] 255kb commented on #252
--> I think this get addressed, at least partially, in the latest update with sequential responses and request index rule.

--> I saw your new discussion, I will follow up there :)

[2021-05-17 14:14] 255kb commented on #252
I think this could work. But without the dropdown closing and without reordering.
After re-reading this issue for the nth time I think what could be a good compromise could be the following:
- keep the responses drag and drop to reorder the responses, but this has not effect on the default response served
- a clickable flag like @barefootdeveloper demoed above, to choose the default response to be

[2021-05-17 14:38] 255kb commented on #479
My understanding is that the current way Mockoon proxies a response from a third party API is correct. It it transferred as-is, gzipped or not, depending on what the third party API responded.
The only reason for this change is for convenience purpose, to actually be able to see what was answered in the recording/logs tab.
Am I correct?

Concerning the implementation, I would say it would be easy

[2021-05-17 14:40] rubaiate commented on #479
**Implementation suggestions**
1. Decompress incoming message within proxy middleware based on the content-encoding, transfer-encoding. Message will be sent and recorded as plain message. Simple and already tested locally.
2. Proxy message as it is. But record the decompress message within mockoon. If coverted into mock message it should be compressed again acording to content-encoding

[2021-05-17 14:46] rubaiate commented on #479
Seemed to be the better approach. If we convert this into mocked api, is it needed to compress again when replaying? Othrewis need to remove content-encoding, trnasfer-encoding headers.

[2021-05-17 14:51] 255kb commented on #479
I didn't think about the "auto-mock" feature at all @rubaiate. 😅
I would say, Mockoon's purpose is to be able to modify and customize mock responses, so I would create the mock's body in plain text. Then maybe we would need to remove the two headers automatically, otherwise it doesn't make sense.
Enabling gzip when sending responses should be a separated option at the environment or route level in

[2021-05-18 05:33] rubaiate commented on #479
Actually this is how I work. Decode compressed body initially and record without headers. Then I can mock and change response as I need.
I was thinking about @jschroeter requirement that's why asked about compressing again.

So can we only fix first requirement from @jschroeter request from this ticket.
Message replay always will not have any encoding as usual.

[2021-05-18 05:33] rubaiate commented on #479
Actually this is my initial requirement. Decode compressed body initially and record without headers. Then I can mock and change response as I need.
I was thinking about @jschroeter requirement that's why asked about compressing again.

So can we only fix first requirement from @jschroeter request from this ticket.
Message replay will not have any encoding as usual.

[2021-05-18 05:49] Ishwor-Shrestha commented on #431
What is the status for this request? Is this still being considered?

[2021-05-18 05:49] Ishwor-Shrestha commented on #97
What is the status for this request? Is this still being considered?

[2021-05-18 06:15] 255kb commented on #97
@Ishwor-Shrestha it's definitely on the roadmap but not with a high priority, so no ETA for now

[2021-05-18 08:43] jschroeter commented on #479
Good idea, I like that!

Yes, absolutely fine with that! For me it's also not important that the replay will be encoded again. As you said, we just need to make sure to remove the headers in that case.

[2021-05-18 08:54] 255kb commented on #479
great, so if I summarize:
- decode the body if encoding is detected (through the headers), when creating a log entry (when [creating a `EnvironmentLog`](https://github.com/mockoon/commons-server/blob/main/src/libs/utils.ts#L74))
- add a mention "unzipped" (or something else) next to the logs response body when gzip header is detected
- strip the compression headers when adding a route from the log

[2021-05-18 09:58] rubaiate commented on #479
Sure. I am happy to go ahead.

[2021-05-18 10:51] barefootdeveloper commented on #368
I know this doesn't quite fit the request issue format, but I'd like to take a shot at this.

I'm thinking something like this:

![Snag_1bbc6403](https://user-images.githubusercontent.com/3580448/118638878-4b8dc080-b7a5-11eb-86eb-feba171f94e0.png)

The formatted would only show up whenever it's a supported content-type (application/json to start, other formats to follow)
We could later expand this

[2021-05-18 11:22] rubaiate commented on #479
Need advise. There is changes in common-server library for this ticket. Is it needed to create new ticket in  common-server repo related to this one?

[2021-05-18 11:53] 255kb commented on #479
@rubaiate No it's ok, you can just refer to this issue in commons-server PR and also in the commit, something like "See mockoon/mockoon#479". Keep it simple 😄

[2021-05-18 14:21] 255kb commented on #469
Would this be an alternative to the network adapter selector? It could be a quick win indeed.

[2021-05-18 17:19] andreluizbellon opened #480 "Environment headers being duplicated when using CORS"
**Describe the bug**
Some CORS related headers are being duplicated when using CORS

**To Reproduce**
Enable CORS and click on "Add CORS headers to environment headers below" button

**Expected behavior**
The requests should have the headers properly added. Instead, many of them are being duplicated

**Screenshots**
![image](https://user-images.githubusercontent.com/7075343/118695711-de4d5000-b7e3

[2021-05-18 17:26] arslivinski commented on #480
I'm having the same issue running on Ubuntu 18.04

[2021-05-18 17:40] barefootdeveloper commented on #469
It would be yeah, it's what led me to wanting the change, I just went a little overboard :)

[2021-05-19 06:25] 255kb commented on #480
Strangely I cannot reproduce your issue, but by allowing non-standard duplicated headers in #318 it introduced some unwanted behavior that I didn't anticipated. I will publish a new version only supporting duplicated headers for `Set-Cookie`.

[2021-05-19 08:10] rubaiate commented on #479
@255kb The feature is implemented successfully. common-server test cases are fine. But no solid idea about implementing tests for mockoon.
Btw I don't have permission to push feature branches to repos.

[2021-05-19 08:17] 255kb commented on #479
@rubaiate I can add the UI tests, ni problem.
You won't have write access to the repos, you need to fork, branch and open PRs on both repositories where you made changes. I will then review through GitHub.

[2021-05-19 08:52] 255kb opened #481 "v1.14.1"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2021-05-19 09:08] 255kb commented on #368
The main reason we are currently showing the raw content as text is because the size of this content can be huge and it's truncated (limit is set in the app settings). Displaying everything and/or formatting the JSON could slow down the UI. That's why you can click on "View full body in editor". Still, opening this modal can be a really intensive task depending on the content. I think it would be

[2021-05-19 09:11] #480 closed, assigned to 255kb

[2021-05-19 09:15] 255kb commented on #469
Then I'm all for it :)
One detail, I am not sure about the location of the checkbox and keeping the "lock" as an icon for server settings but that's a detail and we can refine later.

[2021-05-19 09:58] #481 closed

[2021-05-19 10:44] barefootdeveloper commented on #469
We think alike, I was actually thinking of https://fonts.google.com/icons?selected=Material+Icons+Outlined:storage just because it looks like a server. In font-awesome basically the same picture resolves to server.

https://fontawesome.com/icons/server?style=solid

Do you want me to modify the acceptance criteria of this issue or just create a new one to lose all the chatter?

[2021-05-19 12:01] andreluizbellon commented on #480
@255kb thank you! :)

[2021-05-19 12:14] 255kb commented on #469
This icon looks fine indeed.
So I understand you want to work on this, or it's even already in progress? 🙂

[2021-05-19 16:31] barefootdeveloper commented on #469
Yes please :)

[2021-05-19 18:24] 255kb commented on #469
ok, I added it to the roadmap.
Also no need to create another issue, at least we have all the history here.

[2021-05-20 12:05] 255kb commented on #430
I guess we are talking Windows only here?

[2021-05-26 19:28] 255kb commented on #368
Then, I think having the tab + the modal is redundant. I would prefer to regroup editor and formatting at one place, maybe in the modal to reduce the amount of work. Then it's just a matter of stringifying JSON with the correct indentation and showing it in the editor.
Also, I would prefer to avoid a warning which basically translates to "UI perfs are bad, are you sure you want to use it?". I thin

[2021-05-28 18:32] 255kb commented on #267
@barefootdeveloper could you please comment here so I can assign the issue to you?

[2021-05-28 20:11] barefootdeveloper commented on #267
Sure thing @255kb , sorry I didn’t comment first. I knew you were away from the other PR and I’ve been trying to do OSS commits in the morning while I’m waiting to start work.

[2021-05-31 06:46] 255kb commented on #267
No problem It's great you are contributing :)
Let's discuss on the Discord server.

[2021-06-02 02:53] consciousnessdev opened #492 "Rules specific value route parameter added but still succeeded use other value"
I setup Delete method request success with rules route parameter id with value = 10, but when test with id value = 11 it still succeeded (200)

**To Reproduce**
Steps to reproduce the behavior.
Route URI : localhost:3001/users/:id
Method Request : DELETE
Rules Route Parameter : id = 10

**Expected behavior**
When send request method DELETE with id route parameter value 11
URI: localhost:3001/users

[2021-06-02 06:08] 255kb commented on #492
This is probably due to the fact that your 200 response is the first one, so it's considered as default and served if no rule matches.
Your setup should be inverted, the 404 first, catching all the cases, the 200 second, with the `id=10` rule.
See https://mockoon.com/docs/latest/route-responses/multiple-responses/#default-route-response for more information.

This system will probably be changed i

[2021-06-02 06:08] #492 closed

[2021-06-02 15:18] 255kb commented on #450
This issue couldn't be reproduced and some alternatives are available. See #448 for more info.

[2021-06-02 15:18] #450 closed

[2021-06-02 15:55] hitokiri opened #494 "Ruler to missing key on the header or on the body"
when we need to review if the header has a specific key the app not have the capacity to recognize those types of things

[2021-06-03 14:19] #494 closed

[2021-06-04 09:03] 255kb opened #497 "Using the `header` template helper without header name returns an error"
**Describe the bug**
Using the `header` template helper without header name returns an error "name argument is required to req.get".

**To Reproduce**
Use the helper like this: `{{header}}` or `{{header ''}}`

**Expected behavior**
the helper should fail silently and return an empty string if the name parameter is not present.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2021-06-07 02:18] barefootdeveloper commented on #252
I'd like to work on the default route FLAG ui portion of this.

[2021-06-07 07:26] 255kb opened #498 "Add a way to disable rules temporarily"
**Is your feature request related to a problem? Please describe.**
We cannot disable rules temporarily and serve the default response instead.

See initial discussion #252.

**Describe the solution you'd like**
Add a toggle button that temporarily disable the rules. Ideally, it should interact with the "random responses" and "sequential responses" buttons as they are mutually exclusive (like a rad

[2021-06-07 07:27] 255kb commented on #252
@barefootdeveloper great!
So this issue will cover this:
- we keep the responses drag and drop to reorder the responses, and define the rules interpretation order, but this has no effect on the default response anymore
- we add a clickable flag to choose the default response to be served when no rule matches, or when no rule is declared

I created a new issue #498 for the "disable rules temporaril

[2021-06-07 09:40] #469 closed

[2021-06-07 12:27] 255kb commented on #469
I merged everything, you will see that I made some small changes:
- I migrated all the test environments.json files (using the script ./scripts/migrate-tests.js)
- I removed the two custom environments.json files you added for the tests and used the basic-data JSON file + UI manipulation to set `localhostonly` to `true` instead. I would like to avoid creating too many test files when it's not nece

[2021-06-07 15:39] gmamaral opened #499 "Ability to apply calc on variables and numbers"
{
    "sum": {{ 1 + var }}
}

[2021-06-09 06:29] AKABTB opened #665 "mockoon-cli live update"
When I am updating the data file, I want mockoon-cli to sense the changes in real time, without restarting the service, like client software does.

[2021-06-09 07:23] 255kb commented on #499
Hi @gmamaral, I would kindly ask you to follow the issue template next time.

[2021-06-09 13:40] gmamaral commented on #499
I'm sorry, promise to do that next time!

[2021-06-10 11:52] #267 closed

[2021-06-11 13:38] sumitAgrawal007 opened #506 "period . in query Param not working"
**Describe the bug**
For query params with "." , like https://server.com?filter.vms=vm1, there is no response from sever, even though filter.query is defined in the rules.

**To Reproduce**
Steps to reproduce the behavior.
Add a rule, query String,  filter.vms = vm1
Make API calll
If no "." in queryparam, it works. But when a "." is added, it doesn't.

**Expected behavior**
Expected Response, but

[2021-06-11 17:54] #506 closed

[2021-06-11 17:54] sumitAgrawal007 commented on #506
duplicate of https://github.com/mockoon/mockoon/issues/338

[2021-06-13 01:08] barefootdeveloper commented on #252
I have the default response migration / backend and flags working in the interface as I would expect but unit testing the flags is turning out to be quite difficult. How do you feel about me adding an additional way to set the default response by adding a checkbox under settings? That would allow us to pretty easily unit test the overall functionality while keeping the convenience of the flags.

I

[2021-06-13 16:02] hmsjy2017 opened #507 "Support Linux ARM"
**Is your feature request related to a problem? Please describe.**
I want to run mockoon on my Raspberry Pi. However, there are no deb packages for ARM.

**Describe the solution you'd like**
Add support for Linux ARM (deb package is required).

Travis CI already supports building on the arm64 architecture. I think it might be a good choice to use Travis CI to compile software that supports ARM.
ht

[2021-06-14 07:17] 255kb commented on #252
I would prefer avoiding this for two reasons:
- adding UI elements for testing purpose feels awkward
- having two ways to set the default response in two different places will be confusing. It's already a hassle to explain the drag and drop + flag behavior. Also reverting to default = first would be even more confusing. There should be only one way of defining the default, with the flag.

Regardin

[2021-06-14 11:51] barefootdeveloper commented on #252
Okay, I'll change the flag to grey whenever those modes are enabled and you'll still be able to interact with them.

I attempted to use moveTo() + click() but I got the error "element not interactable". I'll see if I can switch the flag to a borderless button instead of the icon within a button and see if that helps.

I think it's pretty common for software to offer multiple ways to do the same ac

[2021-06-17 08:11] 255kb opened #509 "UI redesign: reorganize environment's information"
**Is your feature request related to a problem? Please describe.**
- Some environment's features are hard to discover: namely the logs and settings (icons on the far right).
![image](https://user-images.githubusercontent.com/7489814/122357105-b886a880-cf53-11eb-8aa5-ae14a2adfb65.png)
- The top bar (port/prefix/latency/run) is not the most important part of the UI and most of it could be moved to t

[2021-06-17 08:11] 255kb commented on #386
This UI improvement is needed by #16 as we add more info / UI elements for each environment.
The scope of this issue will be limited to the environment menu collapse/size and the rest of the proposed redesign will be part of another issue #509.

[2021-06-19 09:35] louiealmeda commented on #473
Hi @255kb,

Are you good with the approach for the WebApp and the response model? I'm proposing to have a new property `fallbackResponseUuid` for that.

I notice though that there were no uuids being set for each response as of the moment.

Let me know what you think, thanks 🙂

[2021-06-22 11:24] maximonstre opened #510 "Problem install rpm"
**Describe the bug**
I would like to install mockoon on centos 7.
I downloaded the rpm on the official site
I install it with the command yum --nogpgcheck localinstall mockoon-1.14.1.rpm
I have no error

**To Reproduce**
To start the server I try to execute the ./mockoon located into /opt/Mockoon but I get the error "Erreur de segmentation"
I don't know how to start the server.

**Expected behavio

[2021-06-25 12:21] davidvieiratrustly opened #511 "Proxy request header not working"
**Describe the bug**
When setting the proxy request header, it's is not adding or replacing the request header to the proxies host.

**To Reproduce**
Use this:
[code]
Go to 127.0.0.1:3666 and check that the not-working-request-header is not added to the request.

**Expected behavior**
not-working-request-header to be added to the proxied request.

**Mockoon version:**
1.14.1

**OS / OS version:**

[2021-06-25 15:37] 255kb commented on #511
Considering your setup, you cannot actually check whether or not the proxy request header has been added. You would need to see the entering request at `https://google.com` to be sure.
You cannot see the proxy request headers in the environments logs "Request" tab as this only show what entered in Mockoon. This type of header gets added to the *outgoing* request to the proxied API.
To test this fe

[2021-06-25 15:37] #511 closed

[2021-06-25 16:10] Luckey-Elijah commented on #97
This enhancement would be great for those trying to group their mocked API by features for and end-client. Folder-based grouping or even endpoint tagging would be ideal. Just throwing out a use case. Thanks, for the great tool (I really like the search feature 😄)!

[2021-06-26 19:23] karahan opened #514 "Possibility to run the tool outside of electron."
**Is your feature request related to a problem? Please describe.**
I'd like to run the tool for a longer time

**Describe the solution you'd like**
Instead of running the cli or the desktop app, it would be a cool feature to run the server with a web UI.
So I can run a docker image and let it run on my local server.
This way I don't have to start Mockoon everytime I start my project it removes a t

[2021-06-29 14:51] 255kb commented on #473
@louiealmeda uuids are set for route responses too.
I understand the need, but I feel like this approach (having another place where you can setup the returned response) makes the UI a little more confuse. Knowing which response will be returned is already not easy. It depends on the responses order and the rules.
Also, this behavior could already be achieved with rules, route params or templating

[2021-06-29 14:58] 255kb commented on #514
While this is a interesting idea, this is not planned and probably won't be anytime soon. The amount of work is huge as it's basically recreating a new Electron like wrapper around the Angular web application and the server. There are already many more important things on the roadmap that need to be done before we tackle something like this.
As I don't want to give false hope to other users, I wil

[2021-06-29 14:58] #514 closed

[2021-07-01 08:03] Lepidopteron commented on #96
Does not work any longer on v1.12
[code]

Also the `T` in between the date and time is now formatted to a timestamp.

[2021-07-01 14:09] 255kb commented on #96
It's a little bit tricky since a `date-fns` update but this should work: `{{ now "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" }}` (note the double and single quotes) or this: `{{ now 'yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\''}}`

[2021-07-01 14:51] Lepidopteron commented on #96
Thanks for pointing me to the right direction.
Solution would look like `{{ now "yyyy-MM-dd'T'HH:mm:ssXXX" }}`
Timezone is now `XXX`: https://date-fns.org/v2.22.1/docs/Time-Zones

[2021-07-05 23:30] barefootdeveloper commented on #252
Been a bit busy, but haven't forgoten about this :)

[2021-07-07 09:31] roybarber commented on #347
Any traction on this @255kb ? Or is there a way to just accept the data and return a 200 by default. Currently, it just falls over.

[2021-07-08 09:40] 255kb commented on #252
@barefootdeveloper no hurry 😃, one thing though, I need to publish a new version before August, so this could still be included

[2021-07-09 13:10] #479 closed

[2021-07-09 14:28] 255kb opened #518 "Add custom telemetry system"
**Is your feature request related to a problem? Please describe.**
We are currently using GA to measure the app usage. It's invaluable to have these info yet a bit intrusive and we really need only some basic info like the count of users/sessions/day, country, app version, some events.

**Describe the solution you'd like**
Add a custom unintrusive telemetry system measuring the anonymous data. Aft

[2021-07-10 09:31] louiealmeda commented on #473
Yeah I think this works. so the option could be:

then in the Response model:
[code]

What do you think @255kb?

[2021-07-12 13:09] 255kb commented on #347
@roybarber It's not planned yet. Also, there is no alternative.
I will add it to the roadmap, I will investigate but it shouldn't be a huge change 🤞

[2021-07-12 13:10] 255kb commented on #473
@louiealmeda yes I think it should work like this.
Do you want to work on this feature?

[2021-07-12 13:24] louiealmeda commented on #473
Yes please @255kb, thank you for asking 🙂

[2021-07-12 13:26] 255kb commented on #473
Let me know (here or on [Discord](https://discord.com/invite/JmTBk59MTb)) if you need any help!

[2021-07-13 14:42] 255kb commented on #518
Will require some update to the privacy policy and FAQ

[2021-07-16 14:31] #518 closed

[2021-07-20 10:18] roybarber commented on #255
+1 would be very useful

[2021-07-22 13:24] louiealmeda commented on #473
Hello @255kb, I think I'm almost done with it, I'm just testing. But I'm having issues with the nested npm link.
So i have changes to the following repos/packages:
* commons (RouteResponse Model)
* commons-server (deciding when to return 404)
* mockoon (UI, saving the value etc..)

I think my issue is specific to npm, I can't seem to `link` both `commons` and `commons-server` at the same time to `

[2021-07-22 13:33] 255kb commented on #473
I never use `npm link` for the same reasons I think. What I usually do is the following (considering that `mockoon`, `commons` and `commons-server` are in folders side-by-side):
1. Commons lib: `npm run build`
2. Commons server lib: `npm i ../commons && npm run build`
3. Mockoon app: `npm i ../commons && npm i ../commons-server`

You will get something like `"@mockoon/commons" : "file://../commons

[2021-07-22 13:44] louiealmeda commented on #473
That worked quite nicely! Thank you @255kb

[2021-07-22 14:03] 255kb opened #524 "Update to Angular 12"
because why not

[2021-07-22 21:45] joeshub opened #525 "Can't import OpenAPI files"
**Describe the bug**
Using the import/export > Import Swagger menu option to import either .yaml file or .json file fails.
See screenshot below

**Screenshots**
<img width="284" alt="Screen Shot 2021-07-22 at 2 39 20 PM" src="https://user-images.githubusercontent.com/764006/126713294-475b0cc0-8361-47fb-b4ef-daaa6e84f9ea.png">

**Mockoon version:**
1.14.1

**OS / OS version:**
Mac OS 11.4

[2021-07-23 08:39] 255kb commented on #525
Could you please share the OpenAPI file you are importing so I can try to reproduce the error? Thanks.

[2021-07-23 15:24] #524 closed

[2021-07-23 16:10] louiealmeda commented on #473
Hello @255kb,

I can't seem to get the tests working for `mockoon`. I'm getting `"before all" hook for "Should wait for window to be ready"` errors. Can't seem to find the error through google or anywhere in the code. Any tips for this? Thanks.

[2021-07-23 17:02] 255kb commented on #473
Hard to say, without seeing it. Those tests are a bit tricky. 😅
I suggest that you push everything, open the PRs for all projects and I will have a look and test on Monday.

[2021-07-24 06:18] louiealmeda commented on #473
Hi @255kb, I've created PRs for each. Thanks for checking it out!

[2021-07-28 04:36] xutzin opened #531 "Ability to resolve template file path based on environment file"
**Is your feature request related to a problem? Please describe.**
I tried to save environment in git repo as a submodule and serve some of request body using template files.
However, it seems `filePath` stored by 'Browse files' is absolute `C:\\Users\\${user}\\Repository\\submodules\\mockoon\\...\\template.json`, and even if I changed the value of `filePath` to relative `./.../template.json`, the

[2021-07-28 12:02] 255kb commented on #531
This is actually already in progress but undocumented.
I am currently working on a [new storage system](#16) where you can open env files from anywhere on you hard drive. They are not necessarily in the application/user data folder.
Part of this (huge) refactoring include this change. File path will accept both absolute and relative paths, but the relative path will start from the loaded environme

[2021-07-29 01:18] xutzin commented on #531
Thanks for your quick reply and bringing the good news.
Looking forward to it :)

[2021-07-29 08:34] 255kb commented on #531
You're welcome, and thank you for your awesome donation! It means a lot 😃

[2021-07-29 13:57] 255kb opened #532 "Fix "duplicate to another env" UI when an env has no name"
**Is your feature request related to a problem? Please describe.**
When an environment has no name, the "duplicate route to another environment" modal show empty entries.

**Describe the solution you'd like**
We should display at least the hostname:port as in the environments menu:
`0.0.0.0:3000` so we can identify the destination env for the copy

[2021-07-29 14:02] 255kb opened #533 "Change UI behavior when no route is present"
**Is your feature request related to a problem? Please describe.**
When env has no route present UI currently shows the environment settings by default. This may be confusing.
Also in some cases (after loading the app) there is nothing shown

**Describe the solution you'd like**
Instead of showing the settings by default show a message like "No routes, please add one". We can take example on the e

[2021-08-02 11:24] #532 closed

[2021-08-03 12:55] #499 closed

[2021-08-03 15:27] 255kb opened #535 "OpenAPI import failing for Stripe definition"
**Describe the bug**
When trying to import Stripe's OpenApi definition there is an error message

**To Reproduce**
Import the file: https://github.com/stripe/openapi/blob/master/openapi/spec3.yaml

**Expected behavior**
It should work

**Mockoon version:**
All

**OS / OS version:**
All

[2021-08-04 08:15] 255kb commented on #525
@joeshub without data to reproduce it, we won't be able to investigate this issue.
One thing though, I had the same error after trying to import an incomplete OpenAPI definition file. I copy pasted a very long definition in the browser and didn't realize it was truncated. You may want to check that your file is in good shape.

[2021-08-04 08:15] #525 closed

[2021-08-04 10:01] #510 closed, assigned to 255kb, Hugo-Carbiener

[2021-08-08 12:15] barefootdeveloper commented on #473
I know I'm a bit late to the party, but I got those errors whenever I didn't use build:CI:all prior to running the tests.

[2021-08-08 12:31] 255kb commented on #473
Yeah sorry, I think I didn't warn you. As part of the recent webpack changes, I also modified how the tests are run. You now have to use build:ci:all before running the tests. It won't work with other NPM scripts.

[2021-08-11 13:32] #473 closed

[2021-08-11 15:39] gralin opened #539 "Response Content-Type header is always appended with charset"
**Describe the bug**

Mockoon always appends Content-Type header value in the response with charset. This is an unexpected behaviour in case when user has explicitly defined what should be returned as Content-Type value.

**To Reproduce**

Setup any route and explicitly declare what should be the Content-Type of the response

![image](https://user-images.githubusercontent.com/3457048/129057516-ed3

[2021-08-12 03:27] ricardo0624 commented on #100
I like the light theme

[2021-08-12 13:47] 255kb commented on #430
Notes:
- auto update should be disabled (new version link should open the browser)
- app data folder should be next to the executable (see https://www.electron.build/configuration/nsis#portable)

[2021-08-12 15:36] #456 closed

[2021-08-13 15:04] #430 closed

[2021-08-13 15:07] 255kb opened #544 "v1.15.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2021-08-16 09:20] #544 closed

[2021-08-16 14:05] piotrtobolski opened #545 "Pretty print response body"
**Is your feature request related to a problem? Please describe.**
When I'm using environment logs feature I'm frustrated that I see raw JSON body. I haven't found any way to preview it in formatted (readable) way other than copy it to another program.

**Describe the solution you'd like**
I would like to see a button next to "Body (raw)" that will let me preview the body in a formatted way. I'm u

[2021-08-17 11:47] 255kb commented on #545
Closing as a duplicate of #368
Similar ideas are discussed there and we will surely find a solution hat is performant and easy to use

[2021-08-17 11:47] #545 closed

[2021-08-18 11:04] #16 closed

[2021-08-18 11:04] #386 closed

[2021-08-18 11:04] #531 closed

[2021-08-18 11:04] #533 closed

[2021-08-18 13:32] Hugo-Carbiener opened #548 "Parsing error when importing OpenApi spec"
**Describe the bug**
When importing an OpenApi spec, the parsing fails and sends back an error.

**To Reproduce**
import the [yaml file](https://github.com/APIs-guru/openapi-directory/blob/main/APIs/docker.com/engine/1.33/openapi.yaml)

The following part is responsible for causing the issue:
[code]

[2021-08-19 07:11] #451 closed

[2021-08-19 10:21] #208 closed

[2021-08-20 07:48] Hugo-Carbiener opened #551 "Register a custom protocol"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Register a custom protocol such as "mockoon://"

**Describe alternatives you've considered**
None

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-08-30 11:31] gamedevtutorials commented on #255
i started to implement this. It works so far, but is also a Draft.
I added another Checkbox in the rule section (see screenshot).
When you check the field the value is checked against null or undefined and returns true if it matches.
Additionally you can add the value "array" into the value field which will also add a check for an empty Array. It may not be too pretty but it works :)
![image](http

[2021-08-30 12:25] gamedevtutorials commented on #255
@255kb Any chance you assign this ticket to me? And can someone help me how to push my branch? I made one in the main project, commons and commons-server

[2021-08-30 14:07] 255kb commented on #255
We had a small discussion with @gamedevtutorials and came up with the following solution:
The equal operator could be transformed in a dropdown showing the following options:
- equals
- regex (and we can get rid of the regex checkbox)
- null
- empty array

Quick mockup:

![image](https://user-images.githubusercontent.com/7489814/131352073-19dd5541-c55d-4d58-92e2-0c5404206473.png)

This would make

[2021-08-31 07:59] #551 closed

[2021-09-03 01:06] kand617 opened #559 "Url Params as arrays"
**Is your feature request related to a problem? Please describe.**
I have a path like `something/:ids` where `ids` can be a array. E.g `something/1,2,3
`
**Describe the solution you'd like**
I would like to be able to generate a response like
[code]

**Describe alternatives you've considered**
I looked at handler bars, but seems like you need to register custom helpers.
I could not find a way to r

[2021-09-03 07:20] #559 closed

[2021-09-23 08:21] Nisgrak commented on #539
I have this same issue.

I need to send a request with other charset

![image](https://user-images.githubusercontent.com/19597708/134475504-c719fd0b-95d1-44ba-9015-1c14da83509f.png)

But its being replaced by the utf-8 default.

[2021-10-05 15:02] mohdwaseem commented on #208
@Mavbraz , I need one help, I want to get the Name of the property key, is it possible to get the property name itself rather than value of property.
For Ex: `"user": {
    "_attributes": {
      "userID": "123"
    },
    "first": {
      "_text": "John"
    },
    "lastname": {
      "_text": "Doe"
    }
  }`
I need to compare the property value itself like "user"

[2021-10-05 16:25] aevalo commented on #363
+1 from me also. Ability to mock fix certain IDs to mocked responses and leave correct data to real server would benefit me greatly.

[2021-10-06 13:53] 255kb commented on #208
@mohdwaseem Next time, please use the Discussions forum for support requests: https://github.com/mockoon/mockoon/discussions
Concerning your question, it depends on what you are trying to achieve. If you want to check if the property exists in the body templating or with rules.
With templating you can do it like this:
[code]

With rules, there is currently no direct way to assess if a property exi

[2021-10-06 19:44] helt opened #566 "Merging conflicting routes"
**Is your feature request related to a problem? Please describe.**
Automock quickly creates multiple conflicting routes, and it is tedious work to copy-paste the params of one route response to another route response.

**Describe the solution you'd like**
A method to merge conflicting routes, so that the deleted routes response is "moved" as additional response of the remaining route.

**Describe

[2021-10-07 12:54] 255kb opened #567 "Single rule row is draggable when drag icon hidden"
**Describe the bug**
Since rules reordering feature (v1.15.0) it seems that a single response rule row is completely draggable when the drag icons are hidden

**To Reproduce**
Try dragging a row when there is only one rule

**Expected behavior**
Only the drag indicator (6 dots on the right) should be draggable, and a single rule shouldn't be draggable

**Mockoon version:**
1.15.0

**OS / OS versio

[2021-10-08 13:04] #255 closed

[2021-10-08 13:31] #567 closed, assigned to 255kb

[2021-10-12 06:20] edstefan-ts opened #568 "Please add support for random route latency (from a given interval)"
As of now we can define a latency value for a given route.
Is it possible to specify an interval from which a random value will be used as the latency?

[2021-10-12 07:52] 255kb opened #569 "v1.16.0 checklist"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Set th

[2021-10-14 09:14] #569 closed, assigned to 255kb

[2021-10-14 16:30] aevalo opened #577 "Enhance rule engine to check all values of a property in an array"
**Is your feature request related to a problem? Please describe.**
I have an JSON structure in POST body, which contains an array of objects at certain key. Order of said objects might change due to development, and using fixed indexes causes problems when rules get out-of-date.

**Describe the solution you'd like**
For example, let's say my structure is like so:
[code]

Instead of having two rule

[2021-10-15 07:41] samsonv opened #578 "Windows Security Trojan detection"
**Description**
Windows Defender thinks the mockoon.setup.1.16.0.exe is a threat, and puts the file in quarantine when downloaded

**To Reproduce**
* Open mockoon 1.15
* It seems to then automatically download the update

**Expected behavior**
It should update to last version

**Actual Behavior**
Windows defender pops up

**Screenshots**
![image](https://user-images.githubusercontent.com/239889/13

[2021-10-15 12:36] 255kb commented on #578
Good news! I was crossing my fingers so hard 😄

[2021-10-15 12:36] #578 closed, assigned to 255kb

[2021-10-18 10:39] Spielboerg opened #579 "Passthrough of the request response in proxy mode"
**Is your feature request related to a problem? Please describe.**
Sometimes I use Mockoon to simulate slow requests from an API by enabling proxy mode and adding global latency. But currently, there is no way to slow down only single requests without mocking them completely (biggest pain point: the body content).

**Describe the solution you'd like**
It would be great if there was a simple checkb

[2021-10-19 10:34] nodehi opened #580 "Environment does not reflect JSON file's changes"
**Describe the bug**
With introduction of Mockoon v1.16.0, we updated our environments to stand alone JSON files, and we included them into our Git Repo, so all team members can update and share changes easily.
However, when you pull latest changes from Git, even though you have updated JSON files in your local branch, the environments which are already open in Mockoon app, will not reflect those

[2021-10-20 19:47] aevalo opened #666 "Improve dockerization of mocked environment"
**Is your feature request related to a problem? Please describe.**
For my project, I need the dockerized mock environment to self-contained. This means I need to copy all the files used for response content to be copied to the docker image during build. But when ever I need to update the dockerized data file for changes in the environment, the Dockerfile is also updated which overrides any changes

[2021-10-27 09:10] oleksiy-boyko opened #584 "Multiple Access-Control-Allow-Origin headers"
For now, there is no way to configure CORS headers if we are sending cookies for API. When `Access-Control-Allow-Credentials: true` we couldn't use just wildcard with Access-Control-Allow-Origin: * - we should set strict Access-Control-Allow-Origin: http://localhost:3000.

Will be good if it can be possible to add multiple `Access-Control-Allow-Origin` headers with some kind of separator like `htt

[2021-10-27 09:42] volkerrichert opened #585 "Disable API prefix forwarding doesn't seem to work"
**Describe the bug**
remove Prefix done't seems to work correctly in proxy mode

**To Reproduce**
- create a new env without any / only teh default route
- set prefix to e.g. "business/services/cvpn"
- enable proxy with something like "https://[target]/some/test/url"
- enable "remove prefix"

Wenn make a call e.g. https://[mockoon]/business/services/cvpn/groups the requested call is

`https://[tar

[2021-10-28 09:01] #475 closed, assigned to gamedevtutorials

[2021-10-29 16:58] petRUShka opened #586 "Add case sensitivity checkbox to regexp rule in Rules"
**Is your feature request related to a problem? Please describe.**
I couldn't find a way to make rule check case insensitive in case if regexp.

I've tried `(?i)` notation (as was suggested [here](https://stackoverflow.com/a/9655203/359866)) but got an error:

[code]

**Describe the solution you'd like**
It would be great to have a checkbox for case sensitivity

**Describe alternatives you've cons

[2021-11-02 08:14] terenctbrobots opened #667 "Trying to deploy docker image to heroku...application exits with status 0"
**Describe the bug**
So i've been trying to deploy a docker container to heroku using dockerize but I haven't had much success. I am able to run
the docker image locally but I can't seem to get it to work after I deploy it..
[code]

**To Reproduce**
Try deploying to heroku

**Expected behavior**
Being able to access any routes

**Mockoon CLI version:**
current

**OS / OS version:**
Ubuntu 20.04

[2021-11-02 10:04] 255kb commented on #252
One last thing that could make the default response even more obvious would be to always display the flag, even when the drop-down is closed. It could be either blue or grey depending on the currently selected response is the default one or not.

[2021-11-03 14:32] aevalo opened #587 "Add possibility to change response status code, when file path does not exist"
**Is your feature request related to a problem? Please describe.**
I have set up a route to serve files based on ID in request body. In case a file does not match ID requested, my options are HTTP 404 or HTTP 200 with error message about file not found. There is a check box in route setting to choose between these two, but in my case neither is a good solution. In this particular case, I would nee

[2021-11-11 10:47] #509 closed

[2021-11-12 13:32] Kaedeko commented on #347
Echoing a need for this, form-data is a reasonably common use case, being unable to use dynamic rules is a bit of a pain.

[2021-11-15 09:02] 255kb opened #588 "Publish app on the windows store"
**Is your feature request related to a problem? Please describe.**
Having the app in the windows store could be cool

**Describe the solution you'd like**
Let's do it

- [x] Open MS partner account
- [x] Prepare app listing
- [x] Add logos to build folder
- [x] add new electron-builder target and upload/test
- [x] Update binary with v1.17.0
- [x] yay! (wait for approval)

[2021-11-16 07:58] 255kb commented on #175
@azsoncini Unfortunately, I think I d'ont have this anymore. The [self signed certificate](https://raw.githubusercontent.com/mockoon/commons-server/main/src/constants/ssl.constants.ts) is quite old (~2017) and at that time I didn't thought this through.
However, I (finally) started working on this task and it should be available in the next update.

[2021-11-17 17:47] sezabass opened #591 "Apple Silicon builds"
### Discussed in https://github.com/mockoon/mockoon/discussions/590

<div type='discussions-op-text'>

<sup>Originally posted by **sezabass** November 16, 2021</sup>
It would be lovely to see a Mockoon release that is compatible with M1 chips.</div>

Electron supports this [since v11](https://www.electronjs.org/pt/blog/electron-11-0).

[2021-11-18 08:09] Saucistophe commented on #245
Removing the secure flag seems doable https://github.com/chimurai/http-proxy-middleware/issues/237

[2021-11-18 20:14] tbithell opened #595 "1.16 won't allow import of mocks created in 1.14.1"
Getting an error every time we try to import a mock created in v 1.14 into v 1.16

[2021-11-22 12:06] 255kb opened #592 "Replace Spectron"
**Is your feature request related to a problem? Please describe.**
Spectron is [deprecated](https://github.com/electron-userland/spectron/issues/1045) and Electron v14 break compatibility with Spectron's latest release.
This is kind of blocking as it prevent us to update Electron if we want to keep the tests running.

**Describe the solution you'd like**
Use another solution, like a custom Webdriv

[2021-11-23 13:47] #595 closed

[2021-11-23 13:49] 255kb commented on #245
Thank you for contributing @Saucistophe I will try to review asap and integrate your change in the next release

[2021-11-23 14:21] #175 closed

[2021-11-24 09:05] 255kb opened #597 "Allow to move an environment to another folder"
**Is your feature request related to a problem? Please describe.**
Moving an environment file manually is not automatically monitored by Mockoon.
Any subsequent modification in the UI will result in a copy being created where the file initially was.

**Describe the solution you'd like**
Add a "save as" or "move file" option that get reflected in the settings too

[2021-11-24 09:07] 255kb opened #598 "Enhance env name creation"
**Is your feature request related to a problem? Please describe.**
When creating a new env we use a default name "New environment".

**Describe the solution you'd like**
Use the chosen file name by default

[2021-11-25 07:39] Ace-Lightning opened #599 "Helper "switch" doesn't work with variable @index from helper "repeat""
**Describe the bug**
Helper `switch` doesn't work with variable `@index` from helper `repeat`. It returns error:

[code]

**To Reproduce**
[code]

**Expected behavior**
It should return follow response:

[code]

**Mockoon version:**
1.16.0

**OS / OS version:**
Windows 11

[2021-11-25 08:29] #245 closed

[2021-11-25 09:47] #598 closed

[2021-11-26 10:16] 255kb opened #602 "v1.17.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**

- [x] Test Windows binary
- [x] Scan Windows binary on VirusTotal
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**

- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2021-11-26 10:48] 255kb opened #603 "After electron-builder update remove nsis custom binary configuration"
**Is your feature request related to a problem? Please describe.**
We added an NSIS custom config for v1.17.0 to avoid malware false positive detection.

**Describe the solution you'd like**
electron-builder will be updated soon with an NSIS version downgrade, we should remove the config when electron-builder is released with the change
https://github.com/electron-userland/electron-builder/issues/

[2021-11-29 14:43] mynameisandreas opened #668 "Configurable SSL on start."
Wanted to ask if it's possible to have an override ssl flag of some sort when starting with mockoon-cli start.
Why I would like to have this is becuase my hosting provider allowes me to deploy an docker image withouth SSL and they will
handle the SSL.
But running locally, I have to switch off SSL and then put it on when pushing it to my hosting partner.

Would it be possible to add an option flag

[2021-11-30 10:59] seravifer commented on #591
If you need it, I can test this version on my MacBook Air M1. Or even work in PR if @sezabass can't.

[2021-12-01 09:24] 255kb commented on #591
https://github.com/electron-userland/electron-builder/issues/5689

[2021-12-01 10:12] 255kb commented on #591
I just built v1.17.0 for mac in 3 versions:
- universal (contains both x64 and arm64 binaries): https://github.com/mockoon/mockoon/releases/download/v1.17.0/mockoon.setup.1.17.0.universal.dmg
- x64: https://github.com/mockoon/mockoon/releases/download/v1.17.0/mockoon.setup.1.17.0.x64.dmg
- arm64: https://github.com/mockoon/mockoon/releases/download/v1.17.0/mockoon.setup.1.17.0.arm64.dmg

I would b

[2021-12-01 10:23] seravifer commented on #591
![Captura de pantalla 2021-12-01 a las 11 20 14](https://user-images.githubusercontent.com/5394989/144216793-6e0d4e35-e211-4da6-90f5-b0e4c9961cc7.png)
It works!

[2021-12-01 10:24] 255kb commented on #591
Marvellous!

[2021-12-01 10:28] 255kb commented on #591
@seravifer Any issue with the icon in the dock?

[2021-12-01 10:32] seravifer commented on #591
No, it looks perfect.

[2021-12-01 10:33] 255kb commented on #591
Thanks!

[2021-12-01 15:52] #591 closed

[2021-12-01 16:34] sezabass commented on #591
Sorry for the delay, I've been really really busy lately.
I've tested the arm64 version, everything's fine here as well 👍
![image](https://user-images.githubusercontent.com/782204/144274041-10a1b090-3f29-4b49-926a-aadfaced7475.png)

[2021-12-01 18:23] 255kb commented on #591
Great! Thank you @sezabass

[2021-12-01 23:47] viktor-klestov opened #605 "Large body files"
**Describe the bug**
It doesn't handle large files. I have a 2.3G file that I want to be served as a response body. Unfortunately I get response with no body.
If I have "Response with 404 when the file path did not match any files" option checked, it returns 404, but file actually exists. Also when I truncate file it works as expected.

![image](https://user-images.githubusercontent.com/82416965/1

[2021-12-02 00:24] viktor-klestov commented on #605
looks like problem here commons-server/src/libs/server.ts:448 readFile can't handle such size? May be stream read is possible?

[2021-12-02 01:45] lizy0329 commented on #280
Faker.js is hard to use with china developer

[2021-12-02 06:55] heavenwing opened #606 "Don't support dollar char in path"
**Describe the bug**
I want to mock Microsoft Graph api, it contain dollar char ($) in path, like below:
https://docs.microsoft.com/en-us/graph/api/group-post-members?view=graph-rest-beta&tabs=http

[code]

but Mockoon always return 404 not found response

**To Reproduce**
Add a new route with path "/beta/groups/{group-id}/members/$ref"
send http request from any client (ex: PostMan)

**Expected b

[2021-12-02 09:20] #588 closed

[2021-12-02 22:25] skalpeliio opened #607 "CLI - to avoid communication"
**Describe the bug**
If I try run CLI by >>mockoon-cli start...,, the information is appear:

 "This environment does not seem to be a valid Mockoon environment or is too old. Load it anyway? (Mockoon CLI will attempt to repair it)"

there is no parameter that can be used to avoid this message. It is problematic to create an automaton for CLI

**Mockoon version:**
1.17.0

**OS / OS version:**
Wind

[2021-12-03 11:04] 255kb opened #608 "Port auto-increment can be confusing"
**Is your feature request related to a problem? Please describe.**
The port auto-increment when creating/duplicating an environment may be confusing, especially since the port input was moved in the environment settings (#509 )

**Describe the solution you'd like**
Remove this feature

**Describe alternatives you've considered**
Add a setting to disable this feature

### Discussed in https://githu

[2021-12-03 11:49] Saucistophe commented on #245
Thank you for the quick release and your thanks in the changelog :hugs:
Sadly, it doesn't fix my problem; but I guess I'll have to investigate further...

[2021-12-03 14:01] 255kb commented on #606
This is a "feature" of Expressjs that Mockoon is using. Express is treating the `$` like its regex counterpart: https://expressjs.com/en/guide/routing.html#route-paths
You must escape the `$` when declaring your route.
Anything like this should work:
[code]

[2021-12-03 14:01] #606 closed

[2021-12-03 14:34] 255kb commented on #245
@Saucistophe oh really? I'm not used to cookie forwarding, and after testing/exploring a bit it seemed to be the required change.
Let me know if I can help.

[2021-12-03 16:01] Saucistophe commented on #245
I use an application developped in my company; What I receive when login through Mockoon is:

`Set-cookie: access_token=<REDACTED>; Max-Age=35999; Expires=Sat, 04-Dec-2021 01:56:09 GMT; Path=/; Secure; HttpOnly`
And that cookie never got sent back with subsequent requests.

I thought that what was bothering the application was the `Secure` part, so when I saw this issue, I felt confident enough th

[2021-12-08 14:47] Saucistophe opened #611 "The cookie Secure flag is not removed"
When proxying to a HTTPS website that sets Secure cookies, the secure flag is not removed.

**To Reproduce**
Proxy to a HTTPS service that sets secure cookies. I used a service developped at my company. For instance:
`curl -D /tmp/response-headers -X POST https://real-service/service/login -d 'user=myUser&password=myPassword'`
yields a secure cookie.

When performing the same request through Mocko

[2021-12-10 05:29] iamike commented on #347
Is this problem has been solved?

[2021-12-10 17:05] scottsandersdev opened #614 "Receiving CORS option redirect error even with CORS headers set"
I've setup a mock api to return a simple object, and it's working fine when hitting it with postman, but when I try to make the request from my webapp, I get an error
[code]
I've tried using the "Automatically handle OPTIONS pre-flight requests" setting as well as creating my own options route that returns 200 and for some reason Chrome still seems to think that the options request is attempting t

[2021-12-10 18:40] alexwhb commented on #539
I'm experiencing this same issue.

[2021-12-11 16:24] 255kb commented on #347
@iamike Not planned yet, issue is still opened.

[2021-12-13 11:41] bevinhex opened #615 "High memory usage"
only few json api and few test file server is created, already used up 5.8GB memory, nothing else is running after fresh restart, not much autostart applications except essentials

**Expected behavior**
For a single program to mockup , it is not exceptable to use up that much memory, should be under 100mb, our whole distributed cross platform sdk uses up 1mb ram, yet mockup crashes when sdk tries

[2021-12-13 15:15] melkyfb opened #669 "Cli Parameter to Set Faker.JS Locale"
I'm working for a german company and I'd like to create the mockoon api using the German Locale in Faker.js.
The options is available in the GUI.
![image](https://user-images.githubusercontent.com/44884373/145837876-5f06e784-d3cd-4f91-81f8-062827b21375.png)

The simple solution would be a way to launch the cli with some parameter like `mockoon --data=file.js --locale=de`

[2021-12-14 10:19] #602 closed

[2021-12-15 03:52] mjcadz opened #618 "queryParam helper not working inside dateTimeShift helper"
**Describe the bug**
when using the dateTimeShift template, the queryParam helper does not work inside it

**To Reproduce**
create GET route with endpoint '/api/setExpiry' and response body:
{
  "ExpiryDate": "{{dateTimeShift date=(now 'yyyy-MM-dd') format='yyyy-MM-dd' months=(queryParam 'NoOfMonths')}}T11:59:15.043Z",
}

then run query: 'localhost:3000/api/setExpiry?NoOfMonths=24'

The response i

[2021-12-15 09:03] 255kb commented on #615
Could you please share more details about your routes, and the content you are trying to send through Mockoon? Seeing the screenshot I suspect that you are serving big file (1Gb). Mockoon wasn't optimized for such use case (yet).
Depending on your answer, it may be related to #605 and both problems could be solved at once.

[2021-12-15 18:09] trickpattyFH20 commented on #83
@255kb is this still on the roadmap?

[2021-12-15 20:07] 255kb commented on #83
@trickpattyFH20 Yes it is. You can see the roadmap [here](https://github.com/orgs/mockoon/projects/2) and what I am currently working on. However, I cannot give any ETA. Among the tons of things I have to do on this project I would like to work on GraphQL or Websocket next, but these big features takes a lot of time!

[2021-12-16 21:58] realtica commented on #507
Nobody answer this :(
I need the same for raspberry pi, AARCH64.

[2021-12-20 19:54] everettcomstock commented on #363
Is there a roadmap or anyway to glean insight on what's up next for Mockoon? I'm trying to get my organization to adopt Mockoon but this one feature has become a sticking point.

[2021-12-22 16:06] aleksey-sh commented on #252
I am relatively new to Mockoon but I like it so far. However this has been quite an annoyance having to drag-and-drop responses constantly just in order to get needed response. This would work nicely if you setup a lot of rules and setup responses in automated fashion. However if you are developing and need to constantly switch between responses to get various combination of use cases, its becomin

[2021-12-22 17:07] roybarber opened #621 "Multiple Users using checked in environment.json"
**Describe the bug**
When we have multiple developers working on a project, all with mockoon (app) open and reading from an environment json file thats stored in version control, If we pull down a branch, mockoon doesnt apply the changes to the environment from the new json file, instead it immediately creates a changed version ready to commit. To avoid this happening you have to close mockoon bef

[2021-12-23 08:17] 255kb commented on #621
@roybarber Indeed, it's a bit annoying right now. This is already planned in #580

[2021-12-23 08:17] #621 closed

[2021-12-23 08:23] 255kb commented on #580
I will work on this soon, but I am not sure about the implementation.
Seeing the issues and talking with some users, I see two possibilities:
1. It could be automatic and transparent for the user. The environment could be updated in the UI immediately after a file change without prompting. I don't see any issue choosing this implementation and not prompting the user.
2. Another solution would be t

[2021-12-23 09:53] roybarber commented on #580
@255kb I think both options are viable, I agree with the annoyance of option 2. 

Is there a way to have two buttons, Where a user accepts the current notification, or accepts all?

But for a quicker fix i think option 1 is best, it also avoids some users not updating and presenting back with api data issues which could have been avoided.

[2021-12-23 10:41] 255kb commented on #252
@aleksey-sh What you are saying make perfect sense. This ticket is more or less about changing the way the default response (no rules matched) is selected: flag click instead of drag and drop.
Drag and drop would be kept as a way to define the order of precedence (you may want a 404 at the top for example).

There is another ticket open to deal with the "I want to disable the rules and serve this

[2021-12-23 10:46] 255kb commented on #580
@roybarber True. But Mockoon autosave happens around 1 or 2 seconds after the last modification. So, it means that if you go to your favorite git tool and pull, you will have to commit your local changes anyway and merge, and then you shouldn't lose anything.
Automatically reloading after the commit+merge should work then.
Or am I missing something?

[2021-12-23 10:48] roybarber commented on #580
Yes good point the file will be marked as changed anyway. 

Solution 1 vote from me.

[2021-12-23 10:51] nodehi commented on #580
@255kb , I vote for Option 1,
For a team that their main focus is not API development (e.g.we are team of iOS developers) , we all run Mockoon, and rarely go to check on it.
If one member update some mock and commit it,, it is easier for the rest of team that Mockoon automatically return updated response after we pull the new changes from Git Repo.

[2021-12-28 09:53] vuvdoan commented on #97
soo during my christmas holidays I spent sometimes looking into this. I've just started using Mockoon recently, but really like it.
I am not a frontend developer and the last time I develop something for the real production is like 3-4 years ago.  So you can say, everything here is new to me :)  I was hoping to find someone experienced to discuss about this feature.

For example:
I started groupin

[2022-01-03 14:00] akkie commented on #507
Would also be great to publish docker images for ARM. Currently only amd64 images are published. This would make it more easy to run the docker image on Apple Silicon machines.

[2022-01-03 14:11] akkie opened #670 "Build ARM Docker images"
**Is your feature request related to a problem? Please describe.**
I want to run the CLI on Apple Silicon devices

**Describe the solution you'd like**
Provide cross builds for AMD64 and ARM

[2022-01-03 22:22] sethbro commented on #392
So, since what Faker date functions actually return are `Date` objects, it seems to me that this issue is likely the result of `toString()` being called on that object somewhere in the pipeline.

[code]

I've still found no better workaround than those suggested. It might be cool to expose some of [`date-fns` other formatting options](https://date-fns.org/v2.11.1/docs/formatRFC3339), or to allow u

[2022-01-06 16:12] #592 closed

[2022-01-07 14:18] 255kb commented on #97
@vuvdoan Sorry I didn't answer to your message until yet.
I'm impressed by the amount of work you pulled on this one!

I would like to be sure we are heading toward the right direction before implementing this feature.
My personal opinion is that it should be enough to have automatic grouping based on the path sections, like Swagger UI does. Which means, you create two routes `GET /users` and `POS

[2022-01-07 14:31] 255kb commented on #392
@sethbro Probably due to the fact that Handlebars convert helper result to strings.

Did you have a look at the [`now`](https://mockoon.com/docs/latest/templating/mockoon-helpers/#now) [`date`](https://mockoon.com/docs/latest/templating/mockoon-helpers/#date) helpers? They allow you to get a random date between two boundaries or the current time, and it will format using date-fns syntax.

[2022-01-17 11:36] mallowigi opened #624 "Run in background"
**Is your feature request related to a problem? Please describe.**
Hi, I'd like to have mockoon run in the background, .e.g in the TaskBar/MenuBar/etc. Currently the application runs in a separate window and by the time this window is closed the application exits and the servers are disconnected.

**Describe the solution you'd like**
It would be great if Mockoon can be included in the Taskbar (Win

[2022-01-19 17:39] ahmad-alkhatib opened #625 "It will be usful if we can decode base64 string from the output headers."
**Is your feature request related to a problem? Please describe.**
I would like to extract the header which contains the base64 value and decoded and return it in the body as a response.

**Describe the solution you'd like**
It has been requested before to have a base64 **encoding** feature [here](https://github.com/mockoon/mockoon/issues/331). It will be great if we can have the **decoding** feat

[2022-01-25 10:38] #580 closed

[2022-01-26 10:05] 255kb opened #626 "Mockoon's format import/export deprecation"
Since [v1.16.0](https://mockoon.com/blog/new-storage-system-git-data-sharing/), Mockoon is using separated environment files, and the CLI is directly compatible with them. The import/export feature in Mockoon's format do not provide any advantage over working directly with environment files anymore.
These options are still available which can be confusing.
They should be deprecated and ultimately

[2022-01-27 10:46] #615 closed

[2022-01-27 10:55] LuisCavalheiro opened #629 "API for dynamic route setup"
In order to drive test execution directly from design, it will be useful to add an API to create dynamically new routes at runtime. Basic CRUD operations should be enough as a start.

[2022-01-27 13:29] #605 closed

[2022-02-01 10:39] ejt-landmark opened #632 "Expose an API to interrogate request and response logs"
### Discussed in https://github.com/mockoon/mockoon/discussions/583

<div type='discussions-op-text'>

<sup>Originally posted by **ejt-landmark** October 26, 2021</sup>
It would be great to have an API to verify the payload for the requests being sent to Mockoon endpoints. This would allow you to ensure your code is sending a request to the endpoint and verify that the expected payload to the mock

[2022-02-03 09:45] #626 closed

[2022-02-03 18:01] mikiTesf opened #633 "The option to copy the fully constructed path of a route"
**Problem**
I often find myself typing out the entire URL of endpoints being served by a Mockoon environment in different programs (i.e. Ajax requests, Postman, terminal, etc). It would be very helpful if there is an option to copy the fully constructed URL (`scheme` + `host` + `API-Prefix` + `path`) of a route.

**Preferred Solution**
A copy button next to the path input.

**Alternative Solution*

[2022-02-04 14:15] marszysz opened #635 "Unhelpful preview for structured QueryParams in the request log"
There'a s problem with the preview of query parameters in the logged request if they are structured. The preview shows `[object Object]` instead of the real contents of the params.

### Discussed in https://github.com/mockoon/mockoon/discussions/634

<div type='discussions-op-text'>

<sup>Originally posted by **marszysz** February  4, 2022</sup>
Hello,
It would be very helpful if one could see the

[2022-02-07 09:43] 255kb commented on #143
I started working on the GraphQL implementation. However, it raises a lot of questions regarding rules, statuses, etc.
I would like to gather a bit of feedback from Mockoon's users on how they imagine this GraphQL feature. Feel free to share your views here or on the [Discord server](https://discord.gg/MutRpsY5gE) (you can directly DM me @255bk).
Thank you!

[2022-02-10 02:20] panchalkalpesh commented on #143
Until this mockoon supports GraphQL, I have a fallback on [graphql-faker](https://github.com/APIs-guru/graphql-faker)

[2022-02-11 10:20] ramkumar-sacumen commented on #255
Hi Team,

How to pass the input in the Rules when my Json looks like this

"Authentication: = {"username": "Test","password": "Test"}

[2022-02-11 13:57] 255kb commented on #255
@ramkumar-sacumen Could you please elaborate on what you are trying to do? I am not sure to understand. Also, I would kindly ask you to open a new [discussion](https://github.com/mockoon/mockoon/discussions/new), instead of posting in an old issue. It's not the best place to ask for support.
Thank you!

[2022-02-13 20:07] Bruno13 opened #638 "Route specific latency not working properly"
**Describe the bug**
The Route specific latency set for the first response it's being set for all others. Seems like all the responses added uses the latency route definition from the default response.

**To Reproduce**
1. Add New Environment
2. Add route
3. Add response
4. Set Route specific latency 1000ms in the first response
5. Set Route specific latency 0ms in the second response
6. Enable Se

[2022-02-18 08:44] #603 closed

[2022-02-18 08:52] 255kb commented on #638
@Bruno13 I just tested and experienced no issue. I tested by reordering the responses, using sequential or randomized responses and result was consistent.
Could you please share you environment JSON data (right-click on the environment in the list, then --> "Copy to clipboard (JSON)", so I can try to reproduce the issue?

[2022-02-18 16:24] 255kb opened #640 "Monorepo"
**Is your feature request related to a problem? Please describe.**
The current setup with 4 repos (app, 2 libs and CLI) is cumbersome:
- requires multiple pulls/branches
- requires to use `npm link` locally
- harder to test: tests have to be local as there is no integrated automated tests between the 4 repos
- harder to do PRs and contribute (pipelines won't pass for commons-server, app and CLI as

[2022-02-22 15:13] 255kb commented on #143
Thank you for the feedback @panchalkalpesh !

[2022-02-24 06:50] kajweb opened #641 "The new version function is too difficult to use"
Bug-laden version for users of migrating systems
Import function is not available
The opening function of the new version is sometimes abnormal

[2022-02-24 07:06] 255kb opened #643 "v1.18.0"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**

- [x] Test Windows binaries
- [x] Scan Windows exe installer binary on VirusTotal
- [x] Test Linux binaries
- [x] Test OSX binaries

**Release:**

- [x] Add Windows binaries to release
- [x] Add Linux binaries

[2022-03-01 10:09] Flavsditz commented on #97
Just my 2 cents here:

Although the idea of automatic grouping sounds good I think it will lead to a lot of grouping that was not desired.
I think the manual solution is better and allows each one to decide on what and how they want to organize.

One example to show problems of the automatic:

I worked at a company where there were some endpoints that were "relics of a distant past". They weren't

[2022-03-01 20:27] 255kb commented on #97
Thanks for the feedback @Flavsditz !
I must admit that the more feedback I get, the less I am sure about what is really needed. I guess manual folder creation is appealing and would solve more use cases. Also, @vuvdoan approach could be interesting.
1. Manual folders creation.
2. Option to create folders from the paths sections automatically.

[2022-03-02 11:47] #643 closed

[2022-03-03 09:33] alpap opened #647 "Mockoon fails to import a mockoon exported json file on other OS"
**Describe the bug**
When you are using the mockoon in windows and export a project to a mockoon json file, you cannnot open it in linux or mac

**To Reproduce**
- Open Mockoon on Windows
- Create a project
- Export to mockoon format json
- Import the mockoon project json in mac or linux

**Expected behavior**
Mockoon should load the json file

**Screenshots**
![image](https://user-images.githubus

[2022-03-03 11:19] 255kb commented on #647
The export in Mockoon's format feature [has been removed](https://github.com/mockoon/mockoon/issues/626) in latest version v1.18.0. It won't be supported anymore as you can share environments files "as-is".
Could you please check that sharing between the two systems works with environments files directly? ([Find your environment files](https://mockoon.com/docs/latest/mockoon-data-files/data-storag

[2022-03-03 15:03] manofthepeace opened #649 "Automatic env reload reloads forever and shuffles the sidebar"
First off thank you for this great tool.

**Describe the bug**
After loading Mockoon 1.18 when I launch Mockoon, I see the notification on the side about the env changed externally, and it reloads the files, but it reloads endlessly so mockoon is unusable for me I had to go back to 1.17. For some reason something seems to modify the file, and then mockoon reloads it.  Even worse I have about 10 mo

[2022-03-03 20:26] 255kb commented on #649
I am sorry to read that. This feature was thoroughly tested on multiple platforms, so I am not sure what is the cause.
Could you please verify that you don't have any software that is modifying the environment files?
Also, the order of the environments should be maintained, but if they are all reloading randomly everything is broken, of course.

There is currently no option to disable this option.

[2022-03-03 21:22] manofthepeace commented on #649
Thanks for your prompt response. I can try giving a bit more context, minimal but better than nothing. Good to know the env are not supposed to lose ordering; I kind of expected that was a side effect of the initial problem.

So I have 2 sets of files for 2 projects, one is from a really old mockoon installation and I never bother moving them
`~/Library/Application Support/mockoon`
the other are i

[2022-03-04 11:41] 255kb commented on #649
Thank you for the details. I suspect that Mockoon is detecting its own change event after it saved a file, which should definitely not happen.
Could you please give me the approx. size of your environment files?

[2022-03-04 16:31] manofthepeace commented on #649
I have 9 env files: ranging from about 6KB to about 17KB

[2022-03-05 12:04] 255kb commented on #649
Thank you.
I will investigate and probably revert to a prompt system that can be disabled.

[2022-03-05 17:57] namaaror opened #651 "Reload environment getting called multiple times"
**Describe the bug**
Mockoon reload environment gets triggered multiple times (with success toast) [Environment "Demo API" was modified externally and reload] for every change that is made in the UI or in the environment file.

**To Reproduce**
Steps to reproduce the behavior.
Open the mockoon application via custom protocol in the browser. eg. mockoon://load-environment?url=<env_path>, the dialog

[2022-03-05 20:02] 255kb commented on #651
This appears to be a duplicate of #649

[2022-03-05 20:02] #651 closed

[2022-03-05 20:12] 255kb opened #652 "v1.18.1"
- [x] Bump app version
- [x] Create a **pre-release** (!important) on GitHub with correct version and publish
- [x] Build the binaries (automated after pre-release publication)

**Tests:**

- [x] Test Windows binaries
- [x] Scan Windows exe installer binary on VirusTotal
- [x] Test Linux binaries
- [x] Test OSX binaries

**Release:**

- [x] Add Windows binaries to release
- [x] Add Linux binaries

[2022-03-05 21:14] 255kb commented on #649
I just released a v1.18.1 where the file monitoring is disabled until I investigate the issue and come up with a better implementation. Sorry for the mess 🙇

[2022-03-07 19:58] manofthepeace commented on #649
Oh don't be sorry! Bug happens. Thanks a lot for the quick turnaround. Please let me know if you need anything from me.

[2022-03-08 19:56] #652 closed

[2022-03-09 08:09] sunnydsouza commented on #632
I agree, it would be useful to have this feature

[2022-03-09 09:56] alpap commented on #647
yep it seem to work :)

[2022-03-09 09:56] #647 closed

[2022-03-13 21:48] kevbook opened #655 "Add a few basic templating string helpers"
**Is your feature request related to a problem? Please describe.**
Add a few templating string helpers. Eg.
[code]

**Describe the solution you'd like**
- lowercase
- uppercase

[2022-03-14 11:35] paour opened #672 "Add include helper"
**Is your feature request related to a problem? Please describe.**
In order to reuse data between routes, I would like to be able to include files in my mock responses.

**Describe the solution you'd like**
For example if my API serves info about states, I could create one file per state. Then I could have a route like `random5`, which returns a JSON array generated by something like

[code]

It w

[2022-03-21 11:25] 255kb opened #671 "Dockerize command generate a Dockerfile with wrong chmod instructions"
**Describe the bug**
When generating the dockerfile with the `dockerize` command, the resulting file has wrong instructions in `RUN chown -R mockoon ./data`.
It should instead run this command for each copied file.
(`./data` is old name of the data file prior to v1.6.0)
https://github.com/mockoon/cli/blob/main/src/constants/docker.constants.ts#L10

**To Reproduce**
Run the dockerize command with a

[2022-03-24 13:09] andy-g opened #663 "Is there a Web UI on the roadmap by any chance?"

[2022-03-24 22:54] OrgesKreka commented on #539
I am facing the same issue here, i want to return the charset as utf-16 but by default it returns utf-8

[2022-03-25 13:39] OluAgunloye commented on #647
Hello,

This issue isn't quite solved actually. On Windows this issue persists, any now deprecated format imported seems to import correctly, but when you want to export to the "new" format, the export "loses" data. That is not expected, as what Mockoon imports it should surely be able to export correctly.

[2022-03-25 13:52] OluAgunloye opened #659 "Export functionality from "deprecated" imported file types not functioning correctly."
**Describe the bug**
On Windows a related issue to #647  persists, any import of a now deprecated format seems to import correctly, but when you want to export to the "new" (formats supported as of 1.18.0) format, the export "loses" data.

**To Reproduce**
1. Import file of deprecated type (in either OpenAPIv3 or Mockoon format). Be sure to use rules in this file type. This works correctly.
2. Exp

[2022-03-28 10:52] 255kb commented on #659
I think there is a misunderstanding here.
Let me clarify things:
- Mockoon stores each environment in a JSON file (right click on an environment name to find the file on your hard drive).
- Before v1.18.0, there was an import/export option **in Mockoon's format** which was removed. It was basically a JSON format wrapping the environment. Nothing fancy, and a bit useless since now Mockoon is treati

[2022-03-28 10:52] #659 closed

[2022-03-28 20:38] #671 closed

[2022-03-29 09:15] bewareilive commented on #663
I have an idea.
The real reason people want the web version is because they want to modify the configuration on CLI (usually on the server). Copying the config file to the server is more of a hassle.

Then could you add a function on the client for pushing and downloading config files to the server, and open a send/receive interface on the CLI , while updating the service after receiving the confi

[2022-03-30 16:54] neNerower opened #674 "Rules with body parameters are ignored"
**Describe the bug**
I try to simulate the user auth process, expected that the client sends a request with a username and password in the request body. So I would like Mockoon to check if request body contains correct credentials than return an auth token, otherwise return a 401 response code.

I expect that these rules would match the request with correct credentials
(p.s. the first response is

[2022-03-30 16:59] neNerower commented on #674
Also I tried to use response rules with headers params, and it works correctly.
![image](https://user-images.githubusercontent.com/64657348/160890364-0ced05c8-045f-4ec2-80fa-791c41608bc0.png)

But I still dont understand, why I could not do the same thing with body params.

[2022-03-30 20:39] 255kb commented on #674
I just tested with a similar setup (see below) and payload and it seems to work correctly.

When sending the following JSON I receive a 200 on the /test route.

[code]

Could you maybe share your environment's JSON? (right click on the env name, then Copy to clipboard).

---
My environment (you can import it after copying the JSON below, using menu **File -> New environment from clipboard**):
[cod

[2022-03-31 10:27] neNerower commented on #674
I just tried to copy your environment and test it, but still run into the same issue

---
Also my environment config
[code]

[2022-03-31 11:19] 255kb commented on #674
I think the issue may come from the fact that you are sending the correct JSON body in the request but with a Content-Type: text/plain. You should send it as application/json.

[2022-03-31 11:44] neNerower commented on #674
Oh, yes. You are right !
The problem was with request headers

Sorry for my silly issue

[2022-03-31 12:20] #674 closed

[2022-03-31 13:21] 255kb commented on #674
No problem! Glad we found the issue 😀

[2022-04-06 15:49] roybarber opened #678 "Ability to export to OpenApi V3 Using the CLI"
**Is your feature request related to a problem? Please describe.**
I cant export my environment to OpenApi V3 (Json) using the CLI

**Describe the solution you'd like**
When using the CLI, i'd like the ability to export my environment to OpenApi v3 (JSON), like i can do using the Mockoon UI

**Describe alternatives you've considered**
Only option currently is using the Mockoon UI (App)

[2022-04-07 00:51] Cliftonz opened #679 "Ability to mock a grpc server"
**Is your feature request related to a problem? Please describe.**

No, the lack of a feature in the system.

**Describe the solution you'd like**

I would like to be able to mock a grpc server that takes in my proto file and returns a set of mock data based on the function I want to call.

https://grpc.io/

[2022-04-07 15:34] 255kb opened #680 "MacOS packaging is failing with Electron 18"
**Describe the bug**
After updating to Electron 18, the macOS app packaging is failing.
Probably linked to this issue : https://github.com/electron-userland/electron-builder/pull/6750

**To Reproduce**
See last action on main: https://github.com/mockoon/mockoon/actions/runs/2109797336

**Expected behavior**
Should package correctly

**Screenshots**
If applicable, add screenshots to help explain yo

[2022-04-08 04:19] kajweb commented on #663
#681

[2022-04-08 04:23] kajweb commented on #663
If editing locally, I think an important issue is how to solve the problem of delay. #681

[2022-04-13 07:17] kajweb opened #686 "Logs' delete button is not well positioned"
![image](https://user-images.githubusercontent.com/2993320/163120984-5b2255c3-c8e8-4c8d-946c-28d67d6810be.png)

When I first used it, I thought this would just delete one of my records. In fact, he will delete all logs

v1.18.1

[2022-04-20 10:11] 255kb commented on #649
@manofthepeace Would you help me test the new version? If yes, could you please join the [Discord server](https://discord.com/invite/JmTBk59MTb)?
Thanks 😀

[2022-04-20 16:49] martin-bucinskas opened #687 "Partial mocking proxy mode based on routes and rules"
**Is your feature request related to a problem? Please describe.**

I find that mockoon partial mocking using the proxy mode is not very useful as it is at the moment, since it only
forwards the requests that do not match a declared route to the URL of our choice.

**Describe the solution you'd like**

Mockoon should be able to partially mock APIs using proxy mode where the proxy pass-through is d

[2022-04-21 09:38] martin-bucinskas opened #688 "CLI flag `--log-transaction` should have an option to hide credentials"
**Is your feature request related to a problem? Please describe.**
Running mockoon cli in a containerised environment, I'd like to log each transaction in verbose mode to have the ability to be able to debug or have an insight on the requests coming in and their responses.

When the `--log-transaction` flag is enabled, the current behaviour is to log the entire content of the transaction including

[2022-04-21 13:37] 255kb commented on #687
Thanks for opening this issue.
It is already covered by #363 where we will track this feature.

[2022-04-21 13:37] #687 closed

[2022-04-21 15:53] #638 closed

[2022-04-21 16:17] martin-bucinskas opened #689 "Uncaught exception raised by `decodeURI` results in a process crash"
**Describe the bug**
The usage of `decodeURI` in `commons-server/src/libs/utils.ts` may result in an uncaught exception raised, crashing the process.

[code]

**To Reproduce**
Request sent with a query parameter containing a malformed URI.
See the HTTPie requests below.

[code]

Or equivalent non encoded version

[code]

**Expected behavior**
The expected behaviour would be to handle the `decodeUR

[2022-04-22 15:15] mjlachman opened #690 "Allow rule negation"
**Is your feature request related to a problem? Please describe.**
I would like the ability to make a "not equals", "not null", "not matches", or "not empty array" rule when setting up response rules in Mockoon.

**Describe the solution you'd like**
If you could add a checkbox / additional property to the rule to negate it, I think that would suffice

**Describe alternatives you've considered**
I'

[2022-04-28 17:49] majadinjar opened #691 "View query parameters in imported OpenAPI definitions"
Only one thing is missing so that Mockoon became perfect tool for OpenAPI mocking. I can't find possible query parameters.

It would be great if you add list of possible query params in every api definition, you can read it from parameters attribute in OpenApi documentation:
"parameters": [
                    {
                        "name": "name",
                        "in": "query",

[2022-04-29 13:49] #680 closed, assigned to 255kb

[2022-05-02 09:41] #649 closed

[2022-05-02 10:07] #655 closed

[2022-05-02 10:54] #625 closed

[2022-05-02 12:37] iFederx opened #699 "Using variable nested in helper"
**Bug description**

I'm not sure if this is a bug, maybe it's my fault.
I'm trying to create a mock for an API that returns a list of transactions.
Within each transaction I get the fields authorized amount and captured amount. The captured amount must be a causal number, but must not exceed the authorized amount.

**To Reproduce**

To achieve this, I've written the template below (`application/j

[2022-05-03 20:20] 255kb commented on #699
I just investigated and it's indeed a bug.
Our `faker` helper is at fault here as it always returns a string.

I will fix this for the next release.

[2022-05-04 06:24] iFederx commented on #699
Thank you very much, Guillaume.
Okay, I'll wait for the next release.

Btw, Mockoon is a wonderful tool! ;)

[2022-05-04 07:14] 255kb commented on #699
Thank you! Glad you like it 😄

[2022-05-05 06:57] #699 closed

[2022-05-05 08:00] 255kb opened #702 "Remove CLI compatibility for Node.js v12"
Update libs and CLI to remove compatibility with Node.js 12 as it is now out of maintenance period.

[2022-05-06 09:27] 255kb opened #706 "Empty value in parent variable on nested repeat block"
### Discussed in https://github.com/mockoon/mockoon/discussions/704

<div type='discussions-op-text'>

<sup>Originally posted by **neofly** May  5, 2022</sup>
Hello,

I'm using nested repeat blocks in a JSON Response template having the nested block using a parent variable `{{@itemId}}`.
[code]
The problem is that the {{@itemId}} in the nested block returns an empty value :
[code]
Am I doing somet

[2022-05-10 08:36] #702 closed

[2022-05-13 09:44] #252 closed

[2022-05-13 23:12] eliseuborges opened #709 "Trigger new request using moockoon"
Hi @255kb,

Nowadays is very common async communication between micro services like the scenario bellow:

**AppA** requests **AppB** and **AppB** responds with http 202.
After processing (X seconds), **AppB** responds the process result, on a new request, to **AppA**.

Using moockon to reduce integration test code, I think that could be nicer if it provides some way to trigger or execute that new

[2022-05-15 18:00] neodisk17 commented on #632
As well as we can show a section where the desired request body for an API can be shown to the user

[2022-05-17 11:55] #585 closed

[2022-05-18 07:00] #706 closed

[2022-05-18 09:01] 255kb commented on #539
This issue is double-sided: getting rid of the charset in the Content-Type header and allowing a different encoding.

The problem is that Express is always sending string content encoded as UTF-8 and automatically adds the charset to the Content-Type header. Getting rid of these two behaviors requires some work.

We are not changing this soon, except if this issue gets significantly more attention

[2022-05-19 08:21] 255kb opened #713 "Remove Google Analytics from the desktop application"
Since we added custom privacy friendly telemetry mid 2021, GA is not needed anymore.
The welcome modal, setting, and analytics service can all be removed.

[2022-05-19 09:24] #713 closed

[2022-05-19 12:01] 255kb opened #716 "Update Faker.js to a more recent version"
Benefits:
- more features
- typings
- more locales

[2022-05-19 12:15] #633 closed

[2022-05-19 14:04] #716 closed

[2022-05-19 20:48] Gogolian commented on #579
I would double on that, but with slight variation.
That could be a Custom Response that says f.e. Pass-Through And could be used as default response when no other Response Rule matches.

f.e:
Response 1: default - Proxy/Pass-Through (same behaviour as no endpoint configured)
Response 2: some rules - Mocked response
Response 3: some rules - Mocked response
etc,,,