[2017-07-27 08:12] 255kb opened #1 "Add button to duplicate a route or an environment"

[2017-07-27 08:13] 255kb opened #2 "Add autocompletion on custom headers keys"

[2017-07-27 08:26] 255kb opened #3 "Add autogenerated mock data with templating system"

[2017-07-27 08:26] 255kb opened #4 "Make mock data templating react to url/body/headers params"
depends on #3

[2017-07-27 20:34] 255kb opened #5 "Add keyboard shortcuts"

[2017-08-09 09:15] 255kb opened #6 "Add OPTIONS route type"

[2017-08-09 10:08] 255kb commented on #6
done in 0.1.5

[2017-08-09 10:08] #6 closed

[2017-08-30 20:23] 255kb opened #7 "Environment json import/export"
with context menu and/or copy paste shortcuts

[2017-08-31 07:24] Joachim-atHome opened #8 "Can't past any data on any field"
It's impossible to past any information on all field (like endpoint, body, etc..)
OS: Mac OSX (10.12.6 (16G29))

[2017-08-31 22:45] 255kb commented on #8
solved with v0.1.1

[2017-08-31 22:45] #8 closed

[2017-09-15 08:50] 255kb opened #9 "Third party software import"
Investigate how Postman (or other softwares) envs could be imported

[2017-09-22 09:44] florentulve opened #10 "HTTPS Support"
Maybe mockoon could provide its own certificate or let the user provide them ?

[2017-09-25 21:14] 255kb opened #11 "Move envs/routes delete buttons in context menu"

[2017-09-27 20:30] 255kb opened #12 "Allow envs/routes reordering"

[2017-09-27 20:31] 255kb commented on #11
Will be in 0.2.0-beta release

[2017-09-27 20:31] #11 closed

[2017-09-27 20:32] 255kb commented on #1
Will be in 0.2.0-beta release

[2017-09-27 20:32] #1 closed

[2017-09-30 22:51] #5 closed

[2017-09-30 22:51] #2 closed

[2017-10-02 19:48] 255kb opened #13 "Create more visible tooltip"

[2017-10-02 20:58] 255kb opened #14 "Allow analytics opt out"

[2017-10-02 23:46] cbovis opened #15 "Provide a log of requests"
It would be useful to have a log of API requests that have been received when debugging integrations.

[2017-10-06 21:14] bhagatparwinder opened #16 "Allow syncing on environments using cloud services by changing data folder"
Having a sync feature similar to Postman would be nice. Two approaches:

- Google login and sync on Mockoon servers or
- Allow using Dropbox/Google Drive

[2017-10-10 17:50] Lindsor opened #17 "Proxy absent routes"
We should be able to setup route to proxy to a real api.

ie:

In mockoon we setup `GET: localhost:3000/get/url` will be proxied to `GET: https://www.google.com/get/url`

That way we can mock only SOME endpoints instead of an all or nothing aproach

[2017-10-10 21:14] Joshfindit opened #18 "Request: Be explicit about the analytic data collected"
The FAQ currently states

[code]

Suggest showing an example (of all possible collected data) in-line or directly linking to an example submission.

When talking about being tracked, both commercial and residential users **must** be wary of ambiguity.

[2017-10-11 02:48] jmking commented on #7
Are there any plans to open source Mockoon? I'd be happy to add features like this myself.

[2017-10-11 06:35] 255kb commented on #7
@russbot Thanks for the info, I will have a look.
@jmking Currently I don't know, I was more thinking about keeping Mockoon closed source, and offer a paid version with some valuable features (the current version would stay free of course). But honestly everything will depend on the time I have to work on this application, so maybe I will open source it.

[2017-10-11 06:39] 255kb commented on #18
@Joshfindit Sure, this makes perfectly sense. I will add more details, but also I plan to add an opt out setting in the application. At first install user will be warned about the data collection.

[2017-10-11 12:51] 255kb opened #19 "Adding / removing a route do not trigger refresh warning"

[2017-10-11 14:36] 255kb opened #20 "v0.3.0 beta checklist"
- [x] Bump app version

**Builds:**
- [x] Build Windows version
- [x] Build Linux version
- [x] Build OSX version

**Tests:**
- [x] Test Windows version
- [x] Test Linux version
- [x] Test OSX version

**Publish:**
- [x] Publish Windows binaries
- [x] Publish Linux binaries
- [x] Publish OSX binaries
- [x] Publish update file
- [x] Create release on repository
- [x] Update website with new version

[2017-10-11 21:09] baptistemanson opened #21 "Proxy recording / snapshotting"
It would be wonderful if I can configure a url, and proxify all calls from a mockoon server to that other server.
Then the mockoon server would replay what it recorded as pairs of requests/responses, like mountebank.

Use case?

- I developed an API and I have to mock it for a frontend team afterwards.
- I mocked an API, but it changed, so I want a way to retrofit mockoon fast.

[2017-10-12 09:31] gwelr commented on #9
May I suggest the support for importing the RAML compliant files ?

See RAML Specification here: https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/

See a RAML example file here: https://github.com/mulesoft/api-console/blob/master/test/test.raml

[2017-10-14 10:36] dominicrico opened #22 "Sending ZIP breaks the archive"
Hey,

if I want to send a ZIP file I get following error when I try to unzip it:

`Error: invalid central directory file header signature: 0x80014`

If I test it with `unzip -tq Archive.zip` the output says:
[code]

[2017-10-18 01:03] doshprompt commented on #7
+1

[2017-10-20 12:07] YGeorge commented on #7
It would be really useful to import/export environment so it would be possible to configure mocks once and then share with the whole team.

[2017-10-20 19:56] #19 closed

[2017-10-20 20:08] #18 closed

[2017-10-20 20:10] 255kb commented on #22
@dominicrico on which OS did you encounter this bug?
Apparently it's something that can happens with Express but I have no problem with zip files on Windows

[2017-10-22 20:03] dominicrico commented on #22
@255kb I'm working on High Sierra MacOS. Thanks for your help!

[2017-10-25 20:44] #14 closed

[2017-10-26 18:44] roy-gbiv commented on #7
Our team has already asked for this capability. We're excited to use this. :)

[2017-11-09 21:41] 255kb opened #23 "Update to Angular 5"
Waiting for dependencies to be compatible

[2017-11-13 07:55] Radwan-AbuOdeh commented on #17
I strongly agree on this feature, mapping domains to mocked servers' APIs would really be a strong feature, It will save time instead of going through your codebase and replace existing API endpoints with the mocked ones.

[2017-11-13 07:58] 255kb commented on #17
@Radwan-AbuOdeh It's coming soon in v0.3.0 :)

[2017-11-13 13:13] Lindsor commented on #17
That's awesome @255kb this was the only feature missing keeping me from fully using mockoon.

[2017-11-13 13:22] 255kb commented on #17
@Lindsor It's will be very useful for me too! Basically what I did is that after launching all your routes defined in Mockoon, there is a catch-all redirecting all requests to the URL you set up. That's it. So normally it's very easy to use and flexible.

[2017-11-16 10:38] 255kb commented on #23
closes #17

[2017-11-18 16:59] simonmeusel opened #24 "Opt out of data collection"
Can I somehow opt out of the data collection through google analytics?

[2017-11-18 20:44] 255kb commented on #24
@simonmeusel This is coming (very soon) in 0.3.0 release!

[2017-11-19 14:51] #13 closed

[2017-11-19 14:52] 255kb commented on #22
@dominicrico v0.3.0 is out, files are sent differently now, maybe you can try again and let me know if the bug is still there :)

[2017-11-19 14:53] 255kb commented on #10
v0.3.0-beta is out with HTTPS support!

[2017-11-19 14:53] #10 closed

[2017-11-19 14:53] 255kb commented on #24
v0.3.0-beta is out with the possibility to opt out of analytics data collection

[2017-11-19 14:53] #24 closed

[2017-11-19 14:55] 255kb commented on #17
v0.3.0-beta is out with this feature ("proxy mode") let me know if everything is working, I did not test all cases but it should work most of the time.

[2017-11-19 14:55] #17 closed

[2017-11-19 21:44] #20 closed

[2017-11-25 06:54] emircokdogan commented on #7
**+1** 👍

[2017-11-27 07:45] #22 closed

[2017-12-12 19:06] 255kb opened #25 "Make custom headers and CORS headers compatible"
Avoid CORS headers overriding custom headers, or merge them.
Especially this one:
Access-Control-Allow-Headers: Content-Type, Origin, Accept, Authorization, Content-Length, X-Requested-With

[2017-12-19 10:48] greimers opened #26 "Routes with parameters"
Maybe I'm doing it wrong, but I don't get how to have a route with GET URL parameters like `http://localhost:3001/test?param=hello`. Is this not supported?

[2017-12-19 10:52] 255kb commented on #26
Query params are not part of the route declaration.
You define the route like this `http://localhost:3001/test` and then when you call you pass query params with `?param1=value&param2=value...`.
But please note that for now the application is not reacting to these params at all. The response won't be customized at all.
This feature is planned in the future #4, so I will close this ticket for now.

[2017-12-19 10:52] #26 closed

[2018-02-14 10:36] hervehobbes commented on #26
Hello,

I also need this feature and without  it, Mockoon is pretty useless.

[2018-03-02 15:50] 255kb opened #27 "v0.4.0 beta checklist"
- [x] Bump app version

**Builds:**
- [x] Build  and sign Windows version
- [x] Build Linux version
- [x] Build OSX version

**Tests:**
- [x] Test Windows version
- [x] Test Linux version
- [x] Test OSX version

**Publish:**
- [x] Publish Windows binaries
- [x] Publish Linux binaries
- [x] Publish OSX binaries
- [x] Publish update file
- [x] Create release on repository
- [x] update repo wording (

[2018-03-13 12:06] 255kb opened #28 "Move to ngrx for state management"

[2018-03-13 19:54] #28 closed

[2018-03-14 08:51] gebeto opened #29 "Save environment as JSON"
Please add possibility to save your environment into JSON file(maby with other file type but with json structure inside, with that feature we can use **"Open In..."** select **Mockoon** by default to open environment file, it will be very-very-very useful feature), it will be a great feature if i want to save my environment in project repository and use it on other development machines

I really w

[2018-03-26 14:35] samadhiBot opened #30 "Body length extend to full height"
At larger window heights, it would be great if the Content Body section would extend to take advantage of the full height.

![screen-shot](https://user-images.githubusercontent.com/143393/37912735-248f9a74-30e1-11e8-9eec-787688c0475e.png)

[2018-04-05 08:31] 255kb commented on #30
I planned this for next update!

[2018-04-05 08:32] 255kb commented on #29
Good idea. Import / export is definitely something on the list.

The app may be open sourced soon so please stay tuned if you want to contribute.

[2018-04-21 13:27] #30 closed

[2018-04-21 13:39] 255kb commented on #25
Already working

[2018-04-21 13:39] #25 closed

[2018-04-21 14:39] #23 closed

[2018-04-25 20:39] #27 closed

[2018-04-26 19:44] fiveNinePlusR opened #31 "Add mockoon to homebrew for easy install and updates"

[2018-04-27 06:25] 255kb commented on #31
I already thought about this but honestly I did not get how one can add a software to homebrew 😅
The documentation is completely cryptic (maybe because I am not a mac user)
So any guidance / help is welcomed

[2018-04-27 22:04] sebastienlabine opened #32 "Allow to edit the environnement name"
I realize that we cannot change the environnement's name. It would be nice if we have the option to rename it.

[2018-04-27 22:25] #32 closed

[2018-05-02 07:09] 255kb commented on #30
Thanks @samadhiBot 👍

[2018-05-02 10:41] 255kb opened #33 "Use new electron auto update system"
https://electronjs.org/blog/autoupdating-electron-apps

[2018-05-14 09:21] techpavan opened #34 "Support overriding Content-Type header"
**Describe the bug**
Content-Type header is currently chosen from a drop down which makes it limited in options. If it is defined again in the headers section, give priority to the custom value over the pre-defined drop down option.

**To Reproduce**
Steps to reproduce the behavior:
1. Define any http request and response
2. Add the header Content-Type with any value in the Headers section of resp

[2018-05-14 09:30] 255kb commented on #34
Hello, thanks for opening this issue, I will look into it in the next version.
I was sure it was the existing behavior but now as I look in the code I can see that this is not the case! 😄

[2018-05-14 09:33] 255kb commented on #9
Closing this as duplicate of #7

[2018-05-14 09:33] #9 closed

[2018-05-14 09:34] 255kb commented on #29
Closing this as duplicate of #7 ticket (will be part of export feature)

[2018-05-14 09:34] #29 closed

[2018-05-14 09:43] 255kb commented on #7
Hi all people interested in import/export feature. I will work on this for the next release, please raise your voice if you have an opinion about file format!

[2018-05-16 09:31] eric23 opened #35 "Body template enhancement"
**Is your feature request related to a problem? Please describe.**
I may create different responses based on the input parameter from previous POST. E.g, I make a request like this: '\tag\ {id} \audience'. Then I want to create different response for each 'id'.

**Describe the solution you'd like**
A dynamic response template like this:

// switch({id})
'1': {audience:100},
'2': {audience:150},
'3

[2018-05-22 13:59] dlmh opened #36 "Add support for 'oneOf' and 'someOf' to body templates"
The dynamic body templating is already pretty awesome, but it would be even better if you could add support for 'oneOf' and 'someOf'.

The 'someOf' picks one or more items from any given array, with optional parameters defining the minimum and maximum amount of items to be picked, returning an array with the picked items.

`"type": "{{someOf ["apple", "banana", "cherry", "orange"] 1 3}}"`

The 'on

[2018-05-23 06:53] 255kb commented on #36
Nice idea, I will plan this for the next release.

[2018-05-30 13:20] zuolinding commented on #15
Mockoon is a very good tool for me
thanks a lot
and this feature will be better

[2018-06-05 04:34] BinaryBen commented on #7
Please import/export a json file. Please also consider using the same format as one of the node based API mock server generators (i.e., [json-server](https://github.com/typicode/json-server); you may even be using one internally already).

This would make it possible to use Mockoon as a GUI frontend for setting up a mock API but then using the file in other tools for automation relating to develop

[2018-06-05 08:12] ritsrivastava01 opened #37 "Add Query Parameter in URL"
Hi,
 I want to mock the URL with query parameter like

**/wp-json/wp/v2/categories?per_page=50**

its throwing error:
Cannot GET /wp-json/wp/v2/categories

When I save the URL without query parameter eg:

 **/wp-json/wp/v2/categories**

then its working fine.

Pls, help to store URL with a query parameter.

Thnaks in advanced.

[2018-06-05 08:36] 255kb opened #38 "[Poll] Add more import / export formats"
Please vote below with reactions (👍) for import / export formats you would like most to see in Mockoon. You can also comment to add other formats.
Please keep this issue clean by using emojis and avoiding commenting too much.

[2018-06-05 08:36] 255kb commented on #7
@BinaryBen Good idea.
Considering the amount of possible formats I will only add import / export feature in Mockoon own non-standard format for the next release.
I opened another ticket #38 where I added multiple comments with different formats to let you people vote (with 👍 or any other emoji).

[2018-06-05 08:38] 255kb commented on #38
Open API https://github.com/OAI/OpenAPI-Specification

[2018-06-05 08:40] 255kb commented on #38
Format compatible with [json-server](https://github.com/typicode/json-server)

[2018-06-05 08:40] 255kb commented on #38
RAML format https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/

[2018-06-05 08:44] 255kb commented on #38
HAR format

[2018-06-26 01:54] Jancat opened #39 "Cursor automatically jumps to the end of the url when editing"
**Describe the bug**
When editing somewhere in the url, the cursor automatically jumps to the end of the url. I had to reposition my cursor every time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to route editing panel
2. Click on somewhere in url input box(endpoint)
3. Input one character
4. See the cursor jumps to the end

**Expected behavior**
The cursor moves normally.

**Screensh

[2018-07-06 17:58] azizbodal opened #40 "Options request support"
I'd love to see an options request support.

[2018-07-09 06:54] 255kb commented on #40
Could you elaborate on this please?
Mockoon is already answering with status 200 to all OPTIONS requests, would you like something more configurable? and if yes, how?

[2018-07-09 15:02] azizbodal commented on #40
Currently, the route verbs supported are GET, PUT, POST, PATCH, DELETE, HEAD. I don't see an OPTIONS verb. This would be useful in testing different CORS behaviors based on the OPTIONS response.

[2018-07-09 15:10] 255kb commented on #40
ok, I will plan this to allow OPTIONS custom OPTIONS routes but still keep a setting if one want Mockoon to handle OPTIONS requests automatically

[2018-07-09 15:22] azizbodal opened #41 "Ability to order routes by dragging a route up or down"
Mockoon supports a "/*" route that will handle all requests that were not previously routed, which is awesome, however you have to put this route at the end. Otherwise it will prevents subsequent routes from getting considered. To help organize the routing strategy, it would nice if we could reorder routes by dragging them up or down.

[2018-07-09 15:23] azizbodal commented on #41
![image](https://user-images.githubusercontent.com/10204290/42459837-244a506c-8362-11e8-8803-6e44fb000083.png)

[2018-07-09 20:08] 255kb opened #42 "v1.0.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build  and sign Windows version
- [x] Build Linux version
- [x] Build OSX version

**Tests:**
- [x] Test Windows build
- [x] Test Linux build
- [x] Test OSX build

**Publish:**
- [x] Publish Windows binaries
- [x] Publish Linux binaries
- [x] Publish OSX binaries
- [x] Publish update file
- [x] Create release on repository
- [x] Merge website branch
- [x]

[2018-07-09 20:46] 255kb commented on #36
Will be in next release

[2018-07-09 20:46] #36 closed

[2018-07-09 20:46] 255kb commented on #34
More robust content type headers are coming in next release

[2018-07-09 20:46] #34 closed

[2018-07-09 20:48] 255kb commented on #12
duplicate of #41

[2018-07-09 20:48] #12 closed

[2018-07-09 21:13] 255kb commented on #35
The switch helper will be in the next release.
In the meanwhile you can use the existing random number generator as explained [here](https://github.com/webroo/dummy-json#integer)

[2018-07-09 21:13] #35 closed

[2018-07-10 19:41] 255kb commented on #41
This will be added in 0.5.0 release

[2018-07-10 19:41] #41 closed

[2018-07-10 19:46] 255kb commented on #39
will be corrected in next release 0.5.0, thanks for the contribution

[2018-07-10 19:46] #39 closed

[2018-07-10 21:01] 255kb commented on #40
An environment option will be added in the next release. It will allow you to toggle automated OPTIONS handling.
If activated all OPTIONS routes not catched by you will be catched by Mockoon.

[2018-07-10 21:01] #40 closed

[2018-07-13 22:54] nathanielks commented on #15
I am very pleased with how easy it is to use this! I'd second this issue; I'm working on debugging outgoing requests and this would be invaluable to be able to see what requests are being made and their request bodies.

[2018-07-14 07:18] 255kb commented on #15
Thanks for the feedback 😊

Concerning the log of request do you see it at the environment level (log all requests done to localhost:3000 at one place) or on each route, but then where do we log requests done to undefined routes?

[2018-07-14 16:32] nathanielks commented on #15
I'd submit on the environment level first :)

[2018-07-15 13:10] 255kb commented on #7
This has been implemented and will be in the next release 1.0.0 😄

[2018-07-15 13:10] #7 closed

[2018-07-16 18:11] naegelin opened #43 "OSX: Cannot listen on ports < 1024"
Even when running the app in privileged mode , it will not allow you to specify ports less than 1024 as the listening port.  Being able to use 443 or 80 are pretty important for us as we can't always easily change our clients to test on different ports.

[2018-07-17 06:16] 255kb commented on #43
I need to investigation how and if this can be fixed. Mockoon being an Electron app I can run Nodejs elevated sub processes but I am not sure how I can do that with npm libs (I use ExpressJS to create the server)

[2018-07-17 12:06] naegelin commented on #43
Netcat I do not believe is native to OSX but you can use the built in 'pf' to redirect ports as followS:
From 443 to 4443
[code]

[2018-07-17 12:54] 255kb commented on #43
@naegelin thank you. I think this would be a good compromise. Apparently running a Node sub process elevated is not a big deal, but not sure how I would do this with an npm package while maintaining the connection with the Electron app... (to update the UI).
So it could be one option per environment saying something like "Forward from " with an input to speciy the port, then the command would be r

[2018-07-21 20:30] 255kb commented on #15
This will be in the next release (in August probably). It will catch all requests made to an environment and indicate if they have been catched or not by a route.
It will also show headers, params and body like in Chrome debugger 😃

[2018-07-21 20:30] #15 closed

[2018-08-02 19:21] mivanov opened #45 "Unable to put consecutive slashes in route path"
**Describe the bug**
The route path does not allow consecutive (more than 1) slashes. This leads to a 404 if the route is requested with consecutive slashes in it.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Add route'
2. In the path box try to type in or paste `foo//bar`
3. Observe that the input box now says `foo/bar` (slash was removed)
4. Start the server
5. Using an HTTP c

[2018-08-02 19:27] mivanov commented on #45
Forgot to mention, I love Mockoon, thank you for this glorious thing!

[2018-08-02 23:13] mivanov commented on #45
I have seen all variations, since it's up to the server or sometimes application, but I believe silently serving the route is most common. In my experience I would rank them like this in order from most common to least common:

1. `200`
2. `302`
3. `404`
4. `301` maybe, but I'm honestly not sure I have seen this.

I would be happy with a 200, or with allowing consecutive slashes so one could repli

[2018-08-03 06:43] 255kb commented on #45
so what about:
1. define a route /test/xxxx
2. request it with /test////xxxx
3. app convert it to /test/xxxx so you get the declared route with defined status without any redirection?

[2018-08-03 15:32] bruce-bjss commented on #38
Use Swagger.io format

[2018-08-03 18:39] mivanov commented on #45
That makes perfect sense and would solve the issue I had.

[2018-08-04 11:36] 255kb commented on #45
ok, it's done, it will be released in v1.0.0 in the coming weeks (before end of August), thanks for your help 👍

[2018-08-04 11:36] #45 closed

[2018-08-06 08:09] spike1234 opened #46 "UI Theming / Light colors"
Is it possible to add light UI colors (or some way to define colors)? It's difficult to read: it's too dark.

[2018-08-06 20:59] 255kb commented on #33
Electron autoUpdater requires squirrel (at least on windows). This may be planned in a later stage.

[2018-08-06 20:59] #33 closed

[2018-08-09 15:04] eyalzf commented on #4
The title of the issue indicates url/body/headers params but in documentation I don't see any reference to body. Is there an helper to access body params? With specified path as parameter?

[2018-08-09 15:21] 255kb opened #47 "Add 'body' JSON templating helper to react to body JSON content"

[2018-08-09 15:21] 255kb commented on #4
@eyalzf no there is no helper for the body, title of this issue is misleading.

v1.0.0 is coming soon, I can try to implements this, considering that it could only work if body is valid JSON. I opened a new issue for this #47

[2018-08-09 19:53] 255kb commented on #47
Will be in v1.0.0

[2018-08-09 19:53] #47 closed

[2018-08-17 17:36] ozzie1998 opened #48 "Slow response time"
Response time for a basic response sourcing the body from a file is at least 2 seconds! Which isn't great.

I've timed a bunch of requests:

+ 1: `1157ms`
+ 2: `923ms`
+ 3 `485ms`
+ 4  `631ms`

Server response time should be under `200ms`

My payload:

[code]

[2018-08-17 17:54] 255kb commented on #48
Hi, I just tried with the same payload in a JSON file and it's under 10ms (Windows 10) and pretty stable (6.5ms, 7.5ms, 7.5ms...). Which OS are you using?

[2018-08-18 06:47] ozzie1998 commented on #48
MacBook Pro early 2011 latest Mac OS

[2018-08-23 21:24] #42 closed, assigned to 255kb

[2018-08-24 00:29] sudhakarnaidu opened #49 "Export request logs"
**Is your feature request related to a problem? Please describe.**
Thank you for the logs tab feature. There is no way to export the request logs to a report/file.

**Describe the solution you'd like**
An option to export the request logs to a text/csv format.

**Describe alternatives you've considered**
Atleast a copy/paste option

**Additional context**

[2018-08-24 06:26] 255kb commented on #49
Thank you for using Mockoon!
I don't think that I will implement this kind of feature. I want to keep Mockoon simple to use and focused on mocking endpoints only. Request logs are only an help but definitely not the core of the application. So adding more features to this is not planned

[2018-08-24 06:26] #49 closed

[2018-08-24 08:11] ChrisAJS opened #50 "v1.0.0 crashes on launch on Linux"
**Describe the bug**
After downloading the AppImage from the website and attempting to run the application; after the initial integration dialog, the following output appears in the console and the application fails to launch.

[code]

**NOTE: removing ~/.config/mockoon had no effect**

**To Reproduce**
Steps to reproduce the behavior:
1. Download Mockoon 1.0.0 AppImage
2. chmod a+x the AppImage f

[2018-08-24 09:28] 255kb commented on #50
Hi, thank you for the bug report and sorry for the annoyance.
I juste uploaded a new AppImage (in github release and .com website), could you please download it and test if it's working, for me it's working on Ubuntu 18.

[2018-08-24 09:29] ElFeesho commented on #50
No annoyance at all! Happy to help- you've done a cracking job with the tool, I'll give it another download.

[2018-08-24 09:30] ChrisAJS commented on #50
No annoyance at all! Happy to help- you've done a cracking job with the tool, I'll give it another download.

[2018-08-24 09:31] ChrisAJS commented on #50
Working as intended from the Github releases page. Thanks for the quick turn around time!

[2018-08-24 09:31] #50 closed

[2018-08-24 09:37] 255kb commented on #50
Perfect, thank you!
It was apparently a bug in electron-builder version I was using (which was the latest when I started working on v1.0.0, but now it was 15 versions behind 😓 things are going too fast)

[2018-08-24 09:49] ChrisAJS commented on #50
You turn around time was quite quick too though, so I don't think you have to worry too much about keeping up :+1:

[2018-08-27 13:03] GregoireSion opened #51 "Insert Array in header"
i'm trying to make mockoon answer to an URL which contains an array in the header:

url?date=2018-05-06&**actors=RIRI&actors=FIFI&actors=LOULOU**
this might already be possible but i can't seem to find how in the doc or make it work myself

![capture](https://user-images.githubusercontent.com/26252906/44661353-f2c8d900-a9f9-11e8-8107-313751852632.PNG)
this is what i tried so far

This is a very co

[2018-08-28 07:40] 255kb commented on #51
Hi thank you for using Mockoon :)

This is currently not supported. Only the body supports [JSON templating](https://github.com/255kb/mockoon/wiki/%7B-%7D-JSON-templating) with a various range of helpers giving you access to URL params, query params etc.
Headers values are not dynamic.

This is an interesting feature. I will plan this for a future release.

[2018-08-28 09:09] GregoireSion commented on #51
I see ! So as of now there is no way mockoon can understand the Url i'm submitting ?

[2018-08-28 09:14] 255kb commented on #51
It can but only in the response body where you can write something like:

[code]

This syntax is not supported in the headers.

[2018-08-28 12:42] erichorne opened #52 "serve URLparam-based files"
Sometimes, APIs have a lookup service whereby an object can be retrieved from the service by something like an 'id'. It could return a wide variety of responses that can be difficult to template into a single file.

To make it easier to mock, one idea is to have each of the varied responses available as a file itself so that requests to …/lookup/:id load a filename from the system based on that :i

[2018-08-29 09:42] kladis opened #53 "Environment log is empty"
**Describe the bug**
Environment log is empty, even I see a response in my web browser.
I dont see any request info. Totally blank page.

**Desktop (please complete the following information):**
Mac OS X

Let me know how to diagnose to provide more detailed info...

[2018-08-29 20:52] 255kb commented on #53
Could you please give more details about your setup (browser, etc)?
It's working quite well for me under Sierra 10.13.1 with Mockoon v1.0.0
![capture](https://user-images.githubusercontent.com/7489814/44814764-f61cba00-abdd-11e8-9030-0e6a8ad39b3a.png)

[2018-08-29 21:03] 255kb commented on #48
I tried to reproduce the bug on Sierra 10.13 with your file but I get pretty good results too, between 6 and 30ms.
I am not sure what is affecting the performances. Could you maybe send a screenshot of your environment ?

[2018-08-29 21:31] ozzie1998 commented on #48
Its running on High Sierra latest, with very little else running. I’ve
moved on to writing my own little server to serve JSON

On Wed, 29 Aug 2018 at 10:03 pm, Guillaume <notifications@github.com> wrote:

[2018-08-30 08:09] kladis commented on #53
I'm sorry for this false issue.
I rebooted my laptop and it's all right now.
Probably it's an OS X bug or something like this. Happens.

Thanks for the perfect tool!

[2018-08-30 08:10] 255kb commented on #53
No problem, I couldn't reproduce it on any of my devices, so I am glad it's solved 😄

Thank you for using Mockoon 👍

[2018-08-30 08:11] #53 closed

[2018-08-30 13:38] 255kb commented on #48
Sorry to hear that, I honestly don't know what can cause this latency.
I will close as I can't reproduce the bug.
This will / may be reopened when we have more information or a way to reproduce it.

[2018-08-30 13:38] #48 closed

[2018-08-31 17:05] kladis commented on #53
Hello!

Just a small question (I didn't find any info, but looked).

Is it possible to view I/O (or just an environment log) in PROXY mode?

Like catch/log all requests and watch it in the log tab? Possible?

[2018-08-31 17:55] 255kb commented on #53
Normally everything is logged (even the favicon.ico request that the browser does when getting the URL). You will see on each log entry a little green tick that indicates if the request was catched by mockoon or not

[2018-09-10 04:13] imgen opened #54 "Make the text in the request history pane selectable by mouse"
It's quite frustrating that we cannot select and copy the text in the request history pane. Can we make it selectable?

[2018-09-10 06:28] 255kb commented on #54
Sure I will plan this in a future release 👍

[2018-09-11 15:32] tmcdos opened #55 "Implement route regex"
I am trying to create a route which will match this regex `/subject/.*` - so that `/subject/abc` and `/subject/123`, etc. are all handled by the same route. However, it seems that the regex is being taken literally - if I try to POST with an URL `http://localhost:3000/subject/.*` I get my response back.
What can I do ?

[2018-09-11 15:59] 255kb commented on #55
Hi,
Mockoon use ExpressJS behind the scene which does support regex syntax. [See here](https://expressjs.com/en/guide/routing.html) under "Route paths".
But in Mockoon I only implemented string-based paths, so as they explain:

So when declaring a route like this `/.*` ExpressJS will accept:
/.abcd
/.1234
/.* (because * is any character)

If you just want to allow anything you need to only use the

[2018-09-12 06:43] tmcdos commented on #55
Thank you for the fast reply!
Indeed, if using only `*` - it solves my use case. I am not sure how useful it will be to support full Regex - perhaps for URL validation, but I think that supporting some sort of `glob` patterns would be sufficient (e.g. `/users/*/assign` or `/manage/*/content/*/add`). Probably `string-based` paths already support such a functionality - I have not tried yet.
Anyway -

[2018-09-12 06:56] 255kb commented on #55
If you have a look at the ExpressJS documentation you will see that it supports most of the regex syntax in string based urls. So yes I am not sure if supporting full regexes will add a lot to the tool. I will keep this issue open in case I have time to work on it.

Thank you for using Mockoon :)

[2018-09-13 10:55] tmcdos commented on #46
I vote for this, too - please, at least change the grey color of the text to something more bright (e.g. the orange vertical line which designates the current environment in the leftmost column)

[2018-09-13 11:09] tmcdos opened #56 "Extend CORS support to all routes - not only preflight requests"
**Is your feature request related to a problem? Please describe.**
Currently CORS is supported by automatically answering with a list of predefined headers to every OPTIONS request. However, this still forces me to add a header `Access-Control-Allow-Origin: *` to each of my routes. I find it rather tedious and cumbersome.

**Describe the solution you'd like**
I would suggest that CORS headers are

[2018-09-13 11:45] 255kb commented on #46
Nice idea, I will plan this 👍

[2018-09-14 18:36] mivanov commented on #49
@255kb I was using an older version and wished I could see an access log. Imagine my delight when I updated to the new version and saw the "Environment logs" button! This tool is rapidly replacing a lot of kludgy Node scripts and one-offs I always used to write for mocking HTTP, which is a huge productivity boost. As to this feature request, I don't need a way to export the logs, but I would secon

[2018-09-14 18:50] 255kb commented on #49
Thanks for using mockoon, I am glad you like it!

Concerning the possibility of selecting the logs there is an open issue that you can upvote. It's not something big at all just some CSS.

[2018-09-15 20:35] 255kb opened #58 "v1.1.0 checklist"
- [x] Bump app version

**Tests:**
- [x] Test Windows build
- [x] Test Linux build
- [x] Test OSX build

**Builds:**
- [x] Build and sign Windows version
- [x] Build Linux version
- [x] Build OSX version

**Publish:**
- [x] Create release on repository
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add  OSX binaries to release
- [x] Merge website branch
- [x] Publi

[2018-09-18 08:30] 255kb commented on #21
While this would be a nice feature I think it is out of scope of what I want Mockoon to be.
There is already a proxy mode, but I want to focus on mocking only and keep the tool light and easy to use.
I will close this for now and if the topic comes back later maybe consider the possibility to add such feature.

[2018-09-18 08:30] #21 closed

[2018-09-18 18:24] hargut opened #59 "Templating body"
**Describe the bug**
Setting up a template as described on the Wiki Page:
https://github.com/255kb/mockoon/wiki/%7B-%7D-JSON-templating

Sending the described `GET` request without JSON body returns an empty body with the selected Status code 200.

**Expected behavior**
Return body with selected status code and 'default' body template value.

I'm not really sure if this is a bug. Eventually there

[2018-09-18 18:29] 255kb commented on #59
True, apparently there is a bug with the `body` template helper. I will investigate.
Thank you.

[2018-09-18 18:56] hargut commented on #59
Many thanks for your fast response.

Just tried a little more, and it seems as soon as one sends `{}` in the body, the `default` works as expected.

[2018-09-18 18:58] 255kb commented on #59
Yes I just saw this, it's not very tolerant :)

[2018-09-18 19:24] #59 closed, assigned to 255kb

[2018-09-19 07:07] hargut commented on #59
Perfect. Thank you very much for your fast help. :+1:

[2018-09-19 07:54] 255kb commented on #59
No problem :)
But don't expect a release very soon, it may take some weeks as I have limited time to work on Mockoon

[2018-09-19 22:13] VinceRao opened #60 "POST call return 504"
**Describe the bug**
All the POST call return 504

**Desktop (please complete the following information):**
 - OS: Mac OS10.13.6

[2018-09-20 06:40] 255kb commented on #60
Hi, I just tested on Mac OS 10.13.6 various POST routes and all of them answered with the correct status / body / headers.
Could you please maybe send more information about how you configured the route so I can try to reproduce?

[2018-09-20 22:31] VinceRao commented on #60
I am just using the proxy mode without any mocks.
All the POST calls return 504 and it happens when I use express and http-proxy-middleware to create a proxy also.
But I found a solution in [https://github.com/chimurai/http-proxy-middleware/issues/40#issuecomment-249430255](https://github.com/chimurai/http-proxy-middleware/issues/40#issuecomment-249430255)
Not sure it helps or not.

[2018-09-21 06:45] 255kb commented on #60
Nice catch! Apparently putting body parser before proxy middleware causes the body to not being proxied. Body parser was introduced in v1.0.0 and I didn't retest all proxy test cases. I will correct this in the next release.

[2018-09-21 14:42] 255kb commented on #55
After investigating more I won't add complete regex support to Mockoon unless requested by more people. I think that Express string based paths are more than enough for now especially if it solved your use case @tmcdos 😃

[2018-09-21 14:42] #55 closed

[2018-09-21 14:50] 255kb commented on #46
Before working on different themes I will lighten everything a little bit in the next minor version, it's true that it's too dark!

[2018-09-21 15:53] 255kb commented on #60
This will be in the next release v1.1.0

[2018-09-21 15:53] #60 closed

[2018-09-24 16:32] #46 closed

[2018-09-25 13:10] vjain143 opened #61 "Can we have cloud deployable artifacts, which can be fit on cloud foundry/docker etc?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-09-25 19:31] #58 closed

[2018-09-27 11:27] alonbhaim opened #62 "Support CLI interface"
Is there way to run mockoon without UI ? I want to use mockoon on UNIX-like operating systems without GUI.

[2018-09-27 11:49] 255kb commented on #62
Hello, Thank you for using Mockoon!
There is currently no way to run Mockoon through a command line (terminal, CI env, etc). I think that the amount of work to support this is too high for it to be considered right now. Also, it may be faster to develop something from scratch based on NodeJS / ExpressJS or use an existing tool.

[2018-09-27 20:46] globerVictor opened #63 "API/routes documentation"
API Documentation:
Would be nice to have an input field in each route's form where we can add some comments about how it works and the expected behavior. Let's say for example I'm developing an API REST with JSON, would be nice that for each route we could have a way to specify all the possible answers for that specific route (one answer for 200 OK, other for 404 Error answers, etc) so based in th

[2018-09-29 06:46] mocktastic commented on #63
Apologies for the shameless shilling I'm going to do.

We built a very similar tool to mockoon called [Mocktastic](https://mocktastic.com/?ref=github/mockoon/63). Though the focus in Mocktastic is more on collaborating with your team to easily create and use mock REST servers, Mocktastic also works for individual developers.

This exact feature (both with the button as well as dynamically using a

[2018-10-01 08:13] 255kb commented on #63
@globerVictor Nice idea for adding comments/documentation on routes. Concerning the dynamic response I will investigate the time needed to add this.

@mocktastic No problem :) I know that some other tools are more complete than Mockoon. I also really want to keep Mockoon simple, because at one point if the tool let you do **everything** you should really start building this API instead of mocking

[2018-10-03 13:55] alonbhaim opened #64 "Support default header Content-Type"
I'm trying to get a path from request body without sending content-type on header, although the body is valid JSON but mockoon identify it as text/plain.
Is there way to change the default content-type from text/plain to application/json?

[2018-10-03 14:05] 255kb commented on #64
There is currently no way to set the entering request content-type.
I will definitely plan this as I faced the same issue :)
What would be the more useful and / or logical ?
1. auto detecting and always parsing the body (if JSON is valid)
or
2. adding an option to set the default entering request Content-Type to JSON (checkbox) if none has been provided and only parse body if this option has been

[2018-10-05 21:06] 255kb opened #66 "Not provided default value in helper may result in getting [object object]"
Dummy JSON will add as a last param its own object, when helper subject cannot be found, and no default value is provided [object object] will be inserted in the body

[2018-10-11 05:33] enozero opened #67 "Support localhost subdomains through automatic /etc/hosts file modification"
I have some projects that access specific subdomains, but the routes may be the same. It would be great to allow subdomains.

Ideally, there would be a textbox to the left of "localhost:" to setup a subdomain for the environment.

[2018-10-11 07:36] 255kb commented on #67
I don't think you can setup a subdomain for localhost. So there is no way I could create a server through Mockoon that lives on `subdomain.localhost:3000`.

But you could add something to your /etc/hosts so `sub.localhost` would be the same as `localhost`:
`127.0.0.1 sub.localhost`

[2018-10-11 14:44] enozero commented on #67
There could still be a way. Mockoon could put the entry in the `hosts` file, and then the server could parse out the domain information. If it sees a subdomain, it would do a lookup to see if any environment is specifically listening for that subdomain.

I'm imagining something in the `ServerService` that would add another `use` and filter out requests that don't match the subdomain. If the enviro

[2018-10-12 13:16] 255kb commented on #67
Make sense. But before implementing something that messes up with the hosts file I would be sure that it make sense for other people too.
I will reopen this issue and change the title to something more explicit and see if it gets interest.

[2018-10-12 20:30] #66 closed

[2018-10-12 20:30] #64 closed

[2018-10-18 18:34] danielbayerlein commented on #31
@255kb I think [Homebrew Cask](https://github.com/Homebrew/homebrew-cask) is the right place for mockoon. I can help you with this.

[2018-10-18 19:58] 255kb commented on #31
@danielbayerlein Help is welcomed :)
In the meantime I read a little bit about homebrew casks and I think I understood how it can be added.
But I think there are some prerequisites for it to work with an Electron application. I will soon publish a new version and I will make sure that binaries are compatible with homebrew. Then we can add it :)

[2018-10-18 20:39] #51 closed

[2018-10-18 20:41] 255kb commented on #51
Templating in headers will be in v1.2.0.
In the meantime, query params arrays are already working. If you add `{{queryParam 'test'}}` in the body, and call the route with `?test=a&test=b&test=c` you will get `a,b,c` printed.

[2018-10-18 20:48] 255kb opened #68 "v1.2.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows version
- [x] Build Linux version
- [x] Build OSX version

**Tests:**
- [x] Test Windows build
- [x] Test Linux build
- [x] Test OSX build

**Publish:**
- [x] Create release on repository
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Publish release
- [x] Update webs

[2018-10-19 08:13] rvf148 opened #69 "Allow server startup and configuration"
It would be nice to start the mock server from the command line wit a given configuration file.
This way mockoon could be added to build pipeline, and have automatic tests using the mock server.

[2018-10-19 08:15] rvf148 opened #70 "Json templating: guid generator"
It would be nice to use a guid generator in the json templating.

[2018-10-19 08:16] 255kb commented on #70
there is already one: `{{guid}}` 😄

[2018-10-19 08:16] #70 closed

[2018-10-19 08:21] rvf148 commented on #70
Nice !
Sorry didn't click through on the wiki page

[2018-10-20 12:22] 255kb opened #71 "Notarize mac os app"
https://developer.apple.com/developer-id/

[2018-10-21 20:35] 255kb commented on #31
PR has been merged, Mockoon should be available on brew now.
Thanks for your help :)

[2018-10-21 20:35] #31 closed

[2018-10-27 13:31] 255kb opened #72 "Solve linux icon not showing"
https://github.com/electron-userland/electron-builder/issues/2577

[2018-10-27 20:36] #68 closed

[2018-10-27 22:34] caffeineflo opened #73 "Escape Endpoint"
**Describe the bug**
Let's say I name my endpoint "Bus Stop 123", any client querying that endpoint would query the escaped form "Bus%20Stop%20123". Yet, when I define an endpoint as "Bus Stop 123" and query the escaped form, mockoon says "CANNOT GET Bus%20Stop%20123"

**To Reproduce**
Add an endpoint that would need percent encoding/URL encoding but don't add encoding yourself and query that endp

[2018-10-29 12:04] dpjayasekara opened #74 "Incoming Request Logging"
Is there an incoming request logging feature in Mockoon yet (or planned)? If not, I think it's an absolutely necessary feature to implement( log request method, url, headers, body etc.) since it will be very helpful in debugging in most of the cases.

[2018-10-29 12:11] 255kb commented on #74
Yes there is one!
It's per environment, just click on the clock in the upper right corner.

[2018-10-29 12:12] #74 closed

[2018-10-29 12:34] dpjayasekara commented on #74
Oh. There it is! Thanks.

[2018-10-30 15:36] KevinRizzoTO opened #75 "Multiple responses per route"
**Is your feature request related to a problem? Please describe.**
Often times when mocking I want to have a variety of responses come back from a request. For instance, when testing a UI I want to test both successful and failed responses. Right now I need to rewrite my response in mockoon to achieve this.

**Describe the solution you'd like**
It would be great to have an "Active Response" select

[2018-10-31 13:18] bigloupe opened #76 "Import and export JSON mappings file from WireMock"
It will be marvellous if we can import/export mappings files from [WireMock](https://github.com/tomakehurst/wiremock).
Wiremock has a record and playback feature but not UI interface like mockoon

[2018-11-07 14:17] 255kb opened #77 "Improve analytics reporting"
- [x] Add entering request event
- [x] Add first launch event
- [x] Add conversion on first launch event

[2018-11-07 14:21] 255kb commented on #63
API documentation is planned for next release, but dynamic response will be tracked in issue #75

[2018-11-07 14:30] 255kb commented on #61
I think this feature while great is too much work to be implemented right now or in a near future. I would like first to focus on the desktop app itself. If this is a recurring request I will reconsider.

[2018-11-07 14:30] #61 closed

[2018-11-07 14:36] 255kb commented on #75
Nice idea, and it has been asked in #63 too.
For me there are two possible implementations:
- declare multiple responses (code, body, headers) and declare an active one like you suggested
- declare multiple responses (code, body, headers) used depending on defined rules: route param contains x or y, header contains z, query param contains a or b, etc

First one is easier, but I would definitely pr

[2018-11-07 14:39] 255kb commented on #52
I think that adding templating support in the file path input would be sufficient, what do you think?
First step would be to allow input edition, second step allow templating. So you could browser for a file and write something like this:
`c:/folder/user_data_{{routeParam 'userId'}}.json`
What do you think?

[2018-11-07 14:49] 255kb opened #78 "Allow environment and routes menu resize"

[2018-11-09 09:53] joachimjusth opened #79 "Allow to search inside the body"
I think it would be helpful to allow user to search inside the body frame. Today it's not possible, and when you have a huge json inside the body, it's difficult to find directly on mockoon a specific node. (For example)

[2018-11-09 10:37] pflima92 commented on #16
Also @255kb the Postman itself could be an amazing feature. For while I can't contribute, but I'll try in a near future. =)

[2018-11-11 13:14] 255kb commented on #52
I realize that this is exactly what you proposed :)
So, it's implemented for the next release, I will also add an option to be able to serve a file OR get the file content and put in in the response body instead.

[2018-11-11 13:41] erichorne commented on #52
sounds great! Thank you!

[2018-11-12 11:31] pabloubal opened #80 "Support of json templating on files"
I'm currently experiencing an issue when trying to serve responses from a file, and it's that json templating doesn't work when using this model. If I serve the same response writing it inside the IDE, it works perfectly.

i.e. Response:
{
    "test": "{{guid}}"
}

If I write this in the Body section of the IDE I get the following response:
$ curl localhost:3000
{"test":"c754fae3-a952-4f27-aabd-2b

[2018-11-12 11:34] 255kb commented on #80
Good idea, it's sure that for now templating is not interpreted into files. Currently I am working on this ticket #52 which add support for templating in file path (so you can dynamically request files) and I will add the option to directly use file content as body.
I will plan your feature for the next release also, as it make sense to do all these improvements together

[2018-11-13 14:10] KevinRLeC commented on #75
Sorry for the late response to this @255kb .  I have used the second approach before for some projects! Some mock servers do this currently, like [mockyeah](https://www.npmjs.com/package/mock-yeah). I've found that it becomes difficult to remember what the "magic values" are that will trigger a certain response. Personally, I think the first option as a start would be great 😄 And then maybe we can

[2018-11-16 04:04] ondrovic commented on #36
This is a great feature but I cannot seem to get it to work correct
`"test": {{oneOf ["One", "Two","Three"]}}` - returns no errors or messages just white screen when refreshing
`"test2": {{oneOf "one"}}` - this works correctly it selects one letter outputs it

seems like it's ignoring anything that is in `[ ]`

using release  1.20

[2018-11-22 09:08] 255kb opened #82 "Next release checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows version
- [x] Build Linux version
- [x] Build OSX version

**Tests:**
- [x] Test Windows build
- [x] Test Linux build
- [x] Test OSX build

**Release:**
- [x] Create release on repository
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x] Add OSX binaries to release
- [x] Publish release

**Website:**
- [

[2018-11-26 10:36] idoodler opened #83 "Websocket support"
**Is your feature request related to a problem? Please describe.**
I am currently debugging an token authentication error. The authentication happens via a Websocket connection. Mockoon doesn't allow Websocket request interceptions which would be really dope:)

**Describe the solution you'd like**
Ability to also intercept and mock Websocket communication. I think it should be a toggle in the "Env

[2018-11-27 09:18] 255kb commented on #56
If it's ok for you, I won't change anything to the current CORS option that send `Access-Control-Allow-Origin`, `Access-Control-Allow-Methods` and `Access-Control-Allow-Headers` headers with status 200 on OPTIONS requests (not the user defined OPTIONS routes). I will also add environment headers that will be applied to all routes. And I think that checking CORS option should automatically add thos

[2018-11-28 08:21] tmcdos commented on #56
In the [MockAPIst](https://github.com/tmcdos/mockapist) tool I did it like this:
1. if there is a route defined which matches both the **path** and the **method** - then combine the headers defined for the **method** (each route may use 1 or more HTTP **methods**) plus the headers defined for the **path** (a.k.a the **route**) plus the globally defined headers (the latter automatically include COR

[2018-12-03 11:18] fjcalzado opened #84 "[Question] Relative paths for files?"
Is there a way that files can be saved in the JSON configuration with relative path? Otherwise the JSON could not be shared among devs. Thanks!

[2018-12-13 12:10] pflima92 opened #85 "CORs blocking when trying to include credentials"
**Describe the bug**
The API request is failing when the request includes credential.

`Access to fetch at 'http://mockoon/api/foo' from origin 'http://localhost' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is '

[2018-12-13 12:36] 255kb commented on #85
Where did you define http://mockoon domain? In the hosts file?

[2018-12-15 21:49] 255kb commented on #84
This will be possible in the next release.
The file path won't be stored as a relative path by default (which could cause problems on windows with multiple hard drives). But in the next release the file input is editable and supports templating, so you will be able to directly write "./file.json", and it will be saved like this.
Keep in mind that the path will be relative to Mockoon executable.

[2018-12-16 15:21] #77 closed

[2018-12-16 15:21] #52 closed

[2018-12-16 15:21] #56 closed

[2018-12-16 15:21] #63 closed

[2018-12-16 15:21] #73 closed

[2018-12-16 15:21] #79 closed

[2018-12-16 15:21] #80 closed

[2018-12-16 15:21] #72 closed

[2018-12-16 15:21] #84 closed

[2018-12-16 15:36] #82 closed

[2018-12-19 15:09] pflima92 commented on #85
Yes, it's happening because my application needs to send credentials. I've an api gateway that can be used to avoid that, but call directly mockoon would be great for the development process. Btw, awesome work so far.

[2018-12-19 15:15] 255kb commented on #85
Thank you :)
I will investigate this for the next release (but this will not be soon as I just released one) .

[2018-12-19 15:58] pflima92 commented on #85
I tried to update the Environment Headers setting: Access-Control-Allow-Origin: http://localhost:3001

![image](https://user-images.githubusercontent.com/13289463/50231546-3030e800-0396-11e9-89b0-b8485e19aa35.png)

But the options route still returning the wildcard *:

HTTP/1.1 200 OK
X-Powered-By: Express
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: GET,POST,PUT,PATCH,DELETE,HEAD,

[2018-12-27 13:11] srmamidi commented on #43
I wanted to run the Environments in Mockoon GUI automatically upon startup in Windows 7 server.. is there a way for this?

[2018-12-29 10:15] 255kb commented on #38
@aosi87 It's definitely a go for Swagger / OpenAPI format (probably in the next update). Due to limited time I can spent working on this application I think it's the only format it will support for now. And other formats are definitely less popular.

[2018-12-31 13:32] 255kb opened #86 "Add import/export for Swagger / OpenAPI format"
Implement feature to import/export JSON or YAML files in Swagger / OpenAPI format.
Both v2.0 and 3.0 of the format will be supported.

(OpenAPI format was chosen after a poll in #38)

[2018-12-31 13:34] 255kb commented on #38
OpenAPI/Swagger format import implementation will be tracked in #86. Closing this ticket as no other format will be supported for now.
Thank you all for voting 👍

[2018-12-31 13:34] #38 closed

[2019-01-02 20:54] mixels commented on #75
@255kb The route params idea sounds very useful. Currently you can achieve that with body templating but it makes the response body in the editor pretty ugly if you're covering several different possible response codes (which could have significantly different response bodies). Consider 200 OK, 403 Forbidden, 409 Conflict, 415 Unsupported Media Type... The list of possible status codes that can re

[2019-01-02 20:58] 255kb commented on #75
@mixels I am more and more thinking that this would be very useful. Also I am currently working on OpenAPI/swagger format import, in which you can specify multiple responses (200, 403, etc). For now I will only import the first one but I can immediately see the benefit of being able to provide multiple responses. So this feature will be on the roadmap for sure. I just don't know when yet!

[2019-01-03 15:13] mixels commented on #86
This issue mentions both Swagger and OpenAPI. Is that Swagger v2 _and_ OpenAPI v3? Or one or the other?

[2019-01-03 15:19] 255kb commented on #86
Yes, Swagger format (Swagger 2.0) is now OpenAPI v3. (Source: https://swagger.io/docs/specification/about/) They are basically two versions of the same thing, a little bit different but not too much. So creating one parser for both should not be that complicated (it's already WIP).
However, I won't be able to support everything from the specification, some complex behaviors are not easily importab

[2019-01-04 12:58] DurgaSyam opened #87 "Unable to use Queryparam and url params in Response body"
![capture](https://user-images.githubusercontent.com/45190943/50689169-8799ae00-104e-11e9-961d-dd580611c91f.png)
![2019-01-04_182610](https://user-images.githubusercontent.com/45190943/50689176-954f3380-104e-11e9-9e82-7b730678cc12.png)

[2019-01-04 13:17] DurgaSyam commented on #37
if possible do a video on mockoon ,it will help us alot @255kb

Regards,
Sam

[2019-01-04 13:23] 255kb commented on #37
@DurgaSyam Sure, as I told you on Spectrum, it's planned :) I realize that it is not that obvious!
I will also add a warning besides the path input if it detects query params.

[2019-01-04 13:25] 255kb opened #88 "Add warning besides path input when adding query params"
Query params shouldn't be written in the path input. We need to add a warning sign showing next to the path when query params are detected `?xxxx=yyyy&...`

[2019-01-04 13:30] 255kb commented on #37
@DurgaSyam Please use [Spectrum](https://spectrum.chat/mockoon) for support requests, I will answer there.

[2019-01-04 13:31] DurgaSyam commented on #37
@255kb Sure ,Thank you for Quick Response

[2019-01-13 12:12] hargut opened #89 "mockbin / request recording option"
Hello,

thank you very much for creating mockoon. It's a nice and easy tool which I like using.
Sometimes I'd really love to have a request recording option, to mock API's even faster.

The idea here would be to open a port, accept all requests (mockbin style, return 200), and add an according route pre-filled with the requested parameters (method, path, parameters, body), so the user "just" has t

[2019-01-13 12:17] hargut opened #90 "start/stop all environments simultaniously"
Hello,

during the past usage of mockoon I've already created several environments which do their job nicely. I've created each API on a separate environment, one per service, and need most of the time all of them running.

So far I could not find an easy way to start/stop all of them at the same time.
It would be helpful to have a "start all"/"stop all" option.

Best regards,
Harald

[2019-01-13 13:52] 255kb commented on #71
Waiting for this to be supported by electron builder
https://github.com/electron-userland/electron-builder/issues/3383

[2019-01-14 11:37] Manikkumar1988 commented on #90
Why do you have single API in one environment? Any specific purpose?

[2019-01-14 12:33] Manikkumar1988 opened #91 "[Question] How to run the test script?"
Can you please add more steps to run the tests on contributing template?

I tried with npm run test but below error is thrown:

[code]

[2019-01-14 14:03] 255kb commented on #90
@Manikkumar1988 Can make sense because you can name them differently, have different ports, etc.
But I think this feature could be useful anyway.

[2019-01-14 14:16] 255kb commented on #91
There are currently no karma tests (it's still the default Angular config, and I don't know if it still works).
But I wrote a bunch of integration tests done with [Spectron](https://github.com/electron/spectron). You can run them with `npm run test-spectron`.

They should be run by CircleCI automatically when you open a pull request.
I will add more info on this in the contribution document.

Also

[2019-01-14 14:16] #91 closed

[2019-01-14 14:52] Manikkumar1988 commented on #91
The command works! Just documenting that Out of 13, 4 passes on Mac OS

[2019-01-14 15:04] 255kb commented on #91
Yeah I know, i have the same problem on CircleCI, I need to correct the tests, it's just a race condition, I think a problem during the loading of the data.

[2019-01-15 21:12] instalab opened #92 "Can't maximize the window on Linux"
**Describe the bug**
When I try to maximise the window (because I have small screen and I am always working with maximised windows), nothing happens, I can press the icon/button next to the close button but it's not responding, F11 is not working either.

**To Reproduce**
Press the 'maximise' button and nothing happens.

**Expected behavior**
The window should enlarge itself to cover the whole scr

[2019-01-15 23:05] joshlewis opened #93 "Support Hide / Hide Others / Settings standard shortcuts on macOS"
Nearly every Mac app supports a few standard keyboard shortcuts. Quit being ⌘Q is one of those, and you're supporting that. That's good!

Here are a few others I'd love to see supported, in order of importance:

Hide: ⌘H
Settings / Preferences: ⌘,   (That's Command-Comma, and yes, that's a standard! 😄)
Hide Others: ⌥⌘H  (Option-Command-H)

[2019-01-17 07:32] 255kb commented on #85
@thammadi Thank you :)

I think the fix should be simple, the "CORS" headers automatically added cannot be overridden by the environment headers.
I will plan this for the next release.

[2019-01-25 21:02] 255kb opened #95 "Refactor state management"
We need something more robust for the future
After doing some research [Akita](https://github.com/datorama/akita) will be used or plain RxJS.

[2019-01-27 08:09] thammadi opened #96 "Support for current/system date-time in response body"
Hi @255kb,

I bumped into a requirement, where I'm expecting one or more attributes in my response body to have the current system timestamp. Just like how we use {{guid}} for random guid, is it possible to add support for date-time please? may be {{date}}, {{time}} or both together {{datetime}}?

Cheers,

[2019-01-29 02:16] thammadi commented on #96
@255kb Yes, I have read the documentation and I'm using it something like this:
`"created": "{{date '2019-01-01' '2019-01-30' 'YYYY-mm-ddThh:mm:ssZZ'}}"`

However, Dummy JSON template will always return a random date time.
What I am looking for is {{current-system-datetime}} which would return '2019-01-29T12:45:50'

Is it possible?

[2019-02-01 10:07] callmedo opened #97 "Routes Group"
**Is your feature request related to a problem? Please describe.**
I created one environment for one application project, it has bunch of routes.

**Describe the solution you'd like**
It would be nice if we can group the routes into folder in current routes list. So we can separate each routes based on their functionality (eg: products -> get,create,delete,etc)

**Describe alternatives you've cons

[2019-02-01 21:07] aakash1313 commented on #86
@255kb : When is swagger import expected to be released?

[2019-02-02 00:27] aakash1313 opened #98 "How to test a post request on mockoon and test it simultaneously?"
How to response based on certain conditions?

for example:
if(id == 1) send this response
if(id == 2) send other response?

[2019-02-02 07:36] 255kb commented on #86
@aakash1313 I started working on it, but I have very limited time at the moment to work on Mockoon, so don't expect this feature before several weeks / months

[2019-02-02 07:39] 255kb commented on #98
This is currently not possible.
Also this feature has already been requested in #75 so I am closing this ticket.

[2019-02-02 07:39] #98 closed

[2019-02-02 17:44] aakash1313 commented on #98
Thanks for the update. So how do I achieve I want to send a different
response if user id is something. Is there a workaround for this?

Thanks,
Akash

On Fri, Feb 1, 2019, 11:39 PM Guillaume <notifications@github.com wrote:

[2019-02-02 19:27] bracco23 opened #99 "Update UI to reflect server binding on multiple network interfaces"
**Is your feature request related to a problem? Please describe.**
I was trying to use Mockoon to mock an API to develop a mobile application, but my requests were being rejected because Mockoon is binding on localhost but I'm trying to reach it from outside my PC.

**Describe the solution you'd like**
It would be nice to be able to change the IP on which Mockoon binds so that it is possible to re

[2019-02-02 20:00] 255kb commented on #98
There is no workaround for now, sorry. You will have to declare multiple routes.

[2019-02-02 20:09] aakash1313 commented on #98
ok :(. That case I will have to change my API calls inside the app
Thanks and Regards,
Akashdeep Singh

On Sat, Feb 2, 2019 at 12:00 PM Guillaume <notifications@github.com> wrote:

[2019-02-17 14:25] macdevign opened #100 "Light theme in v1.3 ? and how do enable it."
I saw a request on light theme request that has resolved in v1.3, however after download it ,there is no option to set to light theme.

Is there a setting to disable dark theme ?
 In in opinion, dark theme is hard to get it right , often making the screen hard to read.  The worse, is using light color text against black background which cause eye fatigue.

<img width="1183" alt="image" src="https:

[2019-02-17 14:28] macdevign commented on #100
basically what i capture in the image look ok, but from screen perspective, the gray section is in fact black color due to using some soft screen protector to prevent glare from earlier macbook.

[2019-02-17 14:32] 255kb commented on #100
Hi, due to limited time I have to work on this app I did not create a light theme. In the ticket you mentioned, I tried to improve the readability but did not work on a light theme. So the ticket was resolved but only because readability was improved a little bit.
I must admit that a "normal" theme could be great but it won't be on the roadmap soon.
I currently try to finish openAPI format import

[2019-02-17 19:30] macdevign commented on #100
Great to hear that :}
Frankly, it will be great if you can consider putting this light theme as main priority for next improvement as I think if even the best features are integrated into this amazing tool, likely will be be hard to recommend it for a try given that the theme is hurting the eyes.  I still remember the Pixelmator case where for years it didn't have the light theme, which if it did,

[2019-02-17 21:58] 255kb commented on #100
I am glad that you like this tool, I spent a lot of time on it!
I will try to add a light theme in the upcoming release, but please don't expect it too soon. I have a some upcoming family events that will keep me away from keyboard for a while. 😃

Also I try to avoid adding too much features in this app. The reason I created Mockoon was because I needed something easy(ier) to use than other softwa

[2019-02-19 11:03] hariesnurikhwan commented on #97
We really need this feature as we have nearly 100 of apis to mock. It's really messy right now having ungroup apis.

[2019-02-22 10:35] schidaine commented on #48
I can reproduce on MacOS Mojave. Using short 42 response for a GET /answer, I get a mean at 600ms, from 200ms to 1,5s. Can't explain why so far.

[2019-03-01 15:42] steevy1st opened #101 "{{@index}} sending no response no value"
Hi,
As I tried to use the Dummy json, there is a point with {{@index}} giving no value.

i.e: ```
{
          "id" = "{{@index}}"
      }
[code]
{
    "id" = {{@index}}
 }
[code]

[2019-03-02 08:54] 255kb commented on #101
Hi,
according to their [documentation](https://www.npmjs.com/package/dummy-json) `{{@index}}` can only be used inside a `{{#repeat x}} {{/repeat}}` in order to get the repeat item index.
If you want to generate some sort of id you can use `{{guid}}` and you will get `"id": "8f5b6e52-67a4-475e-bd4b-d6d43e351a25"`

[2019-03-02 08:54] #101 closed

[2019-03-03 18:52] steevy1st commented on #101
thx

[2019-03-05 17:00] breakline87 opened #102 "Make import/export from clipboard compatible with import/export from file"
**Describe the bug**
I got an exported file from another developer, but when I import it, nothing happens, no error message, nothing.

**Mockoon version:**
1.3.0

**OS / OS version:**
MacOS on one machine, Windows10 on another

[2019-03-22 19:57] DevRyanDonahue opened #104 "Allow resizing route column"
**Is your feature request related to a problem? Please describe.**
When the routes in my environment become long, it can become impossible to differentiate which is which based on the routes list. The last of the text is truncated so I have to navigate to each route to see what it is

**Describe the solution you'd like**
Allowing resizing of this column would likely be the best solution. A hover t

[2019-04-02 19:02] kingvagabond opened #106 "Support route disabling"
This is a feature request. Instead of deleting a route if I don't want it right now, can we disable it now? And we can enable it any time in the future to save some time in case need it again?

[2019-04-06 13:17] axc450 commented on #102
Do you have the exported JSON (or an example) that doesnt import?
Does this happen just for you/can other people import it?

[2019-04-06 14:12] axc450 commented on #93
Added this:
https://github.com/255kb/mockoon/pull/108

[2019-04-06 19:27] 255kb opened #109 "Add local data in development mode"
Local data will be in ./tmp folder and copied from `./test/data/dev` folder

[2019-04-06 19:28] 255kb commented on #93
Thank you for the contribution @axc450 !

[2019-04-06 19:55] axc450 commented on #92
I cannot reproduce this on Ubuntu 18.04 and I don't have an Arch VM set up atm ☹️
Have you tried building from npm, running the dev version and looking at the console for any errors?

[2019-04-06 20:02] axc450 commented on #100
I can look into added this

[2019-04-06 20:33] 255kb commented on #100
@axc450 Good idea. Would you mind joining the Spectrum community so we may chat a little bit? 😃 https://spectrum.chat/mockoon

[2019-04-06 23:39] axc450 commented on #106
I can look into adding this, but it might not make it into the next release

[2019-04-06 23:40] axc450 commented on #104
I can look into adding this, but it might not make it into the next release

[2019-04-09 08:35] 255kb opened #111 "Update repository URL to use new organization"
Update all issues / release, etc URLs to use the new organization repository

[2019-04-09 08:38] 255kb opened #112 "Reduce entering requests events sent to GA"
Due to "entering request" events, we reached limits on the GA account.
Purpose of this event was to "keep alive" the GA session to reflect long period of use with no UI interaction.

A solution to reduce number of events would be to debounce this event with RxJS

[2019-04-09 08:40] 255kb opened #113 "Remove old update method code and files"
As nearly all users migrated to v1.1.0 + we can:
- remove upload script gc-publish.js
- remove Google cloud storage buckets
- remove cloudflare redirections (if needed)

[2019-04-09 09:34] #111 closed

[2019-04-10 08:11] javikr commented on #106
This feature will be great! Thanks @axc450 for your work :)

[2019-04-10 12:17] javikr opened #116 "Support for urlencoded form params"
Hello,
It would be great if we could get 'queryParam' and 'bodyParam' in a POST type request.  At his moment it seems that Mockoon only supports 'bodyParam" for a POST type request, and any other query param type is ignored.

There are APIs that accept queryParams and bodyParams in a POST type.

¿Is this possible?

Thanks for your work,

[2019-04-10 12:41] 255kb commented on #116
Normally this is already supported.
The body is parsed as soon as data is detected whatever the request content-type or method are. And the `body` helper **(/!\ `body` not `bodyParam`)** tries to parse the JSON body and find a path (like `addresses.0.street`). If it's not JSON, or an invalid JSON it won't work.

Concerning the `queryParam` helper it definitely works with any kind of request method

[2019-04-10 15:49] javikr commented on #116
Hi,
Sorry. I have retested and the content-type of the request is "application/x-www-form-urlencoded".

How can I get the params value from this kind of request?

Thank you for your support,

<img width="676" alt="Captura de pantalla 2019-04-10 a las 17 44 09" src="https://user-images.githubusercontent.com/3273648/55893629-f8ee7d00-5bb8-11e9-94a2-3a9b2400096c.png">
<img width="515" alt="Captura de

[2019-04-10 17:49] axc450 commented on #97
I can look into adding this, but it might not make it into the next release

[2019-04-10 17:51] axc450 commented on #90
I can look into adding this, but it might not make it into the next release

[2019-04-10 18:26] 255kb commented on #97
Yes I think we will keep next release focused on refactoring / performances and OpenAPI import export.
But this is definitely something we could tackle after this release.

[2019-04-10 19:26] 255kb commented on #116
ok, thank you for the explanation. This would need some development in order to parse the urlencoded form params and add a new helper.

[2019-04-12 08:22] 255kb opened #119 "v1.4.0 checklist"
- [x] Rename milestone to version number
- [x] Add version in migration comment
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows version
- [x] Build Linux version
- [x] Build OSX version

**Tests:**
- [x] Test Windows build
- [x] Test Linux build
- [x] Test OSX build

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release

[2019-04-17 08:19] alonbhaim opened #121 "Allow auto start for environments"
Hi,

We working with mockoon and we need the server to start automatically when we open the app, I think it need to be checkbox at environment settings.

Thanks!

[2019-04-17 11:59] 255kb commented on #96
This will be in the next release where you will be able to use `now 'YYYY-MM-DD'` (format is optional and default to ISO string)

[2019-04-17 15:39] sustepavkentico opened #122 "Large response throws JSON Parse error or no value at all"
Hi,
your tool is pretty awesome. However, we are facing this issue.

When the mocked response is a JSON with the length of about 260000+ rows, Mockoon returns JSON PARSE error if the content type is set to Json and 200 with no value at all, if the content type is set to plain text. There is probably some problem with the Dummy Json parser.

Could you please look into this or at least come with the

[2019-04-26 12:10] kamil-maslowski opened #124 "Support response modification through "CRUD" endpoints"
**Is your feature request related to a problem? Please describe.**
So I'm currently working on a FE app that makes a lot of GET/*DELETE* request that returns lists. But I'm not really able to go through all the scenarios on FE cuz even after I sent a DELETE request for an array item, GET will still return the same.

**Describe the solution you'd like**
Make it possible to generate static request i

[2019-05-06 16:57] chrischain opened #126 "CORS response override is not working as expected"
**Describe the bug**
I have attempted to use the CORS Headers feature in the Environment Settings to add headers required by my application, but they are not getting sent by Mockoon.

**To Reproduce**
I am using the single environment "holidays" I have created in Mockoon 1.3.0 on Windows 7 Pro.

I clicked the gear to go into the environment settings, verified the CORS enable box is checked, then w

[2019-05-06 17:57] chrischain commented on #126
With further research, I have noted that when using Postman, the request itself does return the expected headers.  It is only the CORS request that does not return the appended headers as expected:
![Postman](https://user-images.githubusercontent.com/1153561/57244592-9dfc4a00-6fed-11e9-8050-b614b652f221.png)

I was able to get my mock api working with the front end by manually adding an options ro

[2019-05-06 20:28] chrischain opened #127 "Changing global latency does not prompt to restart server"
**Describe the bug**
When you change the Global Environment Latency value, Mockoon does not prompt the user to restart the server.  The latency value is not applied until the server is stopped and restarted.

**To Reproduce**
Change the Global Environment Latency value.  Process a request.  You will notice that the request does not have any latency applied.

Stop and restart the server.  You will

[2019-05-08 18:57] cherihung commented on #126
oh boy, I've been trying to figure out what my requests aren't working with the environment headers set. Thanks for posting the solution.

[2019-05-08 20:05] 255kb commented on #126
Thank for the bug report. It is a duplicate of #85 and has already been correct for the next release (coming really soon, in testing phase).
I am closing this in favor of #85

[2019-05-08 20:05] #126 closed

[2019-05-08 20:13] #85 closed

[2019-05-08 20:13] #88 closed

[2019-05-08 20:13] #95 closed

[2019-05-08 20:13] #96 closed

[2019-05-08 20:13] #113 closed

[2019-05-08 20:13] #116 closed

[2019-05-08 20:13] #112 closed

[2019-05-08 23:25] chrischain commented on #126
cool, thanks... and sorry I didn't catch that it was a duplicate.

[2019-05-09 13:43] 255kb commented on #126
@chrischain no problem, I also investigated this bug for hours before finding that I solved it for the next version 😄

[2019-05-09 14:25] chrischain commented on #126
Lol, I hate when that happens!  But thank you, and an extra thank you for a truly great app!

I've been sharing it with all my peers at work, everyone loves it.  The interface is exceptional... and the effort you've put in shows.  Great job!

Chris
On May 9, 2019, 6:43 AM -0700, Guillaume <notifications@github.com>, wrote:

[2019-05-09 14:33] 255kb commented on #126
Thank you for the kind words :)
A lot is still planned for this app (but development is quite slow as it is only a side project).
Would you mind sharing a little bit more how you use the app in your team and what feature you miss the most?
If you agree, you can contact me by direct message on the [spectrum community](https://spectrum.chat/mockoon) or by email hi@mockoon.com.
It would mean a lot to

[2019-05-14 14:05] 255kb commented on #109
Done in v1.4.0

[2019-05-14 14:05] #109 closed

[2019-05-14 14:06] 255kb commented on #93
Released in v1.4.0

[2019-05-14 14:06] #93 closed

[2019-05-14 15:51] #119 closed

[2019-05-19 16:56] XaeroDegreaz commented on #106
+1 This would pair great with enabling proxy mode.

[2019-05-21 22:34] alexsandro-xpt commented on #86
+1

[2019-05-23 11:06] Eido95 commented on #99
It seems that `localhost` is hard-coded as environment host.

[2019-05-23 11:27] bracco23 commented on #99
@Eido95 Yes, I saw that too, that's why I opened this issue. In the end I was actually able to make it work using `socat`, but it would still be better to allow for discovery and selection of network interface from inside the application itself.

[2019-05-23 12:20] Eido95 commented on #99
@255kb what your thoughts about this one? looks straightforward.

[2019-05-23 13:23] 255kb commented on #99
@Eido95 actually, Mockoon is using Express and `listen` on the port you provide without passing any IP or even 'localhost' ([see here](https://github.com/mockoon/mockoon/blob/master/src/app/services/server.service.ts#L57)). So, by default, mocked servers should be available on all network adapters IPs.
I just tested here with Mockoon 1.4.0 (Windows 10) and the mocked server is available on all IPs

[2019-05-23 13:33] bracco23 commented on #99
I am too on Windows 10 and at the time it was not working. I don't remember the version I am using, I will check later when I am able to. Showing `0.0.0.0` or nothing at all might be a better choice, in my opinion.

[2019-05-23 15:12] nbcormier opened #129 "Disabling Response Templating"
Provide the ability to disable templating in certain responses.

There are use cases when curly-braced variables are expected to be preserved in certain API responses.

For example, a translation API may support interpolation of variables:
`
{
  'foo': 'The {{animal}} jumped over the {{object}}'
}
`

[2019-05-23 16:08] Eido95 commented on #99
I tried it now and it works fine.
I successfully accessed Mockoon server outside localhost environment (specifically I accessed it from LAN).

Additionally, I verified on what host does Mockoon server listening on:
[code]

Technically it works, I guess visually specifying the host as "localhost" might be misleading in this context?

[2019-05-23 18:34] 255kb commented on #99
@Eido95 perfect!
I will keep this issue open and modify it so we update the interface in the next release to make it less confusing.

Thank you for your investigation 👍

[2019-05-23 18:58] bracco23 commented on #99
Well, I just tried again with the same setup, with version 1.3.0, and it works fine. Probably something else was going wrong previously.

[2019-05-23 19:01] 255kb commented on #99
@bracco23 I am glad to hear this!

[2019-05-23 19:13] 255kb commented on #99
What do you think would be best instead of current UI ("localhost" in front of port input)
- Nothing
- localhost + an explanation tooltip
- x.x.x.x + an explanation tooltip
- an "i" icon with an explanation tooltip in front of localhost
- an "i" icon with an explanation tooltip in front of x.x.x.x
- something else?

[2019-05-23 19:25] bracco23 commented on #99
If I can have a say, I would go for `0.0.0.0` + i icon with explanation tooltip

- For users with a minimum of networking knowledge, it would be self-explanatory, since it is common to have this address related to this use ( so common, even [wikipedia mentions it](https://en.wikipedia.org/wiki/0.0.0.0) )

- For users without a networking knowledge, well, the explanation tooltip should be enough to

[2019-05-23 19:28] 255kb commented on #99
@bracco23 ok, but when I test a mocked server with 0.0.0.0:port it does not work. Apparently this is one IP to which the server is not bound.
Or am I missing something? (I am probably in the second group :))

[2019-05-23 19:54] bracco23 commented on #99
Well, you are missing that 0.0.0.0 is not a valid destination IP :).

Several sources online point to why this happens and the reasons behind it ( [this superuser question](https://superuser.com/questions/846721/chrome-wont-access-http-0-0-0-04200) is quite good at explaining it ) and if your concern is about people actually trying to use it, well, I can't blame you.

My proposal does indeed build

[2019-05-24 07:16] 255kb commented on #99
Thanks for the explanation! There is always something new to learn :)

Your proposal is very clear indeed. I will replace localhost by 0.0.0.0 and add a tooltip stating that the mocked server is available on any IP.

[2019-05-24 10:57] Eido95 commented on #99
Glad about your conclusion,
`0.0.0.0` with a tooltip presumably explain it visually better than localhost.

Much thanks guys.

[2019-05-24 19:33] #99 closed

[2019-05-29 09:25] julienchazal opened #131 "someOf would generate array instead of string"
**Is your feature request related to a problem? Please describe.**
`"someItems": "{{someOf (array 'item1' 'item2' 'item3') 1 2}}"`
gives
`someItems: "item2,item1"`

**Describe the solution you'd like**
`"someItems": "{{someOf (array 'item1' 'item2' 'item3') 1 2}}"`
would give
`someItems: ["item2", "item1"]`

Thanks !

[2019-06-03 20:43] omanizer commented on #21
I was just about to suggest this same thing and found this old request.  I just spent the last hour creating mock endpoints based on requests that were made through the proxy.  I have a long plane flight over the ocean today and want to be able to work on on a project while not having internet access.  Mocking the API is a great option for doing this.

My current workflow to do this is to open moc

[2019-06-03 21:05] omanizer opened #132 "Easier method to mock based on query string"
**Is your feature request related to a problem? Please describe.**
Currently it's getting too involved to mock an endpoint and then use a templating switch statement based on a query string variable.  I find myself creating 1 endpoint for /api/widgets and then doing:
{{#switch (queryParam 'page')}}
  {{#case '1'}}
   // response for first page of results
  {{/case}}
  {{#case '2'}}
   // response

[2019-06-06 20:03] 255kb commented on #127
Both environment and routes latencies never required a restart. I just tested again on 1.3.0 and 1.4.0 and changing the latencies is immediately reflected during next call.
I will close this as non reproductible.

[2019-06-06 20:03] #127 closed

[2019-06-06 20:06] 255kb commented on #67
Considering the lack of interest for this request, and also the fact that we want to keep Mockoon simple, and not mess with system files, this won't be implemented.

[2019-06-06 20:06] #67 closed

[2019-06-10 20:53] stereoplegic opened #133 "Any plans for AppImageUpdate integration?"
**Is your feature request related to a problem? Please describe.**
Not a problem, just an enhancement (updating the AppImage according to AppImageUpdate specs).

**Describe the solution you'd like**
Include update information in the AppImage, and latest-linux.yml in Releases

**Describe alternatives you've considered**
The only alternative with AppImage is manually downloading new releases from th

[2019-06-13 20:51] tiagoppinho commented on #92
Having the same issue.

The maximize button doesn't even show up on my case. F11 does also does not work, same with all the shortcuts to resize windows.

I can resize it to larger on the right and left sides but can't resize to smaller in any of the sides or corners.

**Mockoon version:**
1.3.0

**OS / OS version:**
Linux - Ubuntu 18.04.2 LTS

[2019-06-30 06:45] kichik commented on #62
It would be useful to be able to configure the mock server using the GUI and then run it automatically for tests in the CLI. Maybe it doesn't have to be Mockoon itself running, but just a minimal server that follows the rules set by the GUI and logs requests to `stdout`.

[2019-07-03 14:08] kohchihao opened #134 "Keyboard Shortcuts to Export All Environments"
**Is your feature request related to a problem?**
Usually, at the end of the day, I would turn off my laptop and I would love to have a keyboard shortcut so that I can quickly export all the environments that I have added that day.

**Describe the solution you'd like**
I was hoping that there could be a keyboard shortcut like <kbd>Cmd</kbd><kbd>Alt</kbd><kbd>S</kbd> to quickly export the environme

[2019-07-07 19:51] 255kb opened #135 "Replace App menu "help" link with Spectrum community"
GitHub Wiki pages are "deprecated" in favor of website's tutorial, Spectrum community link would be more useful

[2019-07-08 11:14] abiodunjames commented on #48
I can reproduce this on MacOS mojave as well. The response time is too slow

[2019-07-12 16:45] ickybodclay commented on #102
Same is happening to me.

Created file on Windows version of Mockoon by right clicking on environment and clicking "Copy to clipboard (JSON)" and saving to a file, cannot import on Mac version of Mockoon using import all environments from file.

However importing from clipboard by opening the file, selecting all, and copy works.  I think the issue is that import ALL environments has slightly diffe

[2019-07-16 08:40] 255kb commented on #102
@ickybodclay I think these features need clarification. Import from file is not compatible yet with import from clipboard. maybe it should.

I will rename the ticket to reflect this, and improve compatibility with different import features.

[2019-07-20 02:53] skunkworker opened #136 "404 page not adding custom headers"
**Describe the bug**
When custom headers are present for a given environment, navigating to a undefined route will show a 404, but this won't include the custom headers that were set beforehand.

I ran into this issue when using https://github.com/axios/axios. I was getting a invalid CORS error for the mocked server, and hunting it down I was able to see that a 404 wasn't including the custom head

[2019-07-23 09:34] peawyoyoyin opened #137 "Add search functionality in environment logs"
**Is your feature request related to a problem? Please describe.**
I'm using Mockoon to test an HTTP client that sends a large JSON payload in the request body. Sometimes I want to verify some data sent in the request using the environment log. Currently it is a little bit frustrating without a text search function (I have to manually read through the text).

**Describe the solution you'd like**
P

[2019-07-23 14:56] gabrielperes97 opened #138 "Allow view proxy responses"
It can be very helpful can view the proxy responses from the environment log. Today I need to look this in my application logs, if I can look this on the environment logs can be more fast and easier.

Add the headers and the body of the reponse in environment logs, where the request are showed, can be solve this.

[2019-07-23 15:01] gabrielperes97 opened #139 "Create routes from proxy responses"
When I'm mocking a api, firstly I run my app proxied and so I copy the data from the log to a new route.

It can be helpful a button on the route of the environment log to use that request/response as a mock.

[2019-07-23 15:04] gabrielperes97 commented on #138
I want to work with this.

[2019-07-23 15:06] gabrielperes97 commented on #139
It can be developed more enhanched after the Issue #138 . I want to work in both.

[2019-07-24 06:47] 255kb commented on #89
Closing this in favor of #139

[2019-07-24 06:47] #89 closed

[2019-07-24 06:53] 255kb commented on #139
Could you please clarify what you mean by "proxy". Because Mockoon also has a "proxy" feature which redirect all non declared routes to a URL you provide (in the environment settings).

Specifications I understand from your ticket are the following:
- you create an environment / declare some routes.
- when you call this environment you can see all the entering requests in the "environment logs" ta

[2019-07-24 06:58] 255kb commented on #138
What do you mean by "proxy responses"?
If I understand correctly, when you activate Mockoon proxy option in environment settings you want to see requests coming from the proxy URL?
In this case I am not sure that the environment logs tab is the best place to show this. Environment logs are for all **entering** requests not for responses.
But maybe we could have two tabs in the environment logs: "e

[2019-07-24 16:00] gabrielperes97 commented on #139
You are right. This is it.

I'll work on #138 first until you merge #75.

[2019-07-24 16:00] gabrielperes97 commented on #138
You undertand correctly.

I don't think detach the responses from the log it's the best. In this way we lose the requests "sequence vision", so by the response sequence can be different to request sequence, it be more hard to find the response for that request I need.
My idea is, where today we see the request data (General, Headers, Route Params, Body, etc) we have two tabs ("Request" and "Respon

[2019-07-24 19:20] 255kb commented on #139
ok it's probably better and easier to wait on #75
Thank you

[2019-07-24 19:22] 255kb commented on #138
very good idea, I like it. As you said you would have everything in one place for debug purposes. Entering requests and outgoing responses. So you don't have to check your mocks config.

[2019-07-25 07:23] 255kb opened #140 "Make "documentation" field less confusing"
**Is your feature request related to a problem? Please describe.**
Documentation field can be mixed up with the path field.

**Describe the solution you'd like**
Make it less confusing, move it down, rename it to "Note". Something like this.

[2019-07-31 08:21] 255kb opened #141 "Implements custom URL protocol `mockoon://`"
In order to easily import data in Mockoon having a custom protocol would be great.

https://electronjs.org/docs/api/protocol

[2019-07-31 08:26] 255kb opened #142 "Import data from custom URL protocol"
**Is your feature request related to a problem? Please describe.**
In order to easily import sample data, we could import directly from custom URL protocol

**Describe the solution you'd like**
Upon URL protocol trigger, directly import if any data is found

Need #141 to be implemented first

https://electronjs.org/docs/api/protocol

[2019-07-31 08:27] 255kb commented on #142
Need #141 to be implemented first

[2019-08-01 07:10] zuffik opened #143 "GraphQL mock"
Any chance to get GraphQL mocking alongside REST API mocking?

[2019-08-02 10:31] bart commented on #86
+1

[2019-08-02 20:08] HeathNaylor commented on #132
I support this proposal fully, I may try to implement this myself.

[2019-08-02 20:22] HeathNaylor opened #144 "NPM install fails (Node v12.4.0, NPM 6.9.0)"
**Describe the bug**
After cloning the repository and running `npm install` a traceback and errors occur.

**To Reproduce**
- `git clone git@github.com:mockoon/mockoon.git`
- `cd mockoon`
- `npm install`

**Expected behavior**
I expect the Node packages to properly install

**Mockoon version:**
`47280c1595ee4bc5b42f9db76cb114404e6b739c`, master branch

**OS / OS version:**
Mac OS 10.12.6 (System D

[2019-08-02 20:23] 255kb commented on #132
I think this will be handled by #75 where we will have multiple responses per route. I am currently working on it and it's nearly finished.
Basically you will be able to add multiple responses for each route declaration, a 200, a 404 etc, and trigger them depending on rules like query param "Foo" equals 1, or body content "user.1.name" equals "Bob".

I think this would solve this issue also.
If yo

[2019-08-05 17:08] HeathNaylor commented on #132
Yup, this looks to be a duplicate of #75 .

[2019-08-05 19:51] 255kb commented on #132
thanks, so I close this in favor of #75

[2019-08-05 19:51] #132 closed

[2019-08-06 12:56] broomhandleus opened #145 "Add the ability to create and edit an API itself within Mockoon"
Mockoon takes an API that is live and mocks out responses in a great way, but my current use case is mocking an API that doesn't exist yet. I get to define the API and having an interface in Mockoon to build an API would also be great! That way I could fulfill everything I need in just one application! The program I am using now is Apicurio, so you can go look at their site to see what I am referr

[2019-08-11 21:04] 255kb opened #147 "Body formatter option is not propagating the change immediately"
**Describe the bug**
Body formatter option is not propagating the change immediately, navigation is needed to see it reflected by the body editor

**To Reproduce**
Steps to reproduce the behavior.
Add some JSON and click on format button

**Expected behavior**
Should be formatted immediately

**Mockoon version:**
1.4.0

**OS / OS version:**
All

[2019-08-11 21:13] 255kb opened #149 "Migrate from CircleCI to GitHub Actions"
Waiting for GH actions beta approval

[2019-08-11 21:14] #147 closed

[2019-08-11 21:21] 255kb commented on #140
This was done with UI makeover of #75

[2019-08-15 09:42] ringunger opened #150 "Route Folders"
Please make it possible to have folders to group the routes. This could make it easier to group multiple routes that are related to a certain functionality.

[2019-08-15 10:09] 255kb commented on #150
This is definitely something Mockoon need. But it's not yet on the roadmap.
A ticket is already opened, I am closing yours in favor of #97

[2019-08-15 10:09] #150 closed

[2019-08-19 13:02] electerious opened #151 "Import / Export / Replace environment"
**Is your feature request related to a problem? Please describe.**
All our projects should contain an environment file that mocks the API of the back-end and allows us to develop the front-end while the back-end isn't ready.

**Describe the solution you'd like**
I would like to export / import / replace a single environment. It's currently only possible to import / export all environments at once.

[2019-08-19 13:10] 255kb commented on #151
For the replace feature it does not exist yet, but you can definitely export / import one environment and even one route.  You can right click directly on each environment in the list and select "Copy to clipboard".
Then "import from clipboard" in the app main menu. It's not optimal yet but I think it should do the trick and solve your problem.
Please note that file import / export is not compatib

[2019-08-19 18:19] #151 closed

[2019-08-20 20:09] 255kb commented on #144
Angular 7/8 is not yet compatible with Node 12, please install Node 10 LTS
https://github.com/angular/angular-cli/issues/14357

[2019-08-20 20:09] #144 closed

[2019-08-20 20:56] #75 closed

[2019-08-20 20:56] #140 closed

[2019-08-20 20:59] #135 closed

[2019-08-23 17:52] lucasdealmeida opened #154 "multiple route responses"
**Is your feature request related to a problem? Please describe.**
I would like to enable or disable the response that I want to receive. Sometimes we are using a third party library and we can't change any data in the request.

**Describe the solution you'd like**
Just a checkbox to say if the response is enable

**Additional context**
I'm using the multiple response feature that was committed a

[2019-08-23 19:08] 255kb commented on #154
The implementation you are using (#75 ) already have this feature. But it is not yet published nor documented. It will be part of 1.5.0 and will have a tutorial on the website.
In order to return a specific response without defining rules you can simply reorder the responses in the dropdown menu. The first one will be the one served by default if no rules are provided, or no rules are matched.
I h

[2019-08-23 19:08] #154 closed

[2019-09-09 20:39] 255kb commented on #131
Handlebars helpers are supposed to return strings and automatically render arrays using `toString()`. So, I came up with a new implementation for v1.5.0 that will require a little bit of work on your side.
It will be an option and won't break the current implementation:

First option, as a string, to be used in quotes (current implementation that stays the same):

[code]

Second (new) option, as a

[2019-09-09 20:43] #131 closed

[2019-09-14 19:16] #149 closed

[2019-09-14 19:18] 255kb opened #157 "Update dependencies (Angular 8)"
**Is your feature request related to a problem? Please describe.**
Some dependencies have security vulnerabilities

**Describe the solution you'd like**
Update all dependencies and Angular 8

[2019-09-14 19:38] 255kb commented on #134
quick question, what behavior do you expect?
Shortcut should open the "Save as" dialog, or automatically export to a default file somewhere?

[2019-09-16 12:06] ascarnecchia opened #158 "Introduce environment variables across request to be used as parameters"
**Is your feature request related to a problem? Please describe.**
I need a change executed in a PUT/POST request to be reflected into an subsequent GET request. (e.g. setFlag to true via PUT, then getFlag via GET returns true)

**Describe the solution you'd like**
It would be awesome to define variables at environment scope to be used in request calls and that persist their current values between

[2019-09-16 19:34] 255kb commented on #157
- Need to replace spectron with webdriver. Latest spectron is not compatible with electron v6 (even if this should be the case).
- Can replace toast with ng-bootstrap new toasts

[2019-09-19 13:41] zamarrowski opened #159 "Random status code"
In my team we need to get random status code to try some use cases.

The idea is simple, select many status codes and return one of them randomly.

[2019-09-19 19:32] 255kb opened #160 "Use ng-bootstrap toasts"
**Is your feature request related to a problem? Please describe.**
Currently using custom toast (but using bootstrap CSS)

**Describe the solution you'd like**
ng-bootstrap now implements toasts, we should use them and remove the custom code

[2019-09-19 19:33] 255kb opened #161 "Electron 6 migration"
**Is your feature request related to a problem? Please describe.**
Should migrate to electron 6

/!\ Currently Spectron 8.0.0 (which is supposed to be compatible with Electron 6) is completely broken. Migrating to Electron 6 would break the functional tests. /!\

[2019-09-19 19:36] 255kb opened #162 "Electron builder latest version migration"
Should migrate to Electron builder latest version.
Configuration should be update to keep the current implementation as default Linux builds changed.

[2019-09-19 19:37] 255kb opened #163 "Offer more Linux distribution options"
**Is your feature request related to a problem? Please describe.**
Currently only offering AppImages

**Describe the solution you'd like**
Electron builder latest versions offer more options for Linux, need to investigate which one should be offered to users

**Additional context**
This is blocked by #162

[2019-09-19 20:17] #157 closed

[2019-09-19 20:37] #160 closed

[2019-09-25 21:29] Giancarlos commented on #163
Is Electron Builder a reasonable option for this?

https://github.com/electron-userland/electron-builder

[2019-09-26 07:40] 255kb commented on #163
Yes, indeed we are already using electron builder. But it needs to be update to the latest version which offers more distribution options for Linux. Like Snap which is the default build format now.
Fact is I am not very familiar with the Linux ecosystem I didn't even know that such an app store existed.
So first step is to update to electron builder latest version in #162, but keep binaries as is.

[2019-09-26 13:48] Giancarlos commented on #163
Oh I had no idea, I'm only just now using this project after keeping my eye on it. I use Ubuntu, and while individual packages are great the AppImage works just fine for me, but I wanted to look into it and provide any meaningful feedback I could add. I think the major packages I usually see are .deb and .rpm usually. I am always ok with AppImage as an option, it's very trivial to use usually.

I

[2019-09-26 14:08] 255kb commented on #163
I saw that adding the app to the Snap app store seems really easy. So I will probably support it very soon especially if Electron Builder does most of the work.
Concerning `deb` and `rpm` Electron Builder can create the binaries too but I am not sure how to add them to a repository (is this even needed?)

[2019-09-26 15:34] Giancarlos commented on #163
You dont need to necessarily have them in a repository with a deb or rpm file you can manually install it once you download each file.

Snap isnt too bad though and wouldnt hurt as an option but I know some people will still prefer to just use DEB or RPM files.

[2019-09-26 15:42] 255kb commented on #163
Ok good to know.
Apparently it's just a matter of adding two binaries types in the configuration.
I will do it for the next release and also try to add Snap.
Thank you for the feedback!

[2019-09-27 19:22] #138 closed

[2019-09-27 20:35] 255kb opened #166 "Implements reducer actions creators"
**Is your feature request related to a problem? Please describe.**
We don't have correct typing in the reducer `switch`

**Describe the solution you'd like**
Add actions creators (use TS 3.4 new const assertion feature)

[2019-09-29 21:01] #166 closed

[2019-10-04 20:26] #163 closed

[2019-10-04 20:26] #162 closed

[2019-10-04 20:30] 255kb opened #169 "v1.5.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows binary
- [x] Build Linux binaries (deb, rpm, snap, AppImage)
- [x] Build OSX binary (dmg)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2019-10-07 06:04] 255kb opened #170 "Add label to better identify route responses and show it in the responses dropdown"
**Is your feature request related to a problem? Please describe.**
When having multiple responses with same status it's hard to identify them in the menu

**Describe the solution you'd like**
Add a label input on the route response, so users can write whatever they want
Show this label next to the status in the dropdown menu

[2019-10-07 06:20] 255kb opened #171 "Add an icon in the first route responses dropdown item to identity default one"
**Is your feature request related to a problem? Please describe.**
It's not obvious which route response is the default one (spoiler: it's always the first one if no rule match).

**Describe the solution you'd like**
We can add some "tick" icon next to the first dropdown item with a tooltip explaining that it's the default one "Default if no rule matches"

[2019-10-07 20:22] #71 closed

[2019-10-07 20:38] #169 closed

[2019-10-08 06:13] baoxin opened #172 "Something about proxy mode"
When the application is large enough, there may be multiple URL requests. It is unreasonable to use the same mapping address in the proxy mode. It is suggested to fill in the same mapping address. If not, it should be forwarded to the changed address normally, and if it is filled in, it should be the same mapping.

[2019-10-08 10:55] rostlin commented on #98
Mockoon is really great since you just have to change one line of code on your client. But there should be a good way to test your POST requests as well. If the model takes integers you should be able to set what response you want to get based on a set of values, e.g when posting integers [1,2] you will get a certain response. Keep up the good work! (will definitely spread this around the office)

[2019-10-08 11:08] 255kb commented on #98
Hi @rostlin thank you :)
v1.5.0 was released today with #75
You can now define multiple response for each route, and set basic rules like: if query param X === Y then show response number 1, etc

I hope it can solve your problem :)

[2019-10-09 08:10] 255kb opened #173 "Add possibility to collapse environment menu"
**Is your feature request related to a problem? Please describe.**
Environment menu may not be used as frequently as the rest of the interface. Majority of users only have 1 environment.

**Describe the solution you'd like**
Allow users to collapse the environment menu

[2019-10-10 08:13] 255kb opened #174 "Add Linux app to desktop menu"
**Is your feature request related to a problem? Please describe.**
when installing in some distribution, app is missing from the desktop menus.

**Describe the solution you'd like**
Add `desktop` electron builder config to add the app to the menus

https://www.electron.build/configuration/snap
https://developer.gnome.org/integration-guide/stable/desktop-files.html.en

[2019-10-14 20:42] dm3ch opened #175 "Add ability to use own SSL cert or issue it automatically"
**Is your feature request related to a problem? Please describe.**
Sometimes I am using mockoon to replace mock some real servers. I'm changing /etc/hosts to make domain name resolves to localhost. Suddenly some apps requires https, in such case I need to setup separate https proxy cause built in cert could be used only for localhost

**Describe the solution you'd like**
It would be cool to have a

[2019-10-16 11:52] sven-kanoshin opened #177 "Duplicated route shares file with origin route"
**Describe the bug**
When duplicating a route, which responds with a file (raw file or as body, does not matter), the duplicate route and the origin route share the same  file reference. This means, changing the file in either of the routes, also changes the file in the other route.

The duplication scales, this means, any duplication inherits the file reference.

This behaviour seems like a bug t

[2019-10-16 12:06] 255kb commented on #177
Nice catch. I missed this when adding the multi route responses feature. When duplicating a route, responses are not cloned.
I will try to push a fix rapidly. In the meanwhile, I am afraid that there is no workaround.

[2019-10-16 12:14] sven-kanoshin commented on #177
The workaround is to just build new route from scratch :) Though it might be a tad annoying, when you already have an elaborate configuration that needs to be duplicated.

My use-case is simple enough I can build from scratch, I just found this behaviour accidentally.

[2019-10-16 12:15] 255kb commented on #177
sure you can still do this :)

I will try to correct this in the coming days

[2019-10-16 16:39] KennanChan opened #178 "Routes with params make those without params unreachable"
**Describe the bug**
Routes with params make those without params unreachable

**To Reproduce**
Set two routes:
1, /foo/:id
2. /foo/bar

Call /foo/bar, mockoon routes the request to /foo/:id, it treat 'bar' as an id.

**Expected behavior**
When calling /foo/bar, mockoon routes the request to /foo/bar correctly

**Mockoon version:**
1.5.0

**OS / OS version:**
Windows 10

[2019-10-16 16:44] KennanChan commented on #178
Well, the trick is to move the /foo/bar route right before the /foo/:id route.

[2019-10-16 16:44] #178 closed

[2019-10-16 18:22] 255kb opened #179 "v1.5.1 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows binary
- [x] Build Linux binaries (deb, rpm, snap, AppImage)
- [x] Build OSX binary (dmg)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2019-10-16 18:24] #177 closed

[2019-10-16 18:29] 255kb commented on #178
Yes that's the idea. Route declaration are based on ExpressJS, so order is important especially if you have a catch-all `/*`.

[2019-10-16 22:15] #179 closed

[2019-10-16 22:16] 255kb commented on #177
New version 1.5.1 has been published :)

[2019-10-16 22:23] 255kb opened #181 "Automate binaries creation"
Binaries creation should be automated in GitHub actions in order to accelerate the release process.

#### Windows binary
- [x] add certificate and password to secrets
- [x] add workflow to build window binary (exe)
- [x] save binary as artifact
- [x] test binary

#### Linux binaries
- [x] add workflow to build linux binaries (AppImage, deb, rpm, snap)
- [x] save binary as artifact
- [ ] test binar

[2019-10-16 22:32] JoshMLeslie commented on #173
Hey would it be alright if I took this one on?

For some reference of my work you can [check out my portfolio site](https://github.com/JoshMLeslie/portfolio)

[2019-10-17 04:19] #172 closed

[2019-10-17 05:55] 255kb commented on #173
Hi @JoshMLeslie , of course it's alright. Thank you :)
A little help is always appreciated!

Concerning the implementation itself, I didn't write any specification in this issue.
So, to clarify, and be sure we are talking about the same thing: environment menu is the first column on the left with the list of environments (which is taking full viewport height).
Also, I think we should:
- update the

[2019-10-17 19:37] 255kb opened #182 "Replace Symantec timestamping service URL"
**Is your feature request related to a problem? Please describe.**
Symantec timestamping services are being shutdown on Oct. 31. We must replace the timestamping URL by Digicert's.

**Describe the solution you'd like**
Replace timestamping URL by `timestamp.digicert.com`

[2019-10-17 19:43] #182 closed

[2019-10-17 20:07] #171 closed

[2019-10-18 01:30] JoshMLeslie commented on #173
That all sounds good! I do have a question though, how would you feel about extracting the Environment menu into its own component / module?

[2019-10-19 13:06] 255kb opened #184 "Add menu entry to show app data folder"
**Is your feature request related to a problem? Please describe.**
We should have an easy way to show the application data folder in the OS explorer.

**Describe the solution you'd like**
Use Electron https://electronjs.org/docs/api/shell#shellshowiteminfolderfullpath and https://electronjs.org/docs/api/app#appgetpathname

[2019-10-19 21:04] gabrielperes97 opened #186 "Variable log's body limit size"
**Is your feature request related to a problem?*
I work a much with large jsons and many times i'm frustrated with the logs request/response body truncated.

**Describe the solution you'd like**
On the Application Settings view, we can put a input field to set the log's body size limit to truncate.

**Describe alternatives you've considered**
The input field can be placed in the environment settin

[2019-10-21 21:37] #161 closed

[2019-10-23 19:20] 255kb opened #187 "Adding or deleting a route do not trigger the "restart needed" indicator"
**Describe the bug**
When adding or deleting a route of a started environment, stop button should change to "restart needed" arrow. Calling a deleted route triggers a 500 error. User should be warned that a route deletion requires the environment to be restarted.

**To Reproduce**
Add/delete a route while the environment is running

**Expected behavior**
Route creation/deletion should display the

[2019-10-23 19:27] #139 closed

[2019-10-24 08:35] gervaisb commented on #86
Exporting a mock to OpenApi will be a great feature too.
For sure you will not be able to generate a fully featured spec but the skeleton will be a good starting point.

[2019-10-24 08:38] 255kb commented on #86
@gervaisb I wanted to ask this exact question! I am currently working on this, import is already well advanced (multiple route support, headers, etc only thing is to generate mock data based on the objects references in the openapi file). But I wondered if export would make sense as we may not generate something as rich as an regular OpenAPI file.

[2019-10-24 10:11] gervaisb commented on #86
I can easily imagine that someone will use _mockoon_ to draw the API. When the state is tested and approved by other it generate the spec and give it as base document for others that complete it with the details.
But since the routes, responses and main rules are defined the remaining part is documentation and "implementation detail"..

[2019-10-24 10:57] 255kb commented on #86
@gervaisb that's true, it would definitely be useful.
It will be in release 1.6.0 but there is still some work to do

[2019-10-24 19:21] #181 closed

[2019-10-25 08:11] 255kb opened #189 "File serving not updating UI since running outside zones"
**Describe the bug**
Adding a file to serve does not refresh the UI (except on mouse hover) as Electron showOpenDialog callback run outside zones

**To Reproduce**
Add a file + avoid hovering with the mouse...

**Expected behavior**
UI should be updated with delete button and serve as body checkbox without having to hover with the mouse.

**Mockoon version:**
All

[2019-10-25 08:28] #189 closed

[2019-10-25 08:32] 255kb opened #191 "[Feedback] UI improvements ideas"
/!\ This issue is only here to gather feedback. Ideas will be translated into real issues. /!\

I would like to improve the interface a bit. So, I am opening this ticket for a while to gather ideas.
Please add one idea per comment (with a markdown title "## idea number - title") and vote on ideas with 👍 only.

---

Idea 5: This is done and will be in v1.7.0, see #213 @aantoniv

[2019-10-25 08:41] 255kb commented on #191
## Idea 1 - remove the top bar
Remove the top bar which contains the "start" button, the environment name, the port, prefix, latency, logs and settings button.
This bar is scoped to the environment. All these things that are rarely modified could be moved in the environment settings page (the cog button) along with https and proxy settings.
Environment logs and settings are already accessible from

[2019-10-25 08:48] 255kb opened #192 "Automatically assign port number when creating an environment"
**Is your feature request related to a problem? Please describe.**
When importing / creating / duplicating a new environment the port number is always 3000 by default.

**Describe the solution you'd like**
List all the port already assigned and chose an unused one.

[2019-10-25 09:31] 255kb opened #193 "Hide macOS specific menu entries"
**Describe the bug**
"Hide" and "Hide others" entries from "Application menu" are macOS specific and does not work on Windows or Linux.

**Expected behavior**
The 2 menu entries should be hidden.

[2019-10-25 18:49] 255kb opened #194 "Fix footer disappearing when env/route menu contains too many items"
**Describe the bug**
When adding more env or routes than the viewport can handle (height), footer disappear. Apparently due to Electron 6 / Chrome version bump.

**To Reproduce**
add a lot of envs / routes.

**Expected behavior**
Footer should be fixed, envs/routes menus should have fixed height and scroll

**Mockoon version:**
development (> 1.5.1)

[2019-10-26 16:30] JoshMLeslie commented on #173
Alright I'll bite @255kb. I've racked my brain for awhile on this one - How should I be changing the css / html without modifying the width property?

[2019-10-26 19:28] 255kb commented on #173
@JoshMLeslie I thought about it also. Honestly I don't know. Probably transitioning the width is good enough. However, I would like to avoid a too slow transition which would make the text wrapping progressively (and visibly). So maybe a short transition, or first fade out the content before collapsing the width.
What do you think?

[2019-10-26 22:17] gabrielperes97 commented on #106
I'm working on it :)

[2019-10-27 21:58] #187 closed

[2019-10-28 12:59] JoshMLeslie commented on #173
I came to the same conclusion @255kb :+1:

[2019-10-28 13:21] JoshMLeslie commented on #191
## Idea 2 - collapsible route list
Inline with idea 1, moving the start button and environment name editing input.
Related:  #173 / #104

[2019-10-28 19:35] 255kb commented on #173
Good idea, a sliding menu could be better actually.
Routes menu + main content would take the full width, minus some padding left on the route menu to acknowledge for the clickable sliding menu border / button.
And sliding menu would be absolute and translateX when class is applied (or with angular animations). That would ensure great performances.
For the "button" used to collapse/show the menu I

[2019-10-29 20:53] #193 closed

[2019-10-29 21:25] 255kb commented on #194
apparently due to Electron5/Chrome 73 update:
https://bugs.chromium.org/p/chromium/issues/detail?id=927066

[2019-10-29 22:12] #194 closed

[2019-11-01 20:40] JoshMLeslie commented on #173
@255kb
Sorry this has taken so long! Work and life, you know.

This is what I have so far. What do you think about the right-edge inset shadow when the menu is open to break the edge? it's `$gray-400`

### Open
![image](https://user-images.githubusercontent.com/30437767/68054968-f3c45d00-fcc5-11e9-963f-f70ae8d38e5f.png)

### Closed
![image](https://user-images.githubusercontent.com/30437767/680549

[2019-11-04 17:14] samja666 opened #199 "Ability to add Custom HTTP status codes"
Currently, there is a dropdown with a list of pre-defined HTTP status codes. It would be very helpful if the user could add custom HTTP status codes.

[2019-11-04 20:21] 255kb commented on #173
Thank you @JoshMLeslie for your hard work! It looks nice 😃
I am sorry, I don't have much time in the coming days to review (taking a new job) but I will. Feel free to open a PR as soon as you are ready, or even if it's WIP.
From what I saw on your branch, I have 3 remarks:
- Couldn't we store the `environmentsMenuState` in the settings property of the store only? It has the same behavior anyway. H

[2019-11-04 20:27] 255kb commented on #192
@gabrielperes97 is working on this

[2019-11-05 15:19] Bulkinss opened #200 "Field "Body (raw)" in "Environment logs" will be more convenient if has the default condition"
Field "Body (raw)" in "Environment logs" will be more convenient if has the possibility to change "closed"/"disclosed" condition as default.

[2019-11-06 08:37] neil-liao-dragon opened #201 "Add "AND" relations in route responses rules"
Currently I saw user can add multiple rules for a response. But these rule check condition is "OR", for example if I have 2 rules for this response, then if rule1=true or rule2=ture, then this response will match and returned. Whether I want the AND relation, which means only when rule1=true AND rule2=true, this response will return. Do we have this feature? if not, when?

[2019-11-07 20:06] 255kb commented on #201
Not yet and it's currently not planned. Rules are for now very simple: a response is served as soon as a rule is matched. On a "first come first serve" basis, I would say.

[2019-11-07 21:03] briannajdhall opened #203 "Application Freezing After Making One Request"
**Describe the bug**
I am using Mockoon version 1.5.1 on a Mac with macOS Catalina version 10.15. My environment consists of 10 routes (6 GET, 2 POST, and 2 PUT). Within my API flow, I can run approximately two GET requests before the interface freezes, preventing me from being able to make changes.
My coworker is using the same environment that I am, but he is using a Mac with macOS Mojava 10.14.

[2019-11-08 14:07] 255kb commented on #203
May be related to entitlements: https://github.com/electron-userland/electron-builder/issues/4040
Need to test with Electron Builder defaults

[2019-11-09 21:49] #106 closed

[2019-11-09 22:20] #186 closed

[2019-11-09 22:26] 255kb opened #205 "[dev] Frozen application when packaged after Electron 6 migration"
**Describe the bug**
Since Electron 6 migration app is not loading anymore when packaged. Stuck at loader.

**To Reproduce**
Package and run the application.

**Mockoon version:**
Develop

**OS / OS version:**
All

[2019-11-10 20:58] #192 closed

[2019-11-11 14:38] JoshMLeslie commented on #191
## Idea 3 - Better button to return from route log
Starts to feel cramped once request come in.
![image](https://user-images.githubusercontent.com/30437767/68595222-0594c580-0467-11ea-9ff2-b27e391eb6a3.png)

[2019-11-12 14:48] 255kb commented on #205
Could be linked to this: https://stackoverflow.com/questions/56400290/white-screen-on-fresh-new-angular-8-electron-5-app/56401198

[2019-11-12 21:16] #205 closed

[2019-11-12 21:56] 255kb opened #206 "v1.6.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows binary
- [x] Build Linux binaries (deb, rpm, snap, AppImage)
- [x] Build OSX binary (dmg)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2019-11-13 16:56] TMUNYU commented on #203
Got this issues too. 1.5.1 on Windows 10

[2019-11-13 16:58] 255kb commented on #203
@TMUNYU If this is not specific to one OS, could you please provide your Mockoon's data file? Maybe something is wrong and I could have a look.

[2019-11-13 21:45] weblancaster opened #207 "Thank you @255kb"
I just want to say, great job creating and maintaining mockoon.

Thank you @255kb

[2019-11-13 21:46] #207 closed

[2019-11-14 00:00] Mavbraz opened #208 "Add support for Dynamic XML Responses and Rules"
## Is your feature request related to a problem? Please describe.
Currently, you can make soap requests using the POST method with Content-Type "text/xml" or "application/soap+xml", but you cannot create dynamic replies and rules.

## Describe the solution you'd like
I found a good solution to this problem: convert the XML request to JSON. For this, I recommend the library "xml-js" with compress =

[2019-11-14 09:11] feraguiba opened #209 "Restart environment after importing from clipboard"
When you have already started an environment and then you import a route from clipboard, I always forget to stop and then start again the environment. But... If I have imported something in an already started environment... It should be already available, right?

[2019-11-14 10:01] TMUNYU commented on #203
@255kb So I cannot either. Work advised against due to some sensetive data. I can reproduce this now though.

The issue happens when I run multiple proxied GETs in quick succession. In my case only one of those GETs is not defined in my routes so it tries to fetch it from the host. It seems that the call itself actually works just fine (I can see some logs on the history window). It is when I try

[2019-11-14 11:42] 255kb commented on #207
Thank you @weblancaster, This is probably my favorite issue so far :smile:

[2019-11-14 11:44] TMUNYU commented on #203
Just updates to 1.6.0 and problem seems to have gone away

[2019-11-14 11:47] #206 closed

[2019-11-14 11:52] 255kb commented on #203
@TMUNYU This helps a lot thank you.
Please let me know if this is definitely solved for you with 1.6.0
Big changes in 1.5.0 was Electron +5 migration (apparently a lot of things changed). And yesterday I update Electron to version 7 which maybe solved the problem.

@briannajdhall could you please test also with v1.6.0 and confirm that this is working for you?

[2019-11-15 14:38] KryptKode commented on #209
Yes. I noticed this too. It no longer  persists the environments when you close the application. It did so in previous versions

[2019-11-15 20:25] 255kb commented on #209
@feraguiba adding, importing (file or clipboard) or duplicating a route, requires an environment restart
Would you like Mockoon to automatically restart? That could be a new option.

[2019-11-15 20:35] feraguiba commented on #209
Yes, it would be nice. Or at least the "stop" environment button should be changed to "restart needed" when you paste from clipboard. It doesn't change nowadays.

[2019-11-15 20:36] 255kb commented on #208
That's a clever way to solve the problem. It feels like a "hack", wouldn't it be more "correct" to use an XML parser and look into the JS object? (Just asking, I am open to hacks 😄)

What do you mean by:

[2019-11-15 20:37] 255kb commented on #209
I just tested on v1.6.0 and indeed icon changes to "restart needed".
I corrected a bug where this wasn't the case especially with duplication. Maybe it solved it for clipboard import too.

[2019-11-15 21:18] Mavbraz commented on #208
Realistically, this is like a "hack", but I thought about it from the beginning.

There is a problem if you use the "correct" way (XML parser) that is maintaining this implementation, because Mockoon implements the "Dummy JSON" lib to create a dynamic response.

If this feature is implemented in this way, an equivalent lib with the same features as Dummy JSON is required and any changes to one lib

[2019-11-16 08:17] KryptKode commented on #209
@255kb is it normal for environments to not be persisted after the program is closed? It used to be persisted but on recent updates, it's not so I have to export  the environments to a file and re-import every time I open the program

[2019-11-16 08:42] feraguiba commented on #209
It is solved also for clipboard import! Then I launch the next request... Autorestart when importing from clipboard. Althought not so important as now you see clearly the environment must be restarted.

Thanks for your support @255kb

[2019-11-16 08:43] feraguiba commented on #209
I have just tested it and the environment is persisted (Mac version 1.6)

[2019-11-16 08:43] 255kb commented on #209
@KryptKode not at all. It should persist as before. Please open a new issue with maximum information so we can track this.

[2019-11-16 08:46] 255kb commented on #209
@feraguiba ok, I will rename this issue to add an auto restart feature in the future

[2019-11-17 14:25] andriusjakas opened #210 "Request log"
Would be nice to see incoming request log with headers

[2019-11-17 18:07] 255kb commented on #210
You can already access them by clicking on the "History" icon in the top right corner next to the "cog" icon 🙂

[2019-11-17 18:07] #210 closed

[2019-11-19 01:08] ghost opened #211 "Add reverse proxy per route as well as static files server"
**Is your feature request related to a problem? Please describe.**

I am trying to use mockoon as a server to host my static files server as well as being able to reverse proxy per route.  for example when developing locally I'd like to be able to reverse proxy to one or more of the microservices running locally but also reverse proxy to the dev api layer which hosts the bulk of the services

**De

[2019-11-19 01:25] gabrielperes97 commented on #211
I like the proxy per route idea. I work with microservices with an API Gateway and I think this is missing on mockoon.

I think [fast-proxy](https://www.npmjs.com/package/fast-proxy) can help us on this feature, but I not test it with express yet.

[2019-11-19 09:44] 255kb opened #212 "Play migrations when importing"
**Is your feature request related to a problem? Please describe.**
Exported data is linked to app version. One export generated on one version cannot be imported on another.

**Describe the solution you'd like**
Any export should be importable in any more recent release. Stop relying on version check, and add migrations to data import.

[2019-11-19 21:04] #170 closed

[2019-11-20 14:11] lukewhiting opened #214 "JSON parsing not triggered if charset specified in header"
**Describe the bug**
If the `Content-Type` header contains a charset parameter (Which is a valid form of this header according to MDN: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type) as per the following example: `Content-type: application/json;charset=UTF-8` then JSON parsing does not appear to be triggered and body path rules fail to match

**To Reproduce**
Create the fol

[2019-11-21 10:46] rogeriocsilva opened #215 "Remove version from export/import environments"
**Describe the bug**
Just had a colleague doing a fresh install, and when importing my environment it'd get an error saying "data was not compatible with it version"

**Expected behavior**
Just remove the app version when not needed, since it to work, it had to change the file version to the app version

**Screenshots**
![image](https://user-images.githubusercontent.com/10121694/69331070-0e964b80-

[2019-11-21 20:56] 255kb commented on #215
Indeed, you can just change the version, but the import won't play the migrations on the data (code is quite old now).
It will solve your specific problem without major error because migration between 1.5.1 and 1.6.0 was small.

But we need to both get rid of the version check and play the migrations during an import. This is already covered by #212 and planned for next release.
So I will close th

[2019-11-21 20:56] #215 closed

[2019-11-22 11:16] rogeriocsilva commented on #215
I also had a problem with this approach. When importing an environment json from the 1.5.1 version to the 1.6.0, all my requests where getting CORS problems. I tried tweaking the cors settings again, but nothign seem to work, forcing both me and my teammate to install the 1.5.1 version.

[2019-11-22 11:36] 255kb commented on #215
This is strange. The only difference are migration played or not. And no migration concerned CORS.

[2019-11-24 22:30] jadenrogers commented on #191
Allow multiple lines on the "Add notes or documentation"

Currently hitting "Enter" does nothing. It would be great to be able to put enters where required for easier reading / improved formatting.

![image](https://user-images.githubusercontent.com/8000621/69502679-c68e6600-0f76-11ea-99d0-033a36e91162.png)

[2019-11-25 09:17] TMUNYU commented on #203
I can confirm now that this issue is fixed @255kb. Have been it for a week now with no issues on version 1.6.0

[2019-11-25 11:28] rogeriocsilva commented on #215
Don't know, I could try again and submit a new issue if you want.

[2019-11-25 20:23] 255kb commented on #203
Thank you for testing @TMUNYU

[2019-11-25 20:23] #203 closed

[2019-11-26 14:10] aantoniv commented on #191
## Idea 5 - Add "Notes or Description" to each response in route ##

Currently each response contains only Status Code and Incremented number(1,2,3,4...) in list per each response. I would like to have a possibility to define different notes per each response and be able to see it in that list (near status code and default response flag)

![image](https://user-images.githubusercontent.com/21062077

[2019-11-27 04:09] goldenlove commented on #214
same problem here !

**Mockoon version:**
1.6
**OS / OS version:**
macOS Catalina

[2019-11-27 11:42] rogeriocsilva opened #216 "Export data without UUIDs"
**Describe the bug**
Everytime someone makes changes on the environment, the endpoints uuid change. This results in unnecessary merge conflicts on the environment json. And with these merge conflits, comes the "file content has an incorrect format and cannot be imported" error.

**Screenshots**
![image](https://user-images.githubusercontent.com/10121694/69720317-426ce780-110a-11ea-81d3-890e199b2ec

[2019-11-28 15:47] 255kb opened #217 "On second start application wipe the environments data"
**Describe the bug**
On the first start (fresh installation), `lastMigration` setting is saved at 0. On second start something happens that reset the environments, and settings `lastMigration` then shows the latest migration number.
--> All migrations are played on an already migrated environment

**To Reproduce**
1. fresh install
2. modify default demo env or create new ones. Wait a little bit fo

[2019-11-28 20:32] 255kb commented on #217
Solution:
- Remove lastMigration from settings
- create a migration to add lastMigration property to each environment
- app version update: check at runtime if each environment needs to be migrated

[2019-11-29 14:41] davifo commented on #191
Signed!

[2019-11-30 21:37] #217 closed

[2019-11-30 21:46] 255kb opened #218 "Check if data version (migration) is compatible with app version"
**Is your feature request related to a problem? Please describe.**
Application may crash if a user install an older version, because data were migrated by more recent version. i.e. a property could be missing on an object.

**Describe the solution you'd like**
App should detect if lastmigration played on an environment is higher than the highest one available in the app version, this indicating a

[2019-12-02 12:34] 255kb commented on #133
This is apparently not supported by electron builder. But another auto-update feature has been implemented by them and could be used.
FWIW Mockoon is now available on Snap.

[2019-12-02 12:34] #133 closed

[2019-12-03 18:48] djlawhead opened #220 "Terminal client"
When developing and debugging my software inside a Docker container, it would be nice to be able to include Mockoon in the Dockerfile. That way I can have my debugger automatically launch Mockoon, import environment JSON file(s), and run the server.

A terminal client would be ideal, built without any dependencies on graphical UI libraries. That way I can have Mockoon be part of my dev container.

[2019-12-03 21:28] #218 closed

[2019-12-04 10:47] alvinchristian7 opened #221 "Global rules for all responses"
i want to be able to make global rules that applies to all responses for that environment (eg. access_token in request header must be equal and exist). would be nice, thx bro

[2019-12-05 08:27] 255kb commented on #216
I realize now that exporting with UUIDs doesn't make sense. They need to be unique on one installation, otherwise UI will behave inconsistently. But it's enough to generate them on import, and export without them. I will include this in v1.7.0 as it is a small change.

[2019-12-05 23:50] cw1998 commented on #214
Also a blocker for me when using Rules in Mockoon.
Tools like axios seem to set `Content-Type: application/json;charset=UTF-8` for JSON bodies.

[2019-12-09 09:25] LukaszGrela opened #222 "Fail to import environment JSON file"
**Describe the bug**
After recent app update I can't import my environment JSON file, I receive:

![image](https://user-images.githubusercontent.com/7643591/70423483-7a0e5480-1a65-11ea-80c1-bbe861bd0784.png)

an incompatibility issue!

**To Reproduce**
Try to load JSON file saved with previous version of the app

**Expected behavior**
Be able to load that file (all differences resolved by the app

[2019-12-09 09:26] LukaszGrela commented on #222
https://github.com/mockoon/mockoon/releases/tag/v1.6.0 doesnt contain information about breaking changes

[2019-12-09 09:44] LukaszGrela commented on #212
Relates to https://github.com/mockoon/mockoon/issues/222

I would say that it is a bug fix not an enhancement as it literally breaks the app usage.

[2019-12-09 11:37] 255kb commented on #222
hi,
unfortunately, import/export has never been design to work across different versions. It was done a long time ago, and I didn't thought this through...
I will publish a release in the coming days (work is nearly finished) with #212 which will solve this problem.
Exported files will be compatible with more recent versions and automatically migrated. And older version will be supported too.

Clo

[2019-12-09 11:37] #222 closed

[2019-12-09 11:39] 255kb commented on #212
This system was done like this on purpose (obviously it was a mistake...) so it's not a bug it's a feature :cry:
I will still change the label :+1:

[2019-12-11 13:35] maurjiu opened #224 "Add title for response"
When many requests are not convenient to switch between them. It is not clear what the request is. I think if you add a title for each request, it will be correct
![image](https://user-images.githubusercontent.com/3192382/70625107-26edfa80-1c3b-11ea-88c4-3e413d2a9a76.png)

[2019-12-11 13:51] jufis opened #225 "Allow scrolling in routes pane with arrow keys"
We cannot resize routes pane, so we cannot see from a quick look where is a specific route to make changes and we have to go through each one.

UP/DOWN keys are not working when you try to scroll down routes as well.

MAC OS v1.6.0

![image](https://user-images.githubusercontent.com/8059283/70626944-feabcf00-1c2d-11ea-94d8-123adf76592b.png)

[2019-12-11 13:54] jufis commented on #191
Resize Route and Env Panes?

[2019-12-11 14:01] johnwest80 opened #226 "Add setting "Truncate route name in list". When true, the current truncated route display will be used, but when false, the full route will be displayed as wrapped text"
Add setting "Truncate route name in list".  When true, the current truncated route display will be used, but when false, the full route will be displayed as wrapped text.

Current
![image](https://user-images.githubusercontent.com/1585088/70627748-c340de80-1bf4-11ea-9ffc-067453cfeedc.png)

Proposed via setting
![image](https://user-images.githubusercontent.com/1585088/70627775-cdfb7380-1bf4-11ea-9

[2019-12-11 14:01] johnwest80 commented on #226
I'd be glad to work on it.

[2019-12-11 14:30] johnwest80 commented on #226
actually, i already have it done :).  can i pr it?

![image](https://user-images.githubusercontent.com/1585088/70630005-d81f7100-1bf8-11ea-9c79-56e04702af53.png)

[2019-12-11 15:23] johnwest80 commented on #226
Went ahead and created the pr :)

https://github.com/mockoon/mockoon/pull/227

[2019-12-11 19:59] 255kb commented on #224
This is done already and ready to be shipped in v1.7.0 in the coming days, see #213

[2019-12-11 19:59] #224 closed

[2019-12-11 20:13] 255kb commented on #225
Route pane resize is already covered in an existing issue #104, so I will rename the current issue to only talk about arrow navigation.

[2019-12-11 20:15] 255kb commented on #191
@jufis an issue already exists for route pane resize #104
Env pane resize / collapse is already under development #204

[2019-12-11 20:17] 255kb commented on #226
I saw ;) Thank you for the contribution
This is a good idea.
I won't be able to review your PR soon as I need to finish v1.7.0 and work on other PR first. But don't worry I will have a look at it as soon as possible.

[2019-12-11 21:10] #212 closed

[2019-12-11 21:10] #102 closed

[2019-12-11 21:10] #216 closed

[2019-12-11 21:11] 255kb commented on #134
Will resolve this by adding keyboards shortcuts to the menu, for now.

[2019-12-11 21:20] #214 closed

[2019-12-11 21:29] #134 closed

[2019-12-11 21:37] #184 closed

[2019-12-12 21:28] 255kb opened #228 "v1.7.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows binary
- [x] Build Linux binaries (deb, rpm, snap, AppImage)
- [x] Build OSX binary (dmg)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2019-12-14 19:52] aantoniv commented on #191
![image](https://user-images.githubusercontent.com/21062077/70853789-311a2e00-1eb3-11ea-8742-cc9decfc9825.png)

It is awesome to have a possibility to add Notes per each response (Thanks!) , but is it possible to make dropdown list(spinner) wider, or make it wider by default? Then it will be possible to see longer note(description) before user selects it. Thanks!

[2019-12-14 20:12] aantoniv commented on #191
And one more improvement which I find useful is to create a possibility to duplicate response
![image](https://user-images.githubusercontent.com/21062077/70854008-447ac880-1eb6-11ea-89f8-f9c3295ea070.png)
, same way as existing "Duplicate route" works.
![image](https://user-images.githubusercontent.com/21062077/70853992-10070c80-1eb6-11ea-9d8f-3a1cfed55437.png)
At least in my projects I see it use

[2019-12-14 20:27] aantoniv commented on #191
## IMPORT/EXPORT selected environment ONLY
I know there is possibility, to  "copy to clipboard" environment, but it would be nice to have an import/export menu option for only selected environment (or environments) ![image](https://user-images.githubusercontent.com/21062077/70854140-e7801200-1eb7-11ea-8291-784f41438a3b.png)

[2019-12-16 07:39] #228 closed

[2019-12-16 22:01] aantoniv commented on #191
##Idea 9 -  "Ignore rules and default response, return selected response instead"
Currently there is a possibility to set response as a default (by dragging item in the responses list), but I see very useful option to "Ignore rules and default response", and return currently selected response from requested route.

Usage example:
I have a lot of different responses from one route, but each respons

[2019-12-18 02:21] usrbowe opened #229 "When I create route from Env. Log the route will never return response"
**Describe the bug**
Requesting mock route, never resolves. Keep waiting for response. If I create same route manually it works well.

**To Reproduce**
1. Turn On proxy mod
2. Wait for real request to be logged in Environmental Log
3. Create a mock route from env. log
4. Try to request the mocked route
5. It just keeps waiting for response, never resolves.

**Expected behaviour**
When request the

[2019-12-20 14:58] fsalata commented on #86
Any update on this?

[2019-12-20 19:24] 255kb commented on #86
@fsalata I finished the import part, I must now write the tests and the export (which will be quicker). But I have limited time to work on Mockoon (it's a side project), and reviewing contributions, answering messages, etc is already taking a lot of time!
I hope you understand :)
But it will definitely be in the next version.

[2019-12-26 10:01] iandian opened #230 "add api to get environment logs"
When I used api with dynamic response, I want to get the environment logs of current environment by api, so i can get the api response of last api call and use it to dynamic verify in my UT.

[2019-12-27 16:38] abiodunjames commented on #136
@255kb I would like to pick this. Is that fine for you?

[2019-12-27 17:04] 255kb commented on #136
Sure @abiodunjames
Solution shouldn't be very complicated I think.
Just be careful when handling 404 with ExpressJS, that the proxy mode (and other things) still works. There are tests but not everything is covered yet. So we still need to be careful and test a lot 🙂
And if you can add tests also it would be great (we only add automated tests for now, you can see examples in test folder)
Thank you

[2020-01-03 06:25] zskamljic commented on #191
## Idea 10 - Show errors in body if applicable
Currently it's possible that you edit the body of the response which is for example JSON, forgetting a comma when adding a property will not immediately make it obvious that the body is not valid and when making a request to the endpoint it will instead return empty body, showing a small banner that's easily missed, resulting in some lost time, since

[2020-01-05 21:15] 255kb opened #233 "Native "action" menu actions can crash when no active environment / incompatible environment"
Action menu actions need to check if an active menu / route exists (no empty environment, no empty routes)

[2020-01-05 22:03] #173 closed

[2020-01-06 08:40] sleepypikachu opened #235 "Add cookie to dummy helpers"
**Is your feature request related to a problem? Please describe.**
I wanted to use a value from a cookie in my response but the cookie header is formatted and may contain multiple cookies so I can't trivially pull the value of a given cookie key.

**Describe the solution you'd like**
I'm proposing to add `cookie key default` to the dummy helpers

[2020-01-06 08:40] sleepypikachu commented on #235
I'd like to work on this issue please.

[2020-01-06 10:40] 255kb commented on #235
Hi @sleepypikachu
Good idea. You can definitely work on this, any help is really appreciated :)
This should be a small addition and I have no specific advice to give you. You can probably base your helper on `header` helper or something like this.

[2020-01-06 11:06] sleepypikachu commented on #235
Thanks, @255kb.

There don't seem to be any tests which cover the helpers. Do you think it's worth adding tests to cover them? Where would those tests live?

[2020-01-06 20:38] 255kb commented on #235
Yes for now there are no unit tests, only functional tests (automated UI tests with Spectron). I will probably add a test suite for templating helpers soon. So it's ok if you don't add them.
Thank you for the PR, I will review ASAP 👍

[2020-01-07 10:34] 255kb opened #237 "Add option to prevent API prefix to be forwarded to proxied server"
**Is your feature request related to a problem? Please describe.**
When setting up an API prefix, it is forwarded as is to the proxied route.
It can make sense that requests are proxied without the API prefix.

Example:
1. `localhost:3000/myprefix` is declared in Mockoon, with no route, and proxy mode active (set to `http://localhost: 3010/`)
2. when calling `localhost:3000/myprefix/foo` it is for

[2020-01-07 12:52] 255kb opened #238 "Environment logs entries icons are hidden when path is too long"
**Describe the bug**
Environment logs entries icons are hidden when path is too long

**To Reproduce**
Make requests on long paths.

**Expected behavior**
Icons shouldn't be hidden, text should be truncated

**Screenshots**
![Capture](https://user-images.githubusercontent.com/7489814/71896706-cd52f000-3154-11ea-8c5a-0679358413c6.PNG)

**Mockoon version:**
latest

**OS / OS version:**
all

[2020-01-08 11:39] feraguiba opened #239 "Duplicated route located after the original"
When you duplicate a route, it should be good to have the cloned one right after the original, not at the end of the list.

I use to organize the routes with the same path together, but when I duplicate a route I have to go down to the bottom of the list of routes and move it. It is tedious.

[2020-01-08 21:21] #233 closed

[2020-01-10 07:01] sleepypikachu commented on #235
I'll fix the linting tomorrow :-)

On January 6, 2020 8:38:07 PM Guillaume <notifications@github.com> wrote:

[2020-01-11 03:18] morgen-peschke commented on #191
## Idea 11 - Send out bad JSON

Currently, if the JSON is bad, it's replaced by some placeholder text and a notification, but not much visibility into the broken JSON.

If this were instead sent out in the response body, it could be shown in the endpoint logs, which would greatly help debugging (particularly where templates are involved).

As a bonus, sometimes it's actually useful to send your en

[2020-01-12 10:17] #226 closed

[2020-01-14 05:42] 403605209 opened #241 "Can you import mockjs rules?"
link => [Mockjs](http://mockjs.com/examples.html)

I would like some chinese text name .etc

[2020-01-14 20:42] #235 closed

[2020-01-15 12:04] 255kb commented on #92
@tiagoppinho @instalab Is this still an issue with latest version (1.7.0)?

[2020-01-15 12:17] 255kb commented on #145
There is currently no plan to transform Mockoon in a full API design tool like Apicurio or Stoplight are doing. It's a lot of work and I think goes in a very different direction (quick prototyping / mocking vs complete API design with models, etc).
However, it will soon be compatible with [OpenAPI format (import/export)](#86), so it will be a complementary tool with API design services.

[2020-01-15 12:17] #145 closed

[2020-01-15 12:21] 255kb commented on #200
If I understand well, body content could be opened/shown by default?

[2020-01-15 12:29] Bulkinss commented on #200
Yes, opened by default.

ср, 15 янв. 2020 г., 14:21 Guillaume <notifications@github.com>:

[2020-01-15 12:40] 255kb commented on #241
Mockoon is currently using https://github.com/webroo/dummy-json and I am not sure integrating another JSON/JS mocking library is a good long term solution. Maybe one day I will migrate Mockoon to some more robust JSON mocking library but this is not at the top priority now.
Also internationalizing the mock JSON is a huge work that I won't be able to do.
You can still open some specific issues and

[2020-01-15 12:40] #241 closed

[2020-01-15 12:49] 255kb commented on #230
Could you please elaborate a little bit? What do you mean "by API"?
If I follow well: you have tests sending requests to Mockoon mocked APIs. And you want to verify the content of the responses sent by Mockoon.
Why don't you save the response during your test?
I am doing this in the IT tests here. You can see an example there: https://github.com/mockoon/mockoon/blob/master/test/basic-calls.spec.ts

[2020-01-15 13:19] 255kb commented on #208
Fact is, Dummy JSON is just a helper system based on handlebars and you can generate any content with it. I think you can also generate XML without any major problem (I will test).
I think the problem rather come from the entering request from which you need to parse XML body.
Helpers need to be able to find data in XML "path". Anyway, XML needs to be parsed to JS or JSON so we are able to find th

[2020-01-15 13:24] 255kb commented on #220
This has been requested before #62. I like the idea, a lot, but it would need to be a completely separated project, different distribution through NPM, build pipelines, etc. It's a lot of work and right now I just have enough time to improve Mockoon GUI.
I will reopen #62 to track people's interest, but it won't be on the roadmap any time soon.

[2020-01-15 13:24] #220 closed

[2020-01-15 13:25] 255kb commented on #62
I am reopening this feature request due to increased interest. However, due to the limited time I have to work on Mockoon this won't be done in a near future.

[2020-01-20 09:54] sleepypikachu commented on #239
@255kb happy for me to pick this one up?

[2020-01-20 09:57] 255kb commented on #239
@sleepypikachu Sure :)

[2020-01-20 11:38] sleepypikachu commented on #239
@255kb do you think the behaviour should be the same for duplicating environments or keep the old "add to the end of the list" behaviour?

[2020-01-20 11:46] 255kb commented on #239
@sleepypikachu Good question, this would make sense. Go for it! :+1:

[2020-01-20 21:31] 255kb commented on #229
@usrbowe I tested and I get a JSON parsing error due to the fact that the route is automatically created with a lower case "content-type". Apart from this bug I see no other problem.
Could you please check if it's the same bug and if not, give some sample data to allow me reproduce it?
Thank you

[2020-01-21 01:21] usrbowe commented on #229
Oh, headers might the issue. I'm not seeing any JSON error in Mockoon when request the route, it just stays at waiting for response. So can't confirm your case.

But I did notice I'm not able to remove any headers, when I delete them and switch tabs to response a go back to Headers, it shows the original again:
![Screen Recording 2020-01-21 at 09 16 AM](https://user-images.githubusercontent.com/53

[2020-01-21 15:47] wasder commented on #229
I recorded a video with this problem.
[](https://github.com/mockoon/mockoon/files/4091850/2020-01-21.18.35.30.zip)

[2020-01-23 08:25] mokkun commented on #175
I ran into this issue with Android; the system does not recognize the self-signed certificate as valid. It would be great if I could provide Mockoon an existent certificate, or if I could at least extract the certificate used by it, so I can add it to the list of trust.

[2020-01-24 12:15] 255kb commented on #16
Syncing on Mockoon's own servers is part of a long term plan which goal is to offer paid services (app will stay free and open source, but things that incur a cost like online sync will be paid). But this won't happen before a long time.

So, as a workaround, and also to offer more options, I suggest that I make sharing/syncing through Drive or Dropbox easier by allowing users to specify the folde

[2020-01-26 09:36] 255kb commented on #229
I watched the video, and I have to say, this is strange. What value do you have in the header `Access-control-allow-origin`? Could it be possible that it contains a special invisible character that crash the application?
Because not being able to delete the headers indicates that something went very wrong like JS crashing.

Could you please share with me your `environments.json` file located in Mo

[2020-01-26 13:15] instalab commented on #92
Sorry for taking ages to respond (wow, this is an old bug :P)
I just tested .AppImage on my ArchLinux and the 'resize' button seems to be working :+1:
The F11 is still not working for me, but it's not a big issue as I can just use the 'resize' button.

[2020-01-26 14:01] 255kb commented on #92
Thank you for your answer. Indeed it's an old bug 🙂

Apparently it was a problem with electron itself.
If you want to be able to use keyboard shortcuts to resize, feel free to open an issue.

[2020-01-26 14:01] #92 closed

[2020-01-27 08:34] easydo247 commented on #191
## Idea 12 - Change the way import from file works

If I import an API from JSON and then I modify it in Mockoon the imported file doesn't change. This makes versioning tedious and error prone.

[2020-01-27 12:24] wasder commented on #229
[code]
[code]

[2020-01-29 10:18] usrbowe opened #244 "Cached response - Etag, 304"
### Issue
I have setup simple mock route with response status: `200`. First request works as expected.
But for 2nd, 3rd,.. it will return `304` with cached response.
My guess is that Express do this by default, so if our request have:
 `If-None-Match: previous_value` it will resolve to `304`, even our mock route has set `200`.

This creates two issues:
1. Response status is no longer `200` as defi

[2020-02-03 02:33] usrbowe opened #245 "Domain replacement/removal for Set-Cookie header"
**Is your feature request related to a problem? Please describe.**
When I run a proxy mode in Mockoon, I'm facing issue with Cookies. In the original response, they have specific domain to be set on, so when my app connects via localhost, the domain will be different.

**Describe the solution you'd like**
I would like to have and option to `replace domain` for cookies, when running reverse proxy.

[2020-02-03 13:45] Kraloz commented on #191
Idea 13: Resizable columns in layout
![imagen](https://user-images.githubusercontent.com/20146634/73658044-4b31ea80-4672-11ea-842f-b1090a9f24ec.png)

[2020-02-03 14:35] Kraloz commented on #191
## Idea 14: Make upload file button more visible

I would move to the right of the path input, it isn't clear what the button does (add a label maybe?)
![imagen](https://user-images.githubusercontent.com/20146634/73661281-918a4800-4678-11ea-962d-ca34b7548067.png)

[2020-02-04 03:11] ishamf commented on #229
I think if there are multiple headers with the same name, it's not handled correctly. I did a quick fix in my fork here https://github.com/ishamf/mockoon/tree/fix-multi-cookies and seems to work now.

[2020-02-04 03:18] ishamf commented on #245
For removing domains, seems it's already a feature in the proxy library https://github.com/chimurai/http-proxy-middleware as `cookieDomainRewrite`. But to fully support this cookie I think the `Secure` option need to be removed too, otherwise it won't be sent to the (usually HTTP) proxy.

[2020-02-04 10:48] faebeee commented on #191
# Idea 15: Make Settings exportable
It would be great to export the settings for an API. So these settings can be added to a project/repo and shared with the team. So everyone can have the same mock API

[2020-02-04 11:20] #191 closed

[2020-02-04 11:21] 255kb opened #246 "Remove the top bar"
Remove the top bar which contains the "start" button, the environment name, the port, prefix, latency, logs and settings button.
This bar is scoped to the environment. All these things that are rarely modified could be moved in the environment settings page (the cog button) along with https and proxy settings.
Environment logs and settings are already accessible from right click menu on the enviro

[2020-02-04 11:23] 255kb opened #247 "Bigger button to return from environment logs"
Button to come back from environment logs could be more visible.

Starts to feel cramped once requests come in.
![image](https://user-images.githubusercontent.com/30437767/68595222-0594c580-0467-11ea-9ff2-b27e391eb6a3.png)

_Originally posted by @JoshMLeslie in https://github.com/mockoon/mockoon/issues/191#issuecomment-552471138_

[2020-02-04 11:23] 255kb opened #248 "Allow multiple lines on the "Add notes or documentation""
Currently hitting "Enter" does nothing. It would be great to be able to put enters where required for easier reading / improved formatting.

![image](https://user-images.githubusercontent.com/8000621/69502679-c68e6600-0f76-11ea-99d0-033a36e91162.png)

_Originally posted by @jadenrogers in https://github.com/mockoon/mockoon/issues/191#issuecomment-557934844_

[2020-02-04 11:25] 255kb opened #249 "Increase responses dropdown list width"
![image](https://user-images.githubusercontent.com/21062077/70853789-311a2e00-1eb3-11ea-8742-cc9decfc9825.png)

It is awesome to have a possibility to add Notes per each response (Thanks!) , but is it possible to make dropdown list(spinner) width editable, or make it wider by default? Then it will be possible to see longer note(description) before user selects it. Thanks!

_Originally posted by @a

[2020-02-04 11:26] 255kb opened #250 "Allow duplication of route responses"
And one more improvement which I find useful is to create a possibility to duplicate response
![image](https://user-images.githubusercontent.com/21062077/70854008-447ac880-1eb6-11ea-89f8-f9c3295ea070.png)
, same way as existing "Duplicate route" works.
![image](https://user-images.githubusercontent.com/21062077/70853992-10070c80-1eb6-11ea-9d8f-3a1cfed55437.png)
At least in my projects I see it use

[2020-02-04 11:26] 255kb opened #251 "Import/export selected environment only"
I know there is possibility, to  "copy to clipboard" environment, but it would be nice to have an import/export menu option for only selected environment (or environments) ![image](https://user-images.githubusercontent.com/21062077/70854140-e7801200-1eb7-11ea-8291-784f41438a3b.png)

_Originally posted by @aantoniv in https://github.com/mockoon/mockoon/issues/191#issuecomment-565750491_

[2020-02-04 11:27] 255kb opened #252 "Ignore rules and default response, return selected response instead"
**Is your feature request related to a problem? Please describe.**
-Setting the default route response when no rules are matched is not straightforward. A drag and drop is needed to move it to the top of the dropdown
- There is no way to force Mockoon to select a route response without interpreting the rules. This response could also be different from the default one.

**Describe the solution you'

[2020-02-04 11:41] 255kb opened #253 "Improve JSON errors feedback"
**Is your feature request related to a problem? Please describe.**
When there is an error in the JSON body, there is only a small alert displayed when route is getting called. There is no information on the line which is erroneous.
Editor should be able to highlight the erroneous light, which is the case. But it does not play well with the templating which can break the JSON, especially helpers li

[2020-02-04 11:42] 255kb opened #254 "Make upload file button more visible"
I would move it to the right of the path input, it isn't clear what the button does (add a label maybe?)
![imagen](https://user-images.githubusercontent.com/20146634/73661281-918a4800-4678-11ea-962d-ca34b7548067.png)

_Originally posted by @Kraloz in https://github.com/mockoon/mockoon/issues/191#issuecomment-581443362_

[2020-02-04 11:51] 255kb commented on #191
I am now closing this issue. Thank you for all your suggestions! While not all of them where UI I noted everything or answer below:

Idea 1 -> #246
Idea 2 -> #104
Idea 3 -> #247
Idea 4 -> #248
Idea 5 -> done in v1.7.0
Idea 6 -> #249
Idea 7 -> #250
Idea 8 -> #251
Idea 9 -> #252
Ideas 10 and 11 -> regrouped in #253 (this is a bigger problem and requires some work)
Idea 12: This won't be done. Import

[2020-02-05 09:08] makareth opened #255 "Add, in "Rules" configuration, a way for testing against empty arrays or absent fields in a JSON payload"
Currently (1.6.0), the "Rules" configuration allows for testing equalities but doesn't allow to test empty arrays or absent fields in a given JSON object.

I wish I could for example send an HTTP 200 instead of a HTTP 201 created in a POST coming with an empty array, hence having nothing to be created.

A first discussion with @255kb here for implementors :
"Question is more : how to represent an

[2020-02-07 03:14] DophinL opened #256 "bind environment with files"
**Is your feature request related to a problem? Please describe.**
I want to share environment with colleague.
Now, I just can export environment to others.
But when a new api added, I need to export again.

**Describe the solution you'd like**
Can you bind environment with local files, and sync them.
If so, I could store environment data in git to share with others.

**Describe alternatives you'v

[2020-02-07 03:15] DophinL opened #257 "add api search feature"
**Is your feature request related to a problem? Please describe.**
if I have over 100 api, find one is difficult.

**Describe the solution you'd like**
can you add search feature to search apis?

**Describe alternatives you've considered**

**Additional context**

[2020-02-17 08:57] wasder commented on #229
@ishamf
Can you build it for MacOS, so I can test it, please?

[2020-02-18 13:11] deciomontanhani commented on #257
I'm facing this issue as well. Some tags to categorize by features would be nice.

[2020-02-20 23:42] morgen-peschke commented on #253
An additional ask would be to, if possible, allow bad JSON as the response.

This is useful on two fronts:
1. It makes it so that there's always a way to see what the templating produced (even if it ends up breaking the JSON)
2. It provides an easy way to test if a flow can handle a broken response mid-way through a flow.

[2020-02-27 15:07] Eido95 opened #258 "Empty reply from server for long latency request (> 2 mins)"
**Describe the bug**
Server closes connection (with empty reply) when request reaching 2 mins latency, even though route latency was set to be **above** 2 minutes.

**To Reproduce**
* No special configurations were set.
1. Go to "Demo users API" environment
2. Select `/users` `GET` route, set route specific latency to be 2 minutes and 30 seconds (=150000 milliseconds).
3. Start server.
4. Send `GE

[2020-02-28 10:46] sotcha opened #259 "Wrong response selection when a rule with regexp exist"
**Describe the bug**
If I have 2 responses into a route and one of them contains a rule with regexp, then in some cases selects the wrong reponse.

**To Reproduce**
Steps to reproduce the behavior.
/!\ Please include the environment / route configuration you are using if you can (route, response type, headers, body, etc)

1. Create a route with 2 responses
2. Two the second add a rule with a regex

[2020-02-28 10:54] sotcha commented on #259
Seems that adding into _response-rules-interpreter.ts:46_

`if (value === undefined) return false;`

before the regex solves the problem

[2020-02-29 09:08] taranvohra commented on #253
I just spent good amount of time figuring out why my JSON is incorrect. At last I used a JSON linter. Can we add something like [https://www.npmjs.com/package/jsonlint-mod](url) It can be used to lint when `Format body` is clicked?

[2020-02-29 23:13] sotcha commented on #238
Hei @255kb , can I submit a PR for this issue? I can see that is already assigned, but I have already a fix.

[2020-03-01 08:52] 255kb commented on #238
Hi @sotcha Sure you can!

[2020-03-02 10:31] 255kb commented on #259
Nice catch and thank you for the investigation! It seems that I didn't account for undefined values. I will plan the fix for next iteration.

[2020-03-02 10:37] 255kb commented on #253
@taranvohra body editor already includes a JSON linter. But it's deactivated for now as some templating helpers (`{{#repeat ...}}`) may not result in valid JSON.
That's the reason why I would like to switch to another templating system which has a JSON valid syntax. Something like:

[code]

Anyway, I am open to any suggestion to improve the current system. Also, I prefer to rewrite the whole syste

[2020-03-04 09:33] sotcha commented on #104
Hi, I have a close to final implementation for this feature. Do you want to get a PR for this ?

[2020-03-04 09:44] 255kb commented on #104
Hi @sotcha . All contributions are welcome!
However, I would like to discuss the implementation with you first. How do you plan to do this? Like a traditional resize (mouse click on the border, hold, move, release click)? As it may leads to lots of repaint, because of column resize, how are the performances?
Also, On the master branch (upcoming version), I worked on a collapsible environments menu

[2020-03-04 10:31] sotcha commented on #104
Hi @255kb , yes I forked from the master branch.

Well, I created a directive which works (as you described like the traditional resize) :

- Start when onMouseClick on the directive
- Register _mousemove_ and _mouseup_ listener on the body
- Release on mouse up

The performance seems to be OK, at least on my laptop.

I have a draft commit here :
https://github.com/sotcha/mockoon/tree/feature/allo

[2020-03-04 21:25] WSTurner commented on #201
I would love this enhancement.

[2020-03-04 22:11] mackelito commented on #86
I just found this project and just wanted to say how nice it is!
Keep up the good work! If I'm ever in Luxembourg I'll buy you a 🍺! 😄

[2020-03-05 09:57] 255kb commented on #104
This looks great! Feel free to open the PR. I will try to review it in the coming days/weeks. Anyway, it can make it for the next release. I have still things I am working on and bugs I want to solve for 1.8.0.

[2020-03-05 11:40] 255kb commented on #86
@mackelito thanks for the kind words! :smile:
This feature is definitely coming for v1.8.0, which will be quite a big release.
Everything took more time than planned and the time I could spend on the project was scarcer during the last months...

[2020-03-06 10:24] zhoucm666 opened #261 "return 504(Gateway timeout)"
return 504(Gateway timeout) when use proxy to real resource server with self signature cert.

[2020-03-06 10:32] 255kb commented on #261
I am closing this in favor of #175 which would solve your problem.

[2020-03-06 10:32] #261 closed

[2020-03-06 14:19] 255kb commented on #258
This seems linked to NodeJS timeout which is set to 2 minutes by default.
https://stackoverflow.com/questions/21708208/express-js-response-timeout

[2020-03-06 14:24] 255kb commented on #256
This will be dealt with soon with this issue: #16
Idea is to let users configure the data storage folder so they can easily use a git repository in order to share the APIs.

[2020-03-06 14:24] #256 closed

[2020-03-06 14:36] 255kb opened #262 "Add logs system"
**Is your feature request related to a problem? Please describe.**
Nothing is logged yet, not in files nor in console which makes debugging harder in production environment.

**Describe the solution you'd like**
We need to log major events in the application and especially results of parsing, imports, etc

[2020-03-07 22:01] #86 closed

[2020-03-08 08:54] sotcha commented on #104
Hi @255kb , what do you think about adding the same functionality into the environment logs column.

Something like this
![image](https://user-images.githubusercontent.com/1183265/76159496-bff0bc80-6129-11ea-9920-02ca6554ab82.png)

Also as I can see into the description it is we would like to add a hover tooltip over the url name

![image](https://user-images.githubusercontent.com/1183265/76159580

[2020-03-08 18:55] 255kb commented on #104
I would say it's a great idea and I think it was requested already. If you don't mind, I would prefer that you open a new issue and PR so it's easier for me to test and review 🤗

[2020-03-09 20:11] #239 closed

[2020-03-09 20:44] #238 closed

[2020-03-10 08:35] wojczitsu opened #265 "Dynamic responses - queryParam - subscripts not working"
**Is your feature request related to a problem? Please describe.**
I'm using dynamic responses - `queryParam`. My url contains param like: `page[number]=` and I can't find a way to use it in dynamic responses. None of this works:
`{{queryParam 'page%5Bnumber%5D'}}
{{queryParam 'page[number]'}}
{{queryParam 'page.number'}}`

**Describe the solution you'd like**
When query contains `?page[number]=`

[2020-03-10 22:26] #136 closed

[2020-03-10 22:26] #244 closed

[2020-03-11 09:00] 255kb commented on #229
@wasder Didn't see that `set-cookie` header was an array. Indeed, header objects should be plain string.
@ishamf I think your fix is exactly what is needed here, I didn't realize that headers could contains arrays. Would you mind opening a PR for this? If you don't have time I can copy your fix. Let me know.

[2020-03-13 20:57] #200 closed

[2020-03-13 21:05] #258 closed

[2020-03-13 21:17] #259 closed

[2020-03-14 12:11] Eido95 commented on #258
@255kb thank you for your input, does this bug have been fixed?

[2020-03-14 12:59] 255kb commented on #258
@Eido95 It's fixed and will be released soon in v1.8.0. Expect it in the coming month. I still have some important things to add to this release.

[2020-03-15 20:55] #262 closed

[2020-03-15 22:46] 255kb commented on #229
I was able to reproduce the bug, it's corrected and will be in v1.8.0

[2020-03-16 11:47] Royscw opened #267 "Extend environment log to x entries, it is too small! Add option to export environment log to file for inspection."
I'm having an asynchronous process call back to the Mockoon service. Inspecting these messages is time consuming from the server logs on the service calling Mockoon.

Ideally we would have a configurable environment log size so optionally a large number of entries is retained. i.e. default 60, max 1028 entries in the environment log.

I'm looking to have these exported to file for inspection at a

[2020-03-16 20:28] #229 closed

[2020-03-16 21:19] 255kb commented on #122
Tested with a 350 000 lines file with 233 333 `body` template helpers. A call uses around 4Gb of ram and takes 40 seconds to execute. Apparently there is a memory leak in Dummy-json (or handlebars?). Replacing by a simple regex reduces memory usage to less than 100Mb with 500ms execution time.

This probably needs to be tackled together with #253 which plan to change the templating engine to somet

[2020-03-17 10:38] LukaszGrela opened #268 "Response list - change default response"
**Is your feature request related to a problem? Please describe.**
I need a response 200 and error with different bodies. I can create 2 separate ones but first is always default. I can add a rule to switch to another response but I would like to just switch manually which is default as there is no rule I could use to turn it on automatically.

**Describe the solution you'd like**
Checkbox that wi

[2020-03-17 10:41] 255kb commented on #268
You can drag and drop responses in the dropdown to make one or another the first (default) one. It's not really straightforward and will probably be replaced in the future by a checkbox. Tracked by this issue #252

[2020-03-17 10:41] #268 closed

[2020-03-17 10:42] LukaszGrela opened #269 "Random response"
**Is your feature request related to a problem? Please describe.**
It would be nice to prepare a set of responses and randomly select them

**Describe the solution you'd like**
rule "random" that can be selected

**Describe alternatives you've considered**
no alternatives

[2020-03-17 10:45] LukaszGrela commented on #268
I've just discovered this, it wasnt clear though:) at least to me.

[2020-03-17 12:20] 255kb commented on #268
Apparently it's not clear for many people so it will definitely change :)

[2020-03-18 02:36] jamescch commented on #201
Same for me. It would be much greater with this feature.

[2020-03-18 09:33] kstayner opened #270 "add status code 418"
**Is your feature request related to a problem? Please describe.**
It is not a problem or bug

**Describe the solution you'd like**
I want to perform a GET and have Mockoon respond with a status code 418

**Describe alternatives you've considered**
I tried to use another status code available in Mockoon, but without success

[2020-03-19 16:33] LukaszGrela opened #271 "Rule to match entire body (When body is not an object)"
**Describe the bug**
Rules for Body path (JSON / form data) doesnt work when body is just a string (not the object)

**To Reproduce**
request which body is just a string, try to apply rule that will match that string

**Expected behavior**
Option

**Screenshots**

![image](https://user-images.githubusercontent.com/7643591/77090500-249bf900-69ff-11ea-9294-5b64fdccfaa1.png)
![image](https://user-ima

[2020-03-19 17:44] ninjaneer164 commented on #252
hi @255kb , one of our teams needed the "ignore default response" feature, so i have that one covered. basically, if none of the responses match, ignore the default response, and instead switch to proxy mode. i realize that this is different from what this ticket is stating, but that's what our team needed, so that's what i have thus far.

i would love to be able to implement the rest of this tick

[2020-03-19 17:46] ninjaneer164 commented on #201
hi @255kb , one of our teams needed this feature recently, so i've made some changes. i would love to be able to create a PR for it. let me know!

[2020-03-19 20:11] 255kb commented on #252
Hi @ninjaneer164! of course any contribution is welcome but I would like to keep the scope of each ticket as small as possible. Also, contributions should be discussed in an issue first.
The reason is the following: Mockoon should stay simple and easy to use, which is not always easy with contributions that fulfill a very specific need. All requests and contributions may not be accepted and, they

[2020-03-19 20:17] 255kb commented on #201
@ninjaneer164 This would be great. I will assign the issue to you. Feel free to open the PR as early as possible so we can start discussing the implementation if needed. And remember, DRY, KISS, etc 😸

[2020-03-20 05:29] orteney opened #272 ""+ Add Response" by copy existing response"
My one commonly used use case is clone one of defined response with minor changes in response body.
Now I have to create a new response, copy-paste the body and headers from the clonable one.

[2020-03-20 06:43] 255kb commented on #272
This is a duplicate of #250

[2020-03-20 06:43] #272 closed

[2020-03-21 21:49] neonomaly opened #274 "Console mode"
Hi!

It would be awesome if it would be possible to start mockoon in console-mode with argument to json file with settings. Like jmeter. May be it is possible now and I missed it? Thank!

[2020-03-22 08:24] 255kb commented on #274
Hi, this is a duplicate of #62
I let you react there :)

[2020-03-22 08:24] #274 closed

[2020-03-23 15:48] zalizko commented on #141
I didn't found more suitable issue maybe, but is there is possible to customize host?

[2020-03-23 16:04] 255kb commented on #141
@zalizko Indeed, this question is not related to this issue, please use the [community chat](https://spectrum.chat/mockoon) for all general questions or help requests not directly related to a Github issue 👍
Concerning your question, the host cannot be customized yet. Mockoon already listens to most local adapters so your mock server is available on localhost, 127.0.0.1, 192.168.x.x, etc
Concernin

[2020-03-26 21:23] 255kb opened #275 "Update dependencies, review imports, add missing types"

[2020-03-26 21:30] makareth opened #276 "Templating : allow for getting the whole request body"
**What the problem is ?**
I need to echo the body received by Mockoon in a request, straight into to the body of an HTTP 201 CREATED response. This would be useful to simulate the persistance of en entity in a REST API for example.

**What I'd like ?**
So far, the documentation states that :
"body 'path' 'default value'" is a supported helper.

I'd be happy to be able to use a plain {{body}} for e

[2020-03-29 20:15] sotcha commented on #257
Hi @255kb Can I help with this? Seems a really nice feature.

[2020-03-30 09:45] 255kb opened #277 "Reduce analytics events sent to GA"
App is sending too many events to GA which is reaching the free tier limit (10 millions).
Remove some useless events, and reduce number of some events sent.

[2020-03-30 18:54] ninjaneer164 opened #278 "When no response match is found, Ignore default response, and use proxy"
**Is your feature request related to a problem? Please describe.**
Scenario: I have a partially functioning graphql server, and I need to mock a small set of graphql responses. I set up a few responses with rules, which is fine, but I also want to be able to call the actual graphql server if none of the responses match.

In current implementation, if no response match is found, it picks the first

[2020-03-30 19:03] ninjaneer164 commented on #252
@255kb done - https://github.com/mockoon/mockoon/issues/278

[2020-03-30 21:14] #275 closed

[2020-03-30 21:14] #277 closed

[2020-03-31 19:25] 255kb opened #279 "v1.8.0 checklist"
- [x] Bump app version

**Builds:**
- [x] Build and sign Windows binary
- [x] Build Linux binaries (deb, rpm, snap, AppImage)
- [x] Build OSX binary (dmg)

**Tests:**
- [x] Test Windows binary
- [x] Test Linux binary(ies)
- [x] Test OSX binary

**Release:**
- [x] Create release on repository with correct version and tag
- [x] Add Windows binaries to release
- [x] Add Linux binaries to release
- [x

[2020-04-01 08:49] 403605209 opened #280 "Please add mockjs"
Please add [mockjs](https://github.com/nuysoft/Mock/tree/refactoring)
It's not difficult

[2020-04-01 08:49] 403605209 opened #281 "Please add mockjs"
Please add [mockjs](https://github.com/nuysoft/Mock/tree/refactoring)
It's not difficult

[2020-04-01 09:19] #281 closed

[2020-04-01 09:23] 255kb commented on #280
Hi, you already requested this: https://github.com/mockoon/mockoon/issues/241
It's not a matter of "difficult or not", it requires fundamental changes in how Mockoon works. It's not a drop-in replacement of the current templating system, it needs a new one as it is based on JS (current solution is based on handlebars and plays well with JSON).

Also next time I would kindly ask you to open issues

[2020-04-01 09:23] #280 closed

[2020-04-01 09:30] 403605209 commented on #280
I understand, Can't generate Chinese data well at present

[2020-04-01 09:53] vyomanaut opened #282 "unable to add XML/Soap based rules"
I had read somewhere in the official community page that XML rules can be enabled, but I am unable to find how.

[2020-04-04 07:50] #142 closed

[2020-04-04 07:50] #141 closed

[2020-04-04 08:19] 255kb commented on #282
I think this is a duplicate of #208 where someone proposed a workaround to support XML. Depending on the interest, it could be implemented soon

[2020-04-04 08:19] #282 closed

[2020-04-04 08:33] #249 closed

[2020-04-04 08:33] #270 closed

[2020-04-07 08:28] 255kb commented on #174
This seems to be ok on Ubuntu when installing Snaps. Some Electron Builder linux specific settings were added but it may not be enough.

[2020-04-07 08:28] #174 closed

[2020-04-14 14:41] 255kb opened #283 "Fix race condition in environments migration"
**Describe the bug**
When migrating environments to 1.7.0, migration system changed and last migration id info is moved from settings file to each environment.
Migration service read from the settings service the last migration stored in the settings file, but sometimes, settings service didn't have time to populate this information. The migration service needs to wait on the settings service.

**

[2020-04-14 19:37] #283 closed

[2020-04-16 23:12] jotitajc opened #284 "when i put the following rule object.object = null never response the data i have set for this rule"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.
/!\ Please include the environment / route configuration you are using if you can (route, response type, headers, body, etc)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2020-04-17 09:42] #279 closed

[2020-04-20 09:15] 255kb opened #285 "Dummy JSON parse error when app is packaged"
**Describe the bug**
`{"response": {{boolean}}}` crashes the Dummy JSON parsing when app is built in prod mode, not in development mode.

**To Reproduce**
Use `{"response": {{boolean}}}` as a body and call the endpoint in prod mode (packaged app, or with `npm run build:ci`). Mockoon returns a `[LIB][DUMMY] Error while parsing the template: Parse error on line 1: ...response": {{boolean}}}` error.

[2020-04-20 14:53] 255kb opened #286 "Auto Update: detect when download fail and show a link"
**Is your feature request related to a problem? Please describe.**
Currently, we use a custom implementation of auto update. It's able to download and run the new binary on Windows, but if it fails, nothing is shown.

**Describe the solution you'd like**
Detect when automatic download of binary failed, and show a message like on linux/macos

[2020-04-22 13:48] 255kb commented on #122
@sustepavkentico Could you please provide an example of the problematic JSON? I am benchmarking libraries and would need real world example if possible. Thank you!

[2020-04-22 20:00] 255kb commented on #257
@sotcha Sure you can. If possible, I would prefer to finish #264 with you as I also have some WIP on my side. I would like to avoid having too many things dealt with at once, as my time is quite limited :)

Concerning the implementation of this, I was thinking about a small search box (input) on the right of the + button that adds a route. Simply entering text in it would filter what is shown in t

[2020-04-23 00:05] Natetronn opened #287 "Open mock server in browser"
**Is your feature request related to a problem? Please describe.**
Please save us some typing by providing a link to the current mock server's url.

**Describe the solution you'd like**
 - For the main url perhaps put an icon to the left of the env log and env settings icons that opens its url in default browser when clicked. And or, in the right click menu for each environment a link to open it.

[2020-04-23 00:42] Natetronn commented on #287
Wow, crazy! I'm now seeing the open in new window icon on the right side of the route to open it in the browser. Either I'm blind (I looked over that whole area and even mentioned the exact two icons above it so, not sure how I could have missed it) or you just added this feature and updated a few minutes after I posted? Either way, that's awesome, thank you!

[2020-04-23 07:07] 255kb commented on #287
This icon was there on GET routes since the beginning 😄 I wish it was that simple to publish a new version 😭
I think you are right, having it greyed out when not available (environment not running or method != GET) would be better.
However, adding the same icon on "global" level does not make really sense to me. It's only a secondary feature that make sense on GET methods.

[2020-04-23 08:28] nirazul opened #288 "Support Import of Swagger/OpenAPI responses from schema or example"
**Is your feature request related to a problem? Please describe.**
Not sure if this already should work, but currently I'm unable to also import example response bodies for Swagger/OpenAPI

**Describe the solution you'd like**
After the import, example responses are displayed in the "Body" field

**Additional context**
I've tried to import an example response with the following JSON:

[code]

[2020-04-23 08:30] 255kb commented on #288
This is not supported yet in v1.8.0. It will in a near future as I already have a working POC locally.

[2020-04-23 08:34] nirazul commented on #288
Awesome, this would help tremendously! Looking forward to this feature!

[2020-04-23 18:54] Natetronn commented on #287
Thanks for the reply!

Now that I've spent more time thinking about it, I see what you're saying. Had there been a way to display some form of code directly at 0.0.0.0:3000 then it would have made sense but, since that's not the case it wouldn't be useful, you're right.

[2020-04-23 19:19] 255kb commented on #287
You can still, but you need to declare a route with no path, then it's available at localhost:3000/, but like this having two buttons is redundant too.

[2020-04-23 19:33] Natetronn opened #289 "Sidebar list of all template tags for inserting into code editor."
**Is your feature request related to a problem? Please describe.**
Remembering all the various template tags that are available can be difficult. To then find them we have to open a browser and go to the tutorials section and use the following tutorial:

https://mockoon.com/tutorial/dynamic-response-with-templating/

**Describe the solution you'd like**
I suggest bringing all said template tags an

[2020-04-23 20:00] Natetronn commented on #289
Another idea would be to borrow from Insomnia:

https://support.insomnia.rest/article/40-template-tags

![template tags](https://d33v4339jhl8k0.cloudfront.net/docs/assets/59e383122c7d3a40f0ed78e2/images/59e5265404286370e4dc6dae/file-sYPP3eAYjR.png)

Using a tag insert similar to this would be helpful on inputs. For example, for file input templating and headers templating tags.

[2020-04-23 20:05] Natetronn commented on #287
That makes sense, thank you!

[2020-04-23 20:10] Natetronn commented on #289
Note: I just noticed the info link that goes directly to template tags webpage. That's helpful. Although, not as "cool" as what I'm suggesting ;-)

Of course, "beggars can't be choosers" so, thanks for that!

[2020-04-23 20:45] 255kb opened #290 "Improve `body` helper for x-www-url-encoded data"
**Is your feature request related to a problem? Please describe.**
When POST data is sent with x-www-url-encoded content-type it's parsed in a very basic way. `body` helper can only access the first level of information. Improve parsing to allow arrays and objects.
Also correct tests.

[2020-04-23 21:07] 255kb opened #291 "Improve objects/arrays retrieving with templating body helper"
**Is your feature request related to a problem? Please describe.**
Currently trying to get an object from the request body result in [object Object] to be inserted in the response.

**Describe the solution you'd like**
Being able to get arrays or objects and insert them in the response

[2020-04-24 21:49] 255kb commented on #253
After reviewing a lot of templating engines it appears that none of them offer the simpleness and flexibility of Handlebars (which we use through Dummy JSON). Some of them are written in other languages and does not play well with JS/Electron out of the box. Also, they would introduce a big breaking change for the next version which I would try to avoid.
So I think that after all I will do some ch

[2020-04-26 04:16] jotitajc commented on #201
It would be good if this improvement closes, which makes the tool more powerful.

[2020-04-27 04:37] morgen-peschke commented on #253
Thanks for taking these on, I think these will really help debugging our templates :)

[2020-04-27 11:01] LidoDev opened #292 "Docker image for a created environment"
After fetching all the issues, i think there is no CLI feature to run a created environment.
The use case is to generate a docker image for the created environment and run it to mock a rest api web service.

Feature: generate a docker image or a war file or an executable file for a dedicated environment.

[2020-04-27 11:25] 255kb commented on #292
There is an open issue for a CLI version #62. It's not on the roadmap yet.
Concerning a Docker image it hasn't been asked before, I think it would first require the CLI to be available, then the Docker file would be easy to generate.

[2020-04-27 13:38] Maurice22 commented on #62
Hi @255kb, I wrote a rudimentary CLI wrapper for executing the exported Mockoon environments via the command line [here](https://github.com/Maurice22/mockoon-cli). It ain't pretty but it is doing the job.. Let me know if you don't think this cool, as I mainly used your code and built a wrapper around it...

By doing so, I realized that dummy-json has sever security issues, do you know about that?

[2020-04-27 13:58] 255kb commented on #62
Hi @Maurice22, of course you can, code is published under MIT licence. And it's always cool to see what the community come up with :)
I would just kindly ask you to avoid publishing it under this name on NPM for example. It would complicate things for me when adding this feature in the future.
Also I would like to take a slightly different path by creating a separated project, extract the code in

[2020-04-27 14:01] Maurice22 commented on #62
Sure thing, I won't publish it as in fact the main reason I put it on GitHub in the first place was to provide some intermediate solution for the people who might need the functionality right now, even if my approach is pretty limited..
I also like your approach better 😃

[2020-04-27 14:02] 255kb opened #293 "Replace Dummy JSON by FakerJS/Handlebars"
**Is your feature request related to a problem? Please describe.**
Dummy JSON is not maintained anymore, and has security issues. Also it does not offer as many helpers than FakerJS for example.

**Describe the solution you'd like**
Replace Dummy JSON by Faker JS + Handlebars.
Add "aliases" for current Dummy helpers that have different names in FakerJS for retro compatibility.

[2020-04-28 00:35] LidoDev commented on #292
@255kb After reviewing the code i was able to understand that it was an electron based app, so no way to talk about war files. But at the moment, i was able to run a dockerized version as a workarround of a defined environment.

The problem is, i want only to run the node server, so the electron app as a node application. Using:
    "serve:electron": "ELECTRON_RUN_AS_NODE=true electron ./dist --se

[2020-04-28 10:58] Maurice22 commented on #292
@LidoDev, I wrote a small wrapper for the Mockoon file format that only spins up the server part. It can be found here: https://github.com/Maurice22/mockoon-cli. Please not that this is by far not perfect and especially not production ready.. But maybe you can give it a shot.

[2020-04-28 11:24] 255kb commented on #292
@LidoDev Concerning what you tried to achieve I don't think there is a quick and easy solution. Application is based on Electron + Angular, so I don't see any out-of-the-box way of running it as a command line tool.
Maybe you should try @Maurice22 's CLI.
Please not that it's not an official solution and I won't do support for it.
An official solution is planned, but just not in a very near future

[2020-05-05 20:27] 255kb opened #294 "Error when truncating body for env logs"
**Describe the bug**
Data service truncate the request / response body. If it's not of string type (Buffer for example) JS will crash trying to `substring`

**To Reproduce**
Serve a file

**Expected behavior**
Should convert to string before truncation to show raw body

[2020-05-05 20:31] 255kb opened #295 "When serving a file, environment's content-type may override the detected content type"
**Describe the bug**
When serving a file, environment's content-type may override the detected mime type.
This content-type may be provided by the user so its presence needs to be detected before replacing with detected mime type.

**To Reproduce**
Serve a file, with no route Content-Type, and a JSON environment Content-Type. File will be served with JSON Content-Type, even if of type PNG or somet

[2020-05-07 10:08] krishnaSpotnana commented on #201
This is an important feature.It would be great if its fixed soon.

[2020-05-08 21:23] izerozlu commented on #250
I would like to look into that. I see that no is assigned yet. Is it available?

[2020-05-08 21:26] izerozlu commented on #247
I might look into that. Is it available

[2020-05-11 21:25] 255kb commented on #250
Hi @izerozlu Sure, you can work on this.
Here are some guidances, as I already thought about this feature a little bit.
- I think the same icon as route duplication should be used.
- it could be place next to the trash used to remove a route response
- duplication behavior should be the same than environments and routes: new duplicated route response should be inserted next to its source (and not

[2020-05-11 21:29] izerozlu commented on #250
@255kb You've given everything required for the further development. Thanks for that :).
Please see this reply as the confirmation.

[2020-05-11 21:30] 255kb commented on #247
Sorry but I would like to do this myself. Some big work on the UI is planned (moving all the header part somewhere else to declutter the application) and this is part of it. I still don't know how navigation will look and I will have to try multiple possibilities.

However, any suggestion is welcome.
Long story short, the top header are info related to the environment itself that does not change f

[2020-05-11 21:32] 255kb commented on #246
Depending on the implementation of this issue (using tabs for example) #247 may be closed completely

[2020-05-11 21:34] 255kb commented on #250
No problem! Do not hesitate if you have any question.

[2020-05-11 21:37] 255kb opened #296 "Disable scrolling when duplicating an environment or route"
**Describe the bug**
Route and envs duplication has been recently changed to append the new one after its source #239
Scrolling at the bottom make only sense when pressing the add button, not when duplicating anymore.

**To Reproduce**
Duplicate something.

**Expected behavior**
Should not scroll at all.

**Mockoon version:**

**OS / OS version:**
All

[2020-05-11 21:38] 255kb opened #297 "Make scrollbars more visible"
**Is your feature request related to a problem? Please describe.**
Yes Mockoon has scrollbars, we can barely see them!

**Describe the solution you'd like**
Make them visible, with a lighter color

[2020-05-12 07:12] izerozlu commented on #247
Decluttering is a good way to think but removing the port, prefix and latency sections might confuse newbie users.

But on the other hand it might prove to be useful removing them out of sight.

About the tabs, in my opinion those are one of the most aggressive way to clutter the application. Less the better.

[2020-05-12 19:20] #285 closed

[2020-05-12 19:20] #290 closed

[2020-05-12 19:20] #291 closed

[2020-05-12 19:20] #294 closed

[2020-05-12 19:20] #253 closed

[2020-05-12 19:20] #297 closed

[2020-05-12 19:21] 255kb commented on #250
@izerozlu I just pushed a big refactoring on master, please star your work from there, it will easier the review/merge. Thank you!

[2020-05-12 19:27] izerozlu commented on #250
Thanks for the heads up. I've not began working on the issue yet so no worries.

[2020-05-14 20:15] #104 closed

[2020-05-14 20:43] 255kb commented on #247
I understand what you are saying. On the other hand, there are already 3 "pages", sort of. The main one with the routes list and all the route details, the environment settings, and environment logs.
I had the impression that three tabs instead of the top bar would be clearer. Also, it seems that a lot of people don't see the logs icon which hides a very interesting feature.
I will think about thi

[2020-05-19 14:45] ninjaneer164 commented on #278
@255kb let me know if you have any questions/concerns with this issue.

[2020-05-20 21:39] sotcha opened #298 "Internal error on bad parsing of a request"
**Describe the bug**
An internal error occurs when we use **application/json** as **Content type** and the body is not a valid json.

**To Reproduce**
- Start mockoon server to 3000 port
- Create a request
`curl -H 'Content-Type: application/json' -X POST http://localhost:3000/testpath --data  'test-data'`

**Expected behavior**
We should see the request into _Envirnoment logs_ section but nothing

[2020-05-21 11:53] 255kb commented on #298
Apparently bug does not exists on 1.8.0 only on master.
Thank you for catching this early!

[2020-05-21 12:38] #298 closed

[2020-05-21 12:46] 255kb opened #299 "Add route headers and rules count in tab"
**Is your feature request related to a problem? Please describe.**
Without going to route response's headers and rules tabs it's not possible to know how much of them are setup.

**Describe the solution you'd like**
Add the counts `Rules (X)` in both tabs

[2020-05-21 12:49] 255kb opened #300 "Update default and dev environments to show more templating examples"
**Is your feature request related to a problem? Please describe.**
Features discoverability is bad, especially templating.

**Describe the solution you'd like**
Improve the demo environment (and dev env) to use more templating examples

This demo environment will probably be longer, use file import to load it instead of service.

[2020-05-21 12:52] 255kb opened #301 "Add tour when loading the app for the first time"
**Is your feature request related to a problem? Please describe.**
Features discoverability is not good for some features, especially logs, proxy mode, rules...

**Describe the solution you'd like**
Create a "tour" to be shown to first time users.

[ngx-tour](https://isaacplmann.github.io/ngx-tour/ng-bootstrap) `ng-bootstrap` version could be used.